<div class="top-nav-container flex flex-row justify-content-between align-content-center p-2">
    <div class="left-items flex align-items-center">
        <fa-icon *ngIf="menu$ | async" [icon]="faBars" class="hamburger-button" (click)="toggleMenu()"></fa-icon>
        <img src="assets/ministerio.jpg" height="30" />
    </div>
    <div class="center-items">
        aaaaa
    </div>
    <div class="right-items flex align-items-center ">
        <ng-container *ngIf="!user?.miniatura else imageTemplate">
            <p-avatar icon="pi pi-user" shape="circle" class="flex cursor-pointer" (click)="menu.toggle($event)" pTooltip="Opciones" tooltipPosition="left" size="large">
            </p-avatar>
        </ng-container>
        <ng-template #imageTemplate>
            <p-avatar [image]="user?.miniatura??''" shape="circle" class="flex cursor-pointer" (click)="menu.toggle($event)" pTooltip="Opciones" tooltipPosition="left" size="large">
            </p-avatar>
        </ng-template>
        <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
    </div>
</div>