<!-- <div class="top-nav-container flex flex-row justify-content-between align-content-center p-2">
    <div class="left-items flex align-items-center">
        <fa-icon *ngIf="menu$ | async" [icon]="faBars" class="hamburger-button" (click)="toggleMenu()"></fa-icon>
        <img src="assets/ministerio.jpg" height="30" />
    </div>
    <div class="center-items">
        <span class="p-input-icon-right">
            <ng-container *ngIf="searchValue; else searchButton">
                <i class="pi pi-times" (click)="clearSearch()" pTooltip="Cancelar búsqueda"></i>
            </ng-container>
            <ng-template #searchButton>
                <i class="pi pi-search"></i>
            </ng-template>
            <input class="p-inputtext" type="text" pInputText placeholder="¿Qué buscas?" [(ngModel)]="searchValue" (ngModelChange)="search$.next($event)" style="width: 20vw" id="global-search-app" />
        </span>
    </div>
    <div class="right-items flex align-items-center ">
        <ng-container *ngIf="!user?.profileImageUrl else imageTemplate">
            <p-avatar [label]="user.nameInitial" shape="circle" class="flex cursor-pointer" (click)="menu.toggle($event)" pTooltip="Opciones" tooltipPosition="left" size="large">
            </p-avatar>
        </ng-container>
        <ng-template #imageTemplate>
            <p-avatar [image]="user.profileImageUrl | getImage | async" shape="circle" class="flex cursor-pointer" (click)="menu.toggle($event)" pTooltip="Opciones" tooltipPosition="left" size="large">
            </p-avatar>
        </ng-template>
        <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
    </div>
</div> -->
<div class="head" [ngClass]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-left">
            <div class="flex flex-row gap-4 align-items-center ">
                <button pRipple class="head-menu-item-btn" *ngIf="showSidenavButton()" (click)="toggleMenu()">
                    <i-tabler name="align-justified" class="menu-icon"></i-tabler>
                </button>
                <div class="elipse-panel bg-pink-200 p-2 flex flex-row align-items-center gap-2">
                    <div class="elipse-panel bg-pink-500 p-2">
                        <span class="font-bold text-white">3/10</span>
                    </div>
                    <div class="info flex flex-column mr-2">
                        <span class="font-semibold text-sm">ETAPA EARLY</span>
                        <span class="text-xs">Fase 3</span>
                    </div>

                </div>
            </div>

        </div>
        <div class="head-content-mid">
            <div class="search-container">
                <div class="normal-search">
                    <input type="text" class="search" name="" id="" placeholder="Buscar...">
                    <i class="pi pi-search"></i>
                </div>
            </div>
        </div>
        <div class="head-content-right flex align-items-center gap-2 ">
            <div class="head-menu gap-2">
                <div class="notificiations">
                    <p-button styleClass="p-button-rounded button-app-second" icon="pi pi-bell">

                    </p-button>
                    <div class="circle-indicator pulse"></div>
                </div>
                <div class="elipse-panel p-2 panel-user flex flex-row align-items-center gap-2">
                    <ng-container *ngTemplateOutlet="userShow"></ng-container>
                </div>
            </div>
            <!-- <div class="head-user-avatar-container">
                <div class="head-user-avatar">
                    <img [src]="user.profileImageUrl | getImage | async" alt="" class="user-avatar">
                    
                </div>
            </div> -->
        </div>

    </div>
</div>


<ng-template #userShow>
    <div class="elipse-panel p-2 flex flex-column max-w-15rem ">
        <span class="font-semibold text-base uppercase  overflow-hidden white-space-nowrap text-overflow-ellipsis" [pTooltip]="user.fullName" tooltipPosition="left">{{user.fullName}}</span>
        <span class="font-semibold set-color-appTwo text-sm  overflow-hidden white-space-nowrap text-overflow-ellipsis" [pTooltip]="user.fullName" tooltipPosition="left">{{rolName}}</span>
    </div>
    <div class="info flex flex-column">
        <p-avatar [label]="user.nameInitial" shape="circle" class="flex cursor-pointer" pTooltip="Opciones" tooltipPosition="left" size="large" (click)="viewUserBoard = true">
        </p-avatar>
        <!-- <ng-container *ngIf="!user?.profileImageUrl else imageTemplate">
                                <p-avatar [label]="user.nameInitial" shape="circle" class="flex cursor-pointer" pTooltip="Opciones" tooltipPosition="left" size="large">
                                </p-avatar>
                            </ng-container>
                            <ng-template #imageTemplate>
                                <p-avatar [image]="user.profileImageUrl | getImage | async" shape="circle" class="flex cursor-pointer" pTooltip="Opciones" tooltipPosition="left" size="large">
                                </p-avatar>
                            </ng-template> -->
    </div>
</ng-template>


<p-sidebar [(visible)]="viewUserBoard" position="right" styleClass="w-22rem border-sidebar" appendTo="body" [modal]="false" [showCloseIcon]="true">
    <ng-template pTemplate="header"></ng-template>
    <ng-template pTemplate="content" styleClass="m-0 p-0"><ng-container *ngTemplateOutlet="userBoard"></ng-container></ng-template>
    <ng-template pTemplate="footer"></ng-template>
</p-sidebar>

<ng-template #userBoard>
    <div class="flex flex-column w-full h-full gap-2 align-items-center justify-content-between">
        <div>
            <ng-container *ngTemplateOutlet="userShow"></ng-container>
        </div>
        <div class="normal-panel m-2 px-5 py-4 flex flex-column gap-2 ">
            <i-tabler class="set-color-appSeven" name="layout-board-split"></i-tabler>
            <span class="font-bold">'Decidir'</span>
            <span class="text-xs">Contenido de Fase 3 - Etapa Early</span>
            <p-button styleClass="button-yellow button-border-mid mt-3">
                <span class="">Retomar ultimo contenido</span>
            </p-button>
        </div>
        <div class="w-full flex flex-column gap-2">
            <p-button styleClass="w-full button-yellow-second button-border-mid w-full align-items-center justify-content-between " (onClick)="logOut()">
                <span class="mx-2 font-semibold	">Cerrar Sesión</span>
                <i-tabler class="sidenav-link-icon" name="door-exit"></i-tabler>
            </p-button>
            <p-button styleClass="w-full button-grey button-border-mid w-full align-items-center justify-content-between " (onClick)="profileSetting()">
                <span class="mx-2 font-semibold	">Configuración de cuenta</span>
                <i-tabler class="sidenav-link-icon" name="settings"></i-tabler>
            </p-button>
        </div>
    </div>

</ng-template>