<ng-container *ngIf="!loaded; else elseTemplate">
    <app-loading> </app-loading>
</ng-container>
<ng-template #elseTemplate>
    <ng-container *ngIf="!error; else errorTemplate">
        <div class="w-full h-15rem flex flex-column align-items-center justify-content-center" *ngIf="startup">
            <h3>Aceptar invitación de unirse a la startup de {{startup.item['nombre']}}</h3>
            <div class="flex flex-row align-items-center gap-3 pt-3">
                <p-button label="Si" styleClass="p-button-text w-4rem" (onClick)="accept()"></p-button>
            </div>
        </div>
    </ng-container>
    <ng-template #errorTemplate>
        <div class="w-full flex align-items-center justify-content-center h-full">
            <h3>{{error}}</h3>
        </div>
    </ng-template>
</ng-template>

<p-confirmDialog key="confirmDialogStartup" [style]="{ width: '50vw' }"></p-confirmDialog>