<div class="w-full h-max-router overflow-auto px-2 md:px-4">
    <ng-container *ngIf="!loaded; else elseTemplate">
        <app-loading> </app-loading>
    </ng-container>
    <ng-template #elseTemplate>
        <ng-container *ngIf="!startup; else componentTemplate">
            <p class="w-full">
                Aun no perteneces a ninguna startup
            </p>
        </ng-container>
        <ng-template #componentTemplate>
            <div class="flex w-full flex-column xl:flex-row ">
                <div class="mt-4 normal-panel panel-startup w-full xl:w-4 flex flex-column justify-content-between" style="height: 85vh;">
                    <div class="flex flex-column">
                        <div>
                            <div class="flex flex-row justify-content-between">

                                <ng-container *ngIf="leaderStartup._id === profileDoc._id; else avatarTemplateSimple">
                                    <app-avatar-uploader id="avatarChange" styleClass="w-10rem h-10rem" shape="circle" [imageUrl]="returnUrlThumbnail()" (onUpload)="uploadImage($event)" [disableRemove]="true"></app-avatar-uploader>
                                </ng-container>
                                <ng-template #avatarTemplateSimple>
                                    <ng-container *ngIf="startup.thumbnail && startup.thumbnail !== '' else noChangeThubnail">
                                        <p-avatar styleClass="w-10rem h-10rem" [image]="startup.thumbnail" shape="circle" class="startup-thumbnail">
                                        </p-avatar>
                                    </ng-container>
                                    <ng-template #noChangeThubnail>
                                        <i-tabler name="fence" class="startup-thumbnail"></i-tabler>
                                    </ng-template>
                                </ng-template>
                                <i-tabler id="editInfoStartup" name="edit" class="edit-btn cursor-pointer" pTooltip="Editar datos de startUp" (click)="editStartup()" *ngIf="leaderStartup._id === profileDoc._id"></i-tabler>
                            </div>

                            <div class="h-3rem"></div>
                            <div class="flex flex-row align-items-center gap-2">
                                <i-tabler *ngIf="leaderStartup._id === profileDoc._id" name="" class="text-center" name="bulb" style="color:#18E4E6; cursor:pointer;" (click)="launchTour()"></i-tabler>
                                <h2>{{startup.item['nombre']}}</h2>
                            </div>

                            <p class="mt-3">{{startup.item['descripcion']}}</p>
                        </div>
                    </div>
                    <div class="flex flex-column gap-2">
                        <span class="text-xs">Responsable</span>
                        <div class="flex flex-row align-items-center">
                            <p-avatar [label]="leaderStartup.item['nombre'][0]" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                            <p>{{leaderStartup.item['nombre']}}</p>
                        </div>

                    </div>
                </div>


                <div class="hidden xl:flex flex-column gap-4 w-full xl:w-8 px-4 display-content scrollwrap scrollwrap_delayed">
                    <ng-template [ngTemplateOutlet]="sideContent"></ng-template>
                </div>
                <div class="flex xl:hidden flex-column gap-4 w-full xl:w-8 px-4 display-content">
                    <ng-template [ngTemplateOutlet]="sideContent"></ng-template>
                </div>
            </div>
        </ng-template>

    </ng-template>
</div>

<ng-template #sideContent>
    <div class="flex flex-column gap-4">
        <!-- <div class="flex w-auto gap-4 mt-4">
            <div class="flex flex-column gap-4 w-full">
                <label style="font-weight: 600; margin-left:2rem; font-size:1.5rem">Reporte Ingresos -
                    costos</label>
                <div class="statics-panel bg-pastel-1"></div>
            </div>
            <div class="flex flex-column gap-4 w-full">
                <label style="font-weight: 600; margin-left:2rem; font-size:1.5rem">Reporte horas
                    invertidas</label>
                <div class="statics-panel bg-pastel-2"></div>
            </div>
        </div> -->

        <p-table #dt class="w-full table-container table-dialog" [value]="startup.entrepreneurs" [tableStyle]="{'min-width': '50rem'}" paginatorPosition="bottom" [currentPageReportTemplate]="textSummary" dataKey="_id" [showCurrentPageReport]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true" scrollDirection="both">
            <ng-template pTemplate="caption">
                <div class="table-header w-full flex flex-row justify-content-between align-items-center ">
                    <span class="header color-custom ml-3">Equipo</span>
                    <div class="flex flex-wrap justify-content-center" style="gap:0.5rem;">
                    </div>
                    <i-tabler name="user-plus" pTooltip="Invitar" tooltipPosition="left" class="edit-btn cursor-pointer" (click)="inviteDialog()" *ngIf="canInvite && leaderStartup._id === profileDoc._id"></i-tabler>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Emprendedor</th>
                    <th>Rol</th>
                    <th>Funciones</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-entrepreneur>
                <tr class="cursor-pointer">
                    <td class="text-center">{{entrepreneur.item['nombre']}}</td>
                    <td class="text-center">{{rolStartupsNames[entrepreneur['rol']]}}</td>
                    <td class="text-center">{{entrepreneur['description']}}</td>
                    <td class="text-center">
                        <i-tabler *ngIf="leaderStartup._id === profileDoc._id" name="" name="edit" class="edit-btn cursor-pointer" (click)="editDataEntrepreneur(entrepreneur)" id="functionsStartup"></i-tabler>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <span>{{paginatorRightMsg()}}</span>
            </ng-template>
            <!-- <ng-template pTemplate="paginatorright">
              
            </ng-template> -->
        </p-table>

        <div class="normal-panel justify-center align-items-center h-auto" style="padding: 1.875rem; border-radius: 3.25rem">
            <div class="flex flex-column gap-4">
                <div class="grid-container">
                    <ng-container *ngFor="let item of formNegociosFields">
                        <ng-template [ngTemplateOutlet]="fieldFormTemplate" [ngTemplateOutletContext]="{ component: item, doc: startup }"></ng-template>
                    </ng-container>
                </div>
            </div>
        </div>


    </div>
</ng-template>

<ng-template #fieldFormTemplate let-component="component" let-doc="doc">
    <ng-container [ngSwitch]="true">
        <ng-container *ngSwitchCase="['datamap', 'editgrid', 'datagrid', 'fieldset', 'html', 'htmlelement'].includes(component.type)">
            <!-- Skip -->
        </ng-container>
        <ng-container *ngSwitchCase="['datetime', 'dateAndTime', 'time'].includes(component.type)">
            <ng-template [ngTemplateOutlet]="paramCardTemplate" [ngTemplateOutletContext]="{
                        data: {
                            label: component.label,
                            value: doc.item[component.key] ? (doc.item[component.key] | date: component.format) : noValuePlaceholder
                        }
                    }"></ng-template>
        </ng-container>
        <ng-container *ngSwitchCase="['selectboxes'].includes(component.type)">
            <ng-container *ngFor="let item of component.values | keyvalue">
                <ng-template *ngIf="doc.item[component.key][$any(item.key)]" [ngTemplateOutlet]="paramCardTemplate" [ngTemplateOutletContext]="{
                                                                data: {
                                                                    label: component.label,
                                                                    value: $any(item.value)
                                                                }
                                                            }"></ng-template>
            </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="['select'].includes(component.type)">
            <ng-container *ngIf="component.multiple; else onlyAOption">
                <ng-template [ngTemplateOutlet]="paramCardTemplate" [ngTemplateOutletContext]="{
                                                                    data: {
                                                                        label: component.label,
                                                                        value: doc.item[component.key] ?  doc.item[component.key].join(',') : noValuePlaceholder
                                                                    }
                                                                }"></ng-template>
            </ng-container>
            <ng-template #onlyAOption>
                <ng-template [ngTemplateOutlet]="paramCardTemplate" [ngTemplateOutletContext]="{
                                                                                    data: {
                                                                                        label: component.label,
                                                                                        value: doc.item[component.key] ?  doc.item[component.key] : noValuePlaceholder
                                                                                    }
                                                                                }"></ng-template>
            </ng-template>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <ng-template [ngTemplateOutlet]="paramCardTemplate" [ngTemplateOutletContext]="{
                        data: {
                            label: component.label,
                            value: doc.item[component.key] ? doc.item[component.key] : noValuePlaceholder
                        }
                    }"></ng-template>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #paramCardTemplate let-data="data">
    <div class="info-grid-cell p-2 border-round">
        <span class="cell-label" [pTooltip]="data.label" tooltipPosition="top">
            {{data.label | uppercase}}
        </span>
        <div class="cell-line"></div>
        <span class="cell-value" [pTooltip]="data.value" tooltipPosition="top">{{data.value}}</span>
    </div>
</ng-template>

<p-dialog appendTo="body" [(visible)]="editEntrepreneur" [dismissableMask]="true" [style]="{width: '50vw'}" [breakpoints]="{'960px': '85vw', '640px': '100vw'}" maskStyleClass="dialog-app" [modal]="true" (onHide)="closeDataEntrepreneur()">
    <div class="flex flex-column w-full" *ngIf="editEntrepreneur">
        <div class="w-full flex flex-row gap-3">
            <i-tabler name="calendar-bolt" class="icon-dialog"></i-tabler>
            <div class="content-resource w-full flex flex-column justify-content-between pb-2 pr-4">
                <h2 class="overflow-hidden text-xl lg:text-3xl white-space-nowrap text-overflow-ellipsis" [style.color]="'black'">
                    Editar información</h2>
                <p>{{editEntrepreneur['item']['nombre']}} </p>
            </div>
        </div>
        <p-divider></p-divider>
        <div style="height: 1.5rem;"></div>
        <span class="w-full flex flex-column justify-content-center align-items-center gap-2 p-3">
            <span class="w-full app-input-field field-h-1">
                <label htmlFor="textFunctions">Funciones - {{editEntrepreneur.description.length}}/120
                    caracteres
                    permitidos</label>
                <textarea maxlength="120" inputId="textFunctions" rows="5" style="width: 100%; resize: none;" [maxlength]="120" [(ngModel)]="editEntrepreneur.description" placeholder="Ingresa las funciones que cumple" pInputTextarea></textarea>
            </span>

            <p-button (onClick)="saveDataEntrepreneur()" pTooltip="Guardar cambios" tooltipPosition="top" icon="pi pi-save" styleClass="p-button-text"></p-button>
        </span>
    </div>

</p-dialog>

<p-dialog appendTo="body" [(visible)]="showDialogInvite" [dismissableMask]="true" [style]="{width: '50vw'}" [breakpoints]="{'960px': '85vw', '640px': '100vw'}" maskStyleClass="dialog-app" [modal]="true" (onHide)="invite = ''">
    <div class="flex flex-column w-full">
        <div class="w-full flex flex-row gap-3">
            <i-tabler name="calendar-bolt" class="icon-dialog"></i-tabler>
            <div class="content-resource w-full flex flex-column justify-content-between pb-2 pr-4">
                <h2 class="overflow-hidden text-xl lg:text-3xl white-space-nowrap text-overflow-ellipsis" [style.color]="'black'">
                    Invitar a emprendedor</h2>
                <p>Por favor, introduce la dirección de correo electrónico del usuario que deseas invitar al grupo. Nos aseguraremos de enviarle una invitación para que se una a nosotros </p>
            </div>
        </div>
        <p-divider></p-divider>
        <span class="w-full flex flex-column justify-content-center align-items-center gap-2 p-3">
            <span class="w-full app-input-field field-h-1">
                <label htmlFor="emailInvite">Email</label>
                <input pInputText id="emailInvite" [(ngModel)]="invite" class="inputfield field-full" placeholder="Ingresa el correo " />
            </span>

            <p-button icon="pi pi-send" (onClick)="inviteToStartup()" [loading]="saving" label="Invitar" styleClass="p-button-text"></p-button>
        </span>
    </div>

</p-dialog>