@import "/src/styles.scss";

.scrollwrap {
  overflow-y: auto;
  visibility: hidden;
  height: 85vh !important;
  // max-height: calc(100vh - 102px - 2.5rem) !important;
}

.display-content,
.scrollwrap:hover,
.scrollwrap:focus {
  visibility: visible;
}

.statics-panel {
  border-radius: 1.25rem;
  padding: 1.875rem;
}

.bg-pastel-1 {
  background-color: #e7f2ff;
}

.bg-pastel-2 {
  background-color: #fff1dc;
}

.panel-startup {
  padding: 1.875rem;
  border-radius: 3.25rem;
}

.startup-thumbnail {
  background-color: #2196f3;
  color: #ffffff;
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  padding: 1.5rem;
}

.edit-btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.65rem;
  border-radius: 0.625rem;
  background-color: #f6f6f6;
  color: $appTextThree;
  &:hover {
    border-color: darken(#f6f6f6, 5%) !important;
    background-color: darken(#f6f6f6, 5%) !important;
  }
}

.info-grid-cell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cell-label {
  color: #6b6b6b;
  flex-shrink: 0; // Evita que el label se encoge
  margin-right: 10px; // Espacio entre el label y el valor
  position: relative; // Permite posicionar la línea
  width: 50%;
  &:after {
    content: "";
    position: absolute;
    top: 20%;
    // left: 100%; // Coloca la línea a la derecha del label
    // width: 50%; // El 50% de la pantalla para el valor
    border-top: 1px solid #000; // Estilo de la línea
  }
}

.cell-separator {
  margin: 0 0 0 0;
  border-bottom: 2px solid $appText;
  height: auto;
  // width: 100%;
  z-index: 0;
}

.cell-value {
  background-color: #f6f6f6;
  color: black;
  width: 50%;
  padding: 0.65rem;
  font-weight: 500;
  border-radius: 0.5rem;
}
