.top-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4;
}

.fields {
  flex-basis: 70%;
}

#mapSite {
  height: 50vh;
}

#mapService {
  height: 30vh;
}
