<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Restablecer contraseña</h3>
            <p class="text-center">Introduzca su dirección de correo electrónico para solicitar que se restablezca su contraseña..</p>
            <div class="formGroup">
                <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
            </div>
            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="formGroup">
                <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.send_remember_email(passwordResetEmail.value)">
            </div>
        </div>
    </div>
</div>