<ng-container *ngIf="loaded else loadingTemplate">
    <div class="px-4 py-2">
        <div class="w-full flex flex-row w-full gap-4 text-white justify-content-between align-items-center ">
            <h2>Configuración bolsa de horas</h2>
            <div class="flex flex-row gap-2">

                <p-button *ngIf="activitiesConfig" label="Guardar cambios" (click)="updateConfig()"></p-button>
            </div>
        </div>
    </div>

    <p-tabView styleClass="ml-4 mr-4">
        <p-tabPanel header="General" *ngIf="user?.allowed(userPermission.hours_edit_main)">
            <div class="p-4 border-round">
                <div class="flex-auto p-4 bg-white w-full">
                    <label for="limitHours">Limite de horas global</label>
                    <p-inputNumber [(ngModel)]="activitiesConfig.limit" inputId="limitHours" mode="decimal" [min]="0" class="pl-2"> </p-inputNumber>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Actividades" *ngIf="user?.allowed(userPermission.hours_edit_activities)">
            <div class="px-4 pb-4 border-round">
                <div class="flex flex-row justify-content-between">
                    <p class="font-bold">Horas libres {{activitiesConfig.limit - totalActivities}}</p>
                </div>
                <div class="flex flex-wrap gap-3 p-fluid">
                    <ng-container *ngFor="let item of showActivityConfig">
                        <div class="flex-auto">
                            <label for="activityName">{{item.activityName}} </label>
                            <p-inputNumber [(ngModel)]="item.limit" inputId="activityName" mode="decimal" [min]="0" (ngModelChange)="updateCalcHours()"> </p-inputNumber>
                        </div>
                    </ng-container>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Expertos" *ngIf="!phase.basePhase && user?.allowed(userPermission.hours_edit_experts)">
            <app-assign-hours [assignedHours]="assignedHoursExpert" [list]="activitiesConfig.calcHoursExperts.list" [activitiesConfig]="activitiesConfig" [limit]="expertsHours" [property]="'experts'"></app-assign-hours>
        </p-tabPanel>
        <p-tabPanel header="StartUps" *ngIf="!phase.basePhase && user?.allowed(userPermission.hours_edit_startups)">
            <!-- <app-assign-hours></app-assign-hours> -->
        </p-tabPanel>
    </p-tabView>

</ng-container>

<ng-template #loadingTemplate>
    <app-loading></app-loading>
</ng-template>