<ng-container *ngIf="loaded else loadingTemplate">
    <div class="flex flex-column xl:flex-row gap-4 align-items-end px-4">
        <div class="flex flex-column gap-3 flex-grown-1 ">
            <h3>Configuración bolsa de horas</h3>
            <div class="flex gap-2 w-10">
                <i-tabler class="text-center" name="bulb" style="color:#18E4E6; height:2rem; width:2rem;"></i-tabler>
                <p class="th2">Asigna la cantidad de horas objetivo para cada las actividades dentro del batch, asigna horas tanto a startups como experts y team coach.
                </p>
            </div>
        </div>
        <div class="dpandfilters align-items-center justify-content-center sm:justify-content-end gap-1 sm:gap-3">
            <p-button *ngIf="activitiesConfig" label="Guardar cambios" class="mx-3" (click)="updateConfig()"></p-button>
        </div>
    </div>
    <p-tabView styleClass="ml-4 mr-4 mt-2">
        <p-tabPanel header="Actividades" *ngIf="user?.allowed(userPermission.hours_edit_activities)">
            <div class="px-4 pb-4 border-round">
                <div class="card w-full flex flex-column justify-content-center align-items-center">
                    <p class="font-bold">Horas globales</p>
                    <p-knob [(ngModel)]="activitiesConfig.limit" [readonly]="true"></p-knob>
                </div>
                <div class="flex flex-wrap gap-3 p-fluid pt-2">
                    <ng-container *ngFor="let item of showActivityConfig">
                        <div class="app-input-field">
                            <label [for]="'config' + item.id" class="font-bold">{{item.activityName}} </label>
                            <p-inputNumber [(ngModel)]="item.limit" [min]="0" suffix=" hora(s)" (ngModelChange)="updateCalcHours()" [showButtons]="true" [inputId]="'config' + item.id"> </p-inputNumber>
                        </div>
                    </ng-container>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Startups" *ngIf="!phase.basePhase && user?.allowed(userPermission.hours_edit_startups)">
            <app-assign-startups-hours class="h-full w-full" [config]="activitiesConfig" [listStartups]="listStartups" [activitiesConfig]="showActivityConfig" [changes]="changesStartups"> </app-assign-startups-hours>
        </p-tabPanel>
        <p-tabPanel header="Expertos" *ngIf="!phase.basePhase && user?.allowed(userPermission.hours_edit_experts)">
            <app-assign-hours class="h-full w-full" [config]="activitiesConfig" [list]="listExperts" [activitiesConfig]="activitiesExpert" [changes]="changesExperts" [type]="'experts'" [columnsHours]="columnsExpertsHours"></app-assign-hours>
        </p-tabPanel>
        <p-tabPanel header="Team Coach" *ngIf="!phase.basePhase && user?.allowed(userPermission.hours_edit_startups)">
            <app-assign-hours class="h-full w-full" [config]="activitiesConfig" [list]="listTeamCoaches" [activitiesConfig]="activitiesTeamCoach" [changes]="changesTeamCoaches" [type]="'teamCoaches'" [columnsHours]="columnsTeamCoachesHours"></app-assign-hours>
        </p-tabPanel>

        <p-tabPanel header="Reporte">

        </p-tabPanel>
    </p-tabView>

</ng-container>

<ng-template #loadingTemplate>
    <app-loading></app-loading>
</ng-template>