<ng-container *ngIf="loaded else loadingTemplate">
    <div class="px-4 py-2">
        <div class="w-full flex flex-row w-full gap-4 text-white justify-content-between align-items-center ">
            <h2>Configuración bolsa de horas</h2>
            <div class="flex flex-row gap-2">
                <p-button *ngIf="activitiesConfig" label="Guardar cambios" (click)="updateConfig()"></p-button>
            </div>
        </div>
    </div>

    <p-tabView styleClass="ml-4 mr-4">
        <p-tabPanel header="Actividades" *ngIf="user?.allowed(userPermission.hours_edit_activities)">
            <div class="px-4 pb-4 border-round">
                <div class="card w-full flex flex-column justify-content-center align-items-center">
                    <p class="font-bold">Horas globales</p>
                    <p-knob [(ngModel)]="activitiesConfig.limit" [readonly]="true"></p-knob>
                </div>
                <div class="flex flex-wrap gap-3 p-fluid pt-2">
                    <ng-container *ngFor="let item of showActivityConfig">
                        <div class="flex-auto">
                            <label [for]="'config' + item.id" class="font-bold">{{item.activityName}} </label>
                            <p-inputNumber [(ngModel)]="item.limit" [min]="0" suffix=" hora(s)" (ngModelChange)="updateCalcHours()" [showButtons]="true" [inputId]="'config' + item.id"> </p-inputNumber>
                        </div>
                    </ng-container>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Startups" *ngIf="!phase.basePhase && user?.allowed(userPermission.hours_edit_startups)">
            <app-assign-startups-hours class="h-full w-full" [config]="activitiesConfig" [listStartups]="listStartups" [activitiesConfig]="showActivityConfig" [changes]="changesStartups"> </app-assign-startups-hours>

        </p-tabPanel>
        <p-tabPanel header="Expertos" *ngIf="!phase.basePhase && user?.allowed(userPermission.hours_edit_experts)">
            <app-assign-hours class="h-full w-full" [config]="activitiesConfig" [list]="listExperts" [activitiesConfig]="activitiesExpert" [changes]="changesExperts" [type]="'experts'" [columnsHours]="columnsExpertsHours"></app-assign-hours>
        </p-tabPanel>
        <p-tabPanel header="Team Coach" *ngIf="!phase.basePhase && user?.allowed(userPermission.hours_edit_startups)">
            <app-assign-hours class="h-full w-full" [config]="activitiesConfig" [list]="listTeamCoaches" [activitiesConfig]="activitiesTeamCoach" [changes]="changesTeamCoaches" [type]="'teamCoaches'" [columnsHours]="columnsTeamCoachesHours"></app-assign-hours>
        </p-tabPanel>
    </p-tabView>

</ng-container>

<ng-template #loadingTemplate>
    <app-loading></app-loading>
</ng-template>