<div class="w-full flex flex-column">
    <p-tabView class="panel-notifications">
        <p-tabPanel header="Nuevas">
            <div class="flex flex-row align-items-center justify-content-between">
                <div class="left-side flex flex-row align-items-center gap-2">
                    <span class="text-3xl">{{notificationNew.length}}</span>
                    <span class="text-base">entradas</span>
                </div>
                <div class="right-side">
                    tiempo
                </div>
            </div>
            <div class="flex flex-column gap-3 mt-5">
                <ng-container *ngFor="let notification of notificationNew">
                    <ng-container [ngTemplateOutlet]="cardNotification" [ngTemplateOutletContext]="{notification, type: 'noRead'}">
                    </ng-container>
                </ng-container>
            </div>


        </p-tabPanel>
        <p-tabPanel header="Leídas">
            <div class="flex flex-row align-items-center justify-content-between">
                <div class="left-side flex flex-row align-items-center gap-2">
                    <span class="text-3xl">{{notificationRead.length}}</span>
                    <span class="text-base">entradas</span>
                </div>
                <div class="right-side">
                    tiempo
                </div>
            </div>
            <div class="flex flex-column gap-3 mt-5">
                <ng-container *ngFor="let notification of notificationRead">
                    <ng-container [ngTemplateOutlet]="cardNotification" [ngTemplateOutletContext]="{notification, type: 'read'}">
                    </ng-container>
                </ng-container>
            </div>
        </p-tabPanel>

    </p-tabView>

</div>

<ng-template #cardNotification let-notification="notification" let-type="type">
    <div @fadeInOut class="notification-card w-full flex flex-column p-3">
        <div class="w-full flex flex-row align-items-start justify-content-between">
            <span class="capitalize text-xs">{{notification.dateString}}</span>
            <i class="pi pi-times cursor-pointer" (click)="action(notification, type)"></i>
        </div>
        <div class="notification-info flex flex-row align-items-center gap-2  mt-3">
            <ng-container [ngSwitch]="notification.type">
                <ng-container *ngSwitchCase="notificationTypes.calendar">
                    <i-tabler name="calendar-time" class="normal-color-icon"></i-tabler>
                </ng-container>
                <ng-container *ngSwitchCase="notificationTypes.notes">
                    <i-tabler name="checklist" class="normal-color-icon"></i-tabler>
                </ng-container>

                <ng-container *ngSwitchCase="notificationTypes.approved">
                    <i-tabler name="checks" class="primary-color-icon"></i-tabler>
                </ng-container>
                <ng-container *ngSwitchCase="notificationTypes.homework">
                    <i-tabler name="clock-code" class="normal-color-icon"></i-tabler>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <i-tabler name="bell-code" class="normal-color-icon"></i-tabler>
                </ng-container>
            </ng-container>
            <span class="w-9 text-sm font-semibold">{{notification.text}}</span>
        </div>
    </div>
</ng-template>