<ng-container *ngIf="!loadingTable; else loadingTableTemplates">
    <ng-container *ngIf="tableForm; else elseTable">
        <div class="flex px-4 py-3 w-full" style="height: 70vh;">
            <ng-container *ngIf="tableContext">
                <app-dynamic-table [context]="tableContext" [options]="optionsTable" [loading]="loading" [title]="tableTitle" (action)="actionFromTable($event)">
                </app-dynamic-table>
            </ng-container>
        </div>
    </ng-container>
    <ng-template #elseTable>
        <p-table #dt2 [value]="tableRows" [tableStyle]="{'min-width': '60rem'}" dataKey="key" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true" [globalFilterFields]="['startup.item.nombre', 'state', 'observations']" [tableStyle]="{ 'min-width': '75rem' }">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <span>{{optionsTable.summary}}</span>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex align-items-center">
                            Nombre
                            <p-columnFilter type="text" field="startup.item.nombre" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Estado
                            <p-columnFilter type="text" field="state" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th *ngIf="resource.type !== resourcesTypes.downloadable">
                        <div class="flex align-items-center">
                            Observaciones
                            <p-columnFilter type="text" field="observations" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-itemRow>
                <tr>
                    <td>{{itemRow.startup.item.nombre}}</td>
                    <td>{{itemRow.state}}</td>
                    <td *ngIf="resource.type !== resourcesTypes.downloadable">{{itemRow.observations}}</td>
                    <td class="w-full flex flex-wrap align-items-center justify-content-center gap-2">
                        <p-button *ngIf="resource.type !== resourcesTypes.downloadable" label="Calificar" icon="pi pi-check" pTooltip="Calificar" (onClick)="evaluate(itemRow)"></p-button>
                        <ng-container *ngIf="itemRow.modified">
                            <p class="text-orange-600">Ha sido modificado</p>
                        </ng-container>

                    </td>
                </tr>
            </ng-template>
        </p-table>

    </ng-template>

</ng-container>
<ng-template #loadingTableTemplates>
    <app-loading></app-loading>
</ng-template>

<p-dialog header="Evaluar" [(visible)]="showDialogEvaluation" [style]="{ width: '80vw', 'max-height': '70vh' }" [draggable]="false" [resizable]="false" [modal]="true">
    <div style="height: 1.5rem;"></div>
    <ng-container *ngIf="replyForEvaluated?.item?.file">
        <div class="w-full flex align-items-center justify-content-center p-2">
            <p-button label="Ver archivo" icon="pi pi-file" pTooltip="Archivo subido" (onClick)="downloadFileReply(replyForEvaluated)"></p-button>
        </div>

    </ng-container>

    <div class="w-full flex flex-column gap-4" *ngIf="replyForEvaluated">
        <div class="w-full flex-row">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user-edit"></i>
            </span>
            <span class="p-float-label" style="width: 100%">
                <p-dropdown styleClass="w-full" id="reviewers" [options]="possibleEvaluations" [(ngModel)]="replyForEvaluated.state" [style]="{ width: '100%' }" appendTo="body" [autoDisplayFirst]="false"></p-dropdown>
                <label for="reviewers">Estado</label>
            </span>
        </div>
        <div class="w-full">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-align-left"></i>
                </span>
                <span class="p-float-label">
                    <textarea id="descEvent" rows="3" style="width: 100%;" [(ngModel)]="replyForEvaluated.observations" pInputTextarea></textarea>
                    <label for="descEvent">Observaciones</label>
                </span>
            </div>
        </div>
    </div>
    <p-button type="submit" label="Guardar evaluación" (onClick)="saveEvaluation()" styleClass=" field col-12  p-button-lg w-full border-round-2xl my-2 p-3 bg-primary" [disabled]="saving"></p-button>
</p-dialog>