<p-card class="login-card" styleClass="p-card-shadow shadow-5 border-round-2xl p-2">
    <div class="flex align-items-center justify-content-center">
        <img src="/assets/startup.png" alt="logo" height="auto" class="cursor-pointer" style="width: 180px !important;">
    </div>
    <h1 class="text-center m-0">Ingresa</h1>
    <p class="text-center font-medium text-sm">Si necesitas ayuda haz <a href="https://www.ejemplo.com/" class="link-style">click aquí</a>.</p>
    <form (keyup)="onKeyUp($event)" class="formgrid grid mt-6 gap-3" [formGroup]="signUpForm">
        <span class="w-full">
            <input id="name" type="text" pInputText formControlName="name" class="inputfield p-4 border-round-2xl form-field field-full" placeholder="Nombre">
            <small for="name" class="p-error field-help">El nombre no es valido</small>
        </span>

        <span class="w-full">
            <p-password styleClass="field-full" inputStyleClass="p-4 border-round-2xl" [toggleMask]="true" [feedback]="false" formControlName="password" placeholder="Contraseña"></p-password>

            <div class="flex align-items-center justify-content-center">
                <div [hidden]="signUpForm.controls['password'].valid || !signUpForm.controls['password'].dirty" class="alert alert-danger">
                    <small class="p-error">Debe ingresarse una contraseña</small>
                </div>
            </div>
            <div class="flex align-items-center justify-content-center">
                <div [hidden]="signUpForm.controls['password'].valid || !signUpForm.controls['password'].dirty" class="alert alert-danger">
                    <small *ngIf="signUpForm.controls['password'].errors?.['required']" class="error-message">La
                        contraseña es obligatoria</small>
                    <small *ngIf="signUpForm.controls['password'].errors?.['minlength']" class="error-message">La
                        contraseña debe tener al menos 6 caracteres</small>
                </div>
            </div>
        </span>

        <span class="w-full">
            <p-password styleClass="field-full" inputStyleClass="p-4 border-round-2xl" [toggleMask]="true" [feedback]="false" formControlName="confirmPassword" placeholder="Confirmar contraseña"></p-password>
            <div class="flex align-items-center justify-content-center">
                <div [hidden]="signUpForm.controls['confirmPassword'].valid || !signUpForm.controls['confirmPassword'].dirty" class="alert alert-danger">
                    <small class="p-error">Debe ingresarse una contraseña</small>
                </div>
            </div>
            <div class="flex align-items-center justify-content-center">
                <div [hidden]="signUpForm.controls['confirmPassword'].valid || !signUpForm.controls['confirmPassword'].dirty" class="alert alert-danger">
                    <small *ngIf="signUpForm.controls['confirmPassword'].errors?.['required']" class="error-message">
                        Ambas contraseñas deben ser iguales
                    </small>
                </div>
            </div>
        </span>



    </form>
    <div class="flex flex-row justify-content-end ">
        <p class="link-style cursor-pointer">Olvidé mi contraseña</p>
    </div>
    <p-button type="submit" label="Entrar" (onClick)="onSubmit()" [disabled]="!signUpForm.valid" styleClass="p-button-lg w-full border-round-2xl my-2 p-3 bg-primary"></p-button>
    <p-divider>
        <p class="font-medium">O ingresa con tu cuenta:</p>
    </p-divider>
    <div class="flex flex-row align-items-center justify-content-around py-2">
        <img src="/assets/google.png" alt="inGoogle" height="auto" class="cursor-pointer" style="width: 80px !important;" (click)="googleAuth()">
    </div>
    <p class="text-center font-medium text-base">¿No eres miembro? <a class="link-style cursor-pointer text-purple-800" routerLink="/sign-in">Volver al login</a>.</p>
</p-card>