@import "src/styles.scss";

.main-body {
  flex: 15;
  background-image: linear-gradient(to right bottom, #ffffff 71%, #1bd4d6 100%);
}

.image-login {
  flex: 1;
}
.logos-login {
  flex: 1;
}
.box-login {
  flex: 1;
}

.login-card {
  max-width: 454px;
}

.password-input p-password {
  width: 100% !important;
}

::ng-deep .password-input p-password .p-password {
  width: 100% !important;
}

footer {
  flex: 1;
}

.box-primary-color {
  flex: 20;
  background-color: var(--app-color-one);
  color: var(--app-color-three);
}

.box-second-color {
  flex: 1;
  background-color: var(--app-color-three);
}

.box-third-color {
  flex: 1;
  background-color: var(--app-color-seven);
}
