<div style="height: 1rem;"></div>
<p-messages [(value)]="flagsActivity" [enableService]="true" [closable]="false"></p-messages>
<div #tableWrapper class="table-container overflow-hidden">
    <p-table #dt class="table-app w-full" [value]="list" [tableStyle]="{'min-width': '50rem'}" dataKey="_id" [filterDelay]="2" [globalFilterFields]="filterFields" [ngStyle]="{ 'height': scrollHeight + 'px'}" [rowHover]="true" scrollDirection="both" [scrollHeight]="scrollHeight" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2">Nombre</th>
                <ng-container *ngFor="let activity of activitiesConfig">
                    <th colspan="3">{{activity.activityName}}</th>
                </ng-container>
            </tr>
            <tr>
                <ng-container *ngFor="let activity of activitiesConfig">
                    <ng-container *ngFor="let columnHour of columnsHours">
                        <th>{{columnHour.label}}</th>
                    </ng-container>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="item" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td>{{item.item.nombre}}</td>
                <ng-container *ngFor="let activity of activitiesConfig">
                    <ng-container *ngFor="let columnHour of columnsHours">
                        <ng-container *ngIf="columnHour.canEdit; else onlyDisplayValue">
                            <td>
                                <p-inputNumber type="number" [(ngModel)]="item.hours[activity.id][columnHour.property]" [min]="0" [max]="activity.limit" suffix=" hora(s)" [showButtons]="true" (ngModelChange)="updateValuesActivity(activity, {item, column: columnHour})" [id]="activity.id + item._id" />
                            </td>
                        </ng-container>
                        <ng-template #onlyDisplayValue>
                            <td>{{item.hours[activity.id][columnHour.property]}} hora(s)</td>
                        </ng-template>

                    </ng-container>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-item>
            <tr>
                <td [attr.colspan]="2 + (activitiesConfig.length * 3)">
                    <div class="p-3">
                        <p-table [value]="item.startups" dataKey="_id">
                            <ng-template pTemplate="header">
            <tr>
                <th style="width:90%">Nombre startup</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-innerItem>
            <tr>
                <td>{{ innerItem.item.nombre }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No hay startups vinculadas</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
</div>