<div class="table-container-app">
  <p-table class="table-app w-full" #dt [value]="invitations" dataKey="_id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} invitaciones" [filterDelay]="0" [globalFilterFields]="filterFields" scrollDirection="both" [scrollHeight]="scrollHeight" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
      <div class="flex flex-row justify-content-between align-items-center">
        <div class="text-2xl">
          <span class="pl-2 font-semibold">Invitaciones</span>
        </div>
        <div class="flex flex-row gap-2">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($any($event).target.value, 'contains')" placeholder="Buscar" />
          </span>
          <p-button type="button" label="Invitar" class="font-semibold" (onClick)="openInvitationDialog()"></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let column of columns" [pSortableColumn]="column.field">
          <div class="flex flex-row gap-2 align-items-center">
            <span>{{column.name}}</span>
            <p-sortIcon style="min-width: min-content; display: flex;" [field]="column.field"></p-sortIcon>
          </div>
        </th>
        <th style="width: 3rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-invitationRow>
      <tr class="p-selectable-row" [ngClass]="{'text-pink-600': invitationRow.estado === 'cancelado', 'text-green-600': invitationRow.estado === 'registrado'}">
        <td>
          <div class="flex flex-row gap-2 align-items-center">
            <span class="white-space-nowrap">{{invitationRow.email}}</span>
          </div>
        </td>
        <td>
          <div class="flex flex-row gap-2 align-items-center">
            <span class="white-space-nowrap">{{invitationRow.createdBy.fullName}}</span>
          </div>
        </td>
        <td>
          <div class="flex flex-row gap-2 align-items-center">
            <span class="white-space-nowrap">{{invitationRow.rolName}}</span>
          </div>
        </td>
        <td>
          <div class="flex flex-row gap-2 align-items-center">
            <span class="white-space-nowrap">{{ invitationRow.stateName}}</span>
            <i *ngIf="invitationRow.state === 'enabled' " class="pi pi-ban cursor-pointer" [pTooltip]="'Inhabilitar invitación'" tooltipPosition="top" (click)="cancelInvitation(invitationRow)"></i>
            <i *ngIf="invitationRow.state === 'enabled' " class="pi pi-send cursor-pointer" [pTooltip]="'Reenviar invitación'" tooltipPosition="top" (click)="resendInvitation(invitationRow)"></i>
          </div>
        </td>
        <td>
          <div class="flex flex-row gap-2 align-items-center">
            <span class="white-space-nowrap">{{invitationRow.createdAt | date }}</span>
          </div>
        </td>
        <td>
          <div class="flex flex-row gap-2 align-items-center">
            <span class="white-space-nowrap">{{invitationRow.expiresAt | date }}</span>
          </div>
        </td>
        <td></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No hay invitaciones.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <span>{{paginatorRightMsg()}}</span>
    </ng-template>
  </p-table>
</div>

<p-dialog appendTo="body" header="" [(visible)]="displayInvitationDialog" [draggable]="false" [resizable]="false" [modal]="true" maskStyleClass="dialog-app" [breakpoints]="{'960px': '85vw', '640px': '100vw'}">
  <div class="w-full flex flex-row gap-3 align-items-center">
    <i-tabler name="heart-handshake" class="icon-dialog"></i-tabler>
    <div class="content-resource w-full flex flex-column justify-content-between pb-2 pr-4">
      <h2 class="overflow-hidden white-space-nowrap text-overflow-ellipsis" [style.color]="'black'" style="width: 550px;">Invitar</h2>
      <span></span>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="flex flex-column w-full h-full px-3 justify-content-center align-items-center">
    <form [formGroup]="formInvitation" class="w-full formgrid grid">

      <div class="field app-input-field col-12">
        <label for="email">Email</label>
        <input pInputText formControlName="email" type="email" class="appearance-none outline-none w-full" [ngClass]="{'ng-invalid ng-dirty': formInvitation.get('email').invalid && formInvitation.get('email').touched}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
          <small *ngIf="primEmail?.errors?.['required']" class="text-danger">Email es necesario</small>
          <!--question mark(?) is a safe navigation operator-->
          <small *ngIf="primEmail?.errors" class="text-danger">Email invalido</small>
        </div>
      </div>
      <div class="field app-input-field col-12">
        <label for="rol">Rol</label>
        <p-dropdown appendTo="body" class="w-full block" styleClass="w-full" id="rol" formControlName="rol" [options]="roles" optionLabel="name" optionValue="value"></p-dropdown>
      </div>

      <div class="w-full flex flex-row gap-2 justify-content-end px-2">
        <p-button label="Confirmar" type="submit" [disabled]="formInvitation.invalid" (onClick)="submit$.next()"></p-button>
        <p-button label="Cancelar" styleClass="p-button-outlined" (onClick)="hideInvitationDialog()"></p-button>
      </div>
    </form>
  </div>
</p-dialog>