<div class="w-full flex flex-row justify-content-between align-items-center p-5  ">
    <div class="text-wrapper flex flex-row align-items-center text-center ">
        <span class="subheader font-semibold">Configuración fases</span>
    </div>
    <p-button *ngIf="user?.masterRol" type="button" label="Crear etapa" icon="pi pi-plus" (onClick)="openCreator()"></p-button>
</div>

<div class="flex flex-wrap align-items-center justify-content-around ">
    <ng-container *ngFor="let stage of stages">
        <ng-container [ngTemplateOutlet]="stageCard" [ngTemplateOutletContext]="{stage}"></ng-container>
    </ng-container>
</div>


<ng-template #stageCard let-stage="stage">
    <div class="normal-panel p-4">
        <div class="box-title p-3">
            <span class="">{{stage.name}}</span>
            <i-tabler name="arrow-back-up"></i-tabler>
        </div>
        <span>{{stage.description}}</span>

    </div>
</ng-template>


<p-dialog header="Crear etapa" [(visible)]="showStageCreator" [style]="{ width: '50vw', height: '40vh' }" [draggable]="false" [resizable]="false" [modal]="true" (onHide)="resetCreator()">
    <div class="flex flex-column justify-content-between h-full w-full" *ngIf="newStage">
        <form [formGroup]="newStage" class="flex flex-wrap gap-3 p-fluid">
            <div class="flex-auto">
                <label for="stageName">Nombre</label>
                <input inputId="stageName" pInputText type="text" formControlName="name" required>
            </div>
            <div class="flex-auto">
                <label for="stageLabel">Etiqueta</label>
                <input pInputText type="text" formControlName="label" required>
            </div>
            <div class="flex-auto">
                <p-colorPicker formControlName="color" [inline]="true" appendTo="body"></p-colorPicker>
            </div>
            <div style="height: 1rem;"></div>

        </form>
        <p-button type="submit" label="Crear" (onClick)="createStage()" styleClass="p-button-lg w-full border-round-2xl my-2 p-3 bg-primary" [disabled]="newStage.invalid"></p-button>

    </div>
</p-dialog>

<p-confirmDialog key="confirmDialog" [style]="{ width: '50vw' }"></p-confirmDialog>