<div class="w-full flex flex-row justify-content-between align-items-center p-5  ">
    <div class="text-wrapper flex flex-row align-items-center text-center ">
        <span class="subheader font-semibold">Configuración fases</span>
    </div>

    <p-button *ngIf="user?.masterRol" styleClass="button-blue" type="button" label="Crear etapa" icon="pi pi-plus" (onClick)="openCreator()"></p-button>
</div>

<div class="flex flex-wrap align-items-center justify-content-around gap-1">
    <ng-container *ngFor="let stage of stages; let index=index">
        <ng-container [ngTemplateOutlet]="stageCard" [ngTemplateOutletContext]="{stage, index}"></ng-container>
    </ng-container>
</div>


<ng-template #stageCard let-stage="stage" let-index="index">
    <div class="normal-panel p-4 w-15rem">
        <span class="label-deleted" *ngIf="stage.isDeleted">Borrado</span>
        <div class="box-title p-3 flex flex-column align-items-center justify-content-between gap-3" [style.background]="getGradientBackground(stage)">
            <ng-container *ngIf="stage.icon && stage.icon !== ''; else elseTemplate">
                <i-tabler [name]="stage.icon" class="icon-stage"></i-tabler>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="icon-stage"></div>
            </ng-template>
            <div class="flex flex-column max-w-full">
                <span class="text-sm text-center">{{stage.label}}</span>
                <span class="text-xl font-semibold text-center">{{stage.name}}</span>
            </div>
        </div>
        <div class="flex flex-wrap align-items-center justify-content-center pt-3">

            <p-button *ngIf="user?.masterRol" styleClass="button-yellow-second" type="button" [label]="stage.isDeleted ? 'Ver' : 'Configurar'" iconPos="right" [icon]="stage.isDeleted ? 'pi pi-eye' : 'pi pi-cog'" (onClick)="openCreator(stage, stage.isDeleted)">
            </p-button>
            <div class="flex flex-row gap-2 w-full justify-content-center pt-2" *ngIf="user?.masterRol">
                <p-button *ngIf="stage.index > 0" styleClass="button-grey" type="button" icon="pi pi-arrow-left" (onClick)="onStageDownIndex(stage, index)">
                </p-button>
                <p-button *ngIf="stage.index < stages.length - 1" styleClass="button-grey" type="button" icon="pi pi-arrow-right" (onClick)="onStageUpIndex(stage, index)">
                </p-button>
            </div>

        </div>

    </div>
</ng-template>


<p-dialog header="Etapa" [(visible)]="showStageCreator" [style]="{ width: '45vw', height: '70vh' }" [draggable]="false" [resizable]="false" [modal]="true" (onHide)="resetCreator()">
    <div class="flex flex-column justify-content-between h-full w-full" *ngIf="newStage">
        <form [formGroup]="newStage" class="formgrid grid">
            <div class="field col-5">
                <label for="stageName">Nombre</label>
                <input id="stageName" pInputText type="text" class="appearance-none outline-none w-full" formControlName="name" required>
            </div>
            <div class="field col-5">
                <label for="stageLabel">Etiqueta</label>
                <input inputId="stageLabel" pInputText type="text" class="appearance-none outline-none w-full" formControlName="label" required>
            </div>
            <div class="field col-2">
                <label for="stageIcon">Icono</label>
                <p-dropdown [options]="listIconsStages" formControlName="icon" styleClass="appearance-none outline-none w-full">
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="newStage.get('icon').value">
                            <i-tabler [name]="newStage.get('icon').value"></i-tabler>
                        </div>
                    </ng-template>
                    <ng-template let-iconStage pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <i-tabler [name]="iconStage"></i-tabler>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="field col-4 flex flex-column align-items-center justify-content-center">
                <label for="stageColor" class="text-center ">Color</label>
                <p-colorPicker inputId="stageColor" formControlName="color" [inline]="true" appendTo="body"></p-colorPicker>
            </div>

            <span class="field col-8">
                <label for="textarea">Descripción</label>
                <textarea inputId="textarea" style="width: 100%;" rows="8" formControlName="description" pInputTextarea></textarea>
            </span>
            <div style="height: 1rem;"></div>
        </form>
        <div class="actions flex flex-column gap-1" *ngIf="!onlyReadForm">
            <ng-container *ngIf="formControls['_id'].value; else createBtn">
                <p-button type="submit" label="Guardar cambios" icon="pi pi-save" iconPos="right" (onClick)="onStageEditSave()" styleClass="p-button-lg w-full border-round-2xl my-2 p-3 "></p-button>
                <p-button *ngIf="!stagesObj[formControls['_id'].value].isDeleted" type="submit" label="Eliminar" icon="pi pi-trash" iconPos="right" (onClick)="stageDelete()" styleClass="p-button-lg w-full border-round-2xl my-2 p-3 button-grey" [disabled]="newStage.invalid"></p-button>
            </ng-container>
            <ng-template #createBtn>
                <p-button type="submit" label="Crear" (onClick)="createStage()" styleClass="p-button-lg w-full border-round-2xl my-2 p-3 bg-primary" [disabled]="newStage.invalid"></p-button>
            </ng-template>
        </div>
    </div>
</p-dialog>

<p-confirmDialog key="confirmDialog" [style]="{ width: '50vw' }"></p-confirmDialog>