<div class="grid mt-8 justify-content-center">
    <div class="stage onboarding justify-content-center align-items-center col-2">
        <div class="flex-flex-col gap-3">
            <p class="text-center">ONBOARDING</p>
        </div>
    </div>
    <div class="stage early justify-content-center align-items-center col-2">
        <div class="flex-flex-col gap-3">
            <p class="text-center">EARLY</p>
        </div>
    </div>
    <div class="stage growth justify-content-center align-items-center col-3">
        <div class="flex-flex-col gap-3">
            <p class="text-center">GROWTH</p>
        </div>
    </div>
    <div class="stage late justify-content-center align-items-center col-2">
        <div class="flex-flex-col gap-3">
            <p class="text-center">LATE</p>
        </div>
    </div>
    <div class="stage launch justify-content-center align-items-center col-1">
        <div class="flex-flex-col gap-3">
            <p class="text-center">LAUNCH</p>
        </div>
    </div>
</div>