<div class="flex w-full flex-column justify-content-center px-1 sm:px-2 md:px-8">
    <div class="header-panel flex flex-column xl:flex-row gap-4">
        <div class="fex flex-column flex grow-1">
            <h2>La ruta para </h2>
            <div style="height: 1.5rem"></div>
            <div class="flex gap-2">
                <i-tabler class="text-center" name="bulb" style="color:#18E4E6; height:4rem; width:4rem;"></i-tabler>
                <p class="description-route">Esta es la Ruta de etapas que llevas en la StartUp. Ingresa a cada una de las fases de
                    las
                    etapas aprobadas para
                    detallar el progreso y sus contenidos. No podrás visualizar las fases posteriores a la cual estas
                    cursando actualmente
                    hasta no completarla. Recuerda que los contenidos entregados en las fases completadas los puedes
                    consultar también en el
                    módulo Toolkit del menú lateral.
                </p>
            </div>
        </div>
        <div class="flex flex-none gap-2 header-panel-child">
            <div class="flex flex-column justify-content-center align-items-center" style="width: 10rem;">
                <div class="flex flex-none tag mt-4">Contenidos {{lastContent?.contentCompleted}}/{{lastContent?.numberOfContent}}</div>
                <div class="flex flex-grow-1 px-2 py-4 justify-content-end align-items-end" style="font-weight: 500;">
                    <p class="titles-route" class="text-right ">Progreso global de la ruta</p>
                </div>
            </div>
            <div class="flex">
                <div class="indicator flex align-items-center justify-content-center">
                    <p-knob [(ngModel)]="completed" [strokeWidth]="5" [readonly]="true" [size]="100" [valueTemplate]="completedString" [valueColor]="'#18E4E6'" [rangeColor]="withOpacity('#18E4E6', 0.2)" [min]="0" [max]="100">

                    </p-knob>
                </div>
            </div>
            <div class="flex flex-col"></div>
        </div>
    </div>
    <div class="h-3rem"></div>
    <div class="flex-grow-1 flex main flex-column xl:flex-row w-full justify-content-start align-items-end xl:justify-content-center xl:align-items-end gap-1 mt-0 md:mt-7">
        <div class="flex w-full flex-column xl:flex-row justify-content-start align-items-start xl:align-items-end" [style.width.%]="widthStage(stage.fases.length)" [style.height.rem]="heightStage(stage.fases.length)" *ngFor="let stage of stages; let i=index;">
            <div class="flex w-full xl:flex-grow-1 flex-row-reverse justify-content-end xl:flex-column" [style.color]="stage.color">
                <div class="flex xl:w-full flex-column xl:flex-row py-4 xl:py-0 xl:px-4 gap-4 justify-content-center align-items-end">
                    <div class="flex flex-row-reverse xl:flex-column w-full justify-content-end align-items-center" *ngFor="let fase of stage.fases">
                        <div class="flex flex-row-reverse xl:flex-column align-items-center" *ngIf="stage.hasPhasesDone && fase.done && !fase.currentBatch">
                            <div class="flex fase-finished border-circle justify-content-center align-items-center" [style.background-color]="stage.color">
                                <i-tabler class="text-center" name="checks"></i-tabler>
                            </div>
                            <div class="fase-finished-body" [style.background-color]="withOpacity(stage.color, 0.21)">
                            </div>
                        </div>
                        <ng-container *ngIf="fase.done && fase.currentBatch">
                            <div class="text-white justify-center hat-current" [style.background-color]="stage.color">
                                <p class="text-center stage-label cursor-pointer" (click)="goContent()">Retomar</p>
                            </div>
                        </ng-container>
                        <div class="flex flex-column normal-panel fase justify-content-center align-items-center py-7" [style.color]="fase.done ? stage.color : '#AEAEAE'">
                            <h2 class="text-center">{{fase.number}}</h2>
                            <p class="label-phase text-center">{{fase.nameLabel}}</p>
                        </div>
                        <div class="line" [style.height.rem]="dotedHeightLine(fase.number)" [style.width.rem]="dotedWidthLine(fase.number)">
                        </div>
                    </div>
                </div>
                <div class="stage justify-content-center align-items-center align-content-center cursor-pointer " [style.border-color]="stage.color" [style.background]="gradient(stage.color)" (click)="goToDescription(stage)">
                    <div class="flex flex-column align-items-center justify-content-center h-full md:h-auto">
                        <div style="height: 0.5rem"></div>
                        <i-tabler class="text-center" [name]="stage.icon"></i-tabler>
                        <div style="height: 0.5rem"></div>
                        <p class="text-center stage-label">{{stage.label | uppercase}}</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-none border-white stage-medal border-circle w-3rem h-3rem justify-content-center align-items-center" [style.background-color]="stage.color" *ngIf="stage.hasAllPhasesDone">
                <i-tabler class="text-center" name="award"></i-tabler>
            </div>
        </div>
    </div>
</div>