<div class="w-full flex flex-row gap-3">
    <i-tabler name="bulb" class="icon-dialog"></i-tabler>
    <div class="content-resource w-10 flex flex-column justify-content-center pb-2 pr-4">
        <h2 class="overflow-hidden white-space-nowrap text-overflow-ellipsis" [style.color]="'black'">{{config.data.header}}</h2>
        <div class="w-full flex flex-row gap-1">
            <span class="text-sm text-color-other"></span>
        </div>
    </div>
</div>
<p-divider>
</p-divider>
<div class="flex flex-column w-full px-6" *ngIf="contentCreationForm">
    <form [formGroup]="contentCreationForm" class="formgrid grid">
        <div class="field col-9 ">
            <span class="app-input-field">
                <label for="name">Nombre</label>
                <input type="text" id="name" pInputText formControlName="name" placeholder="Escriba un nombre" />
            </span>
        </div>

        <div class="app-input-field col-3" *ngIf="!parent_content">
            <label for="horizontal">Duración (días)</label>
            <p-inputNumber formControlName="duration" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]="0"></p-inputNumber>
        </div>
        <div class="field col-12 md:col-12 pt-3">
            <tinymce formControlName="content" [config]="configTiny"></tinymce>
        </div>
    </form>
    <div class="field col-12 md:col-12 pt-3 flex flex-row justify-content-end">
        <p-button icon="pi pi-save" label="Crear" class="p-button-raised" type="button" [disabled]="!contentCreationForm.valid" (onClick)="onSubmit()"></p-button>
    </div>
</div>