<div class="flex flex-column w-full h-full">
    <form [formGroup]="contentCreationForm" class="formgrid grid justify-content-start">
        <div class="field col-12 pt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-id-card"></i>
                </span>
                <span class="p-float-label">
                    <input type="text" id="name" pInputText formControlName="name" />
                    <label for="name">Nombre</label>
                </span>
            </div>
        </div>

        <div class="flex-auto px-2">
            <label class="mb-2 block font-bold" for="horizontal">Duración (días)</label>
            <p-inputNumber formControlName="duration" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
        </div>
        <div class="field col-12 md:col-12 pt-3">
            <tinymce formControlName="content" [config]="configTiny"></tinymce>
        </div>
    </form>
    <div class="field col-12 md:col-12 pt-3 flex flex-row justify-content-end">
        <p-button icon="pi pi-save" label="Crear" class="p-button-raised" type="button" [disabled]="!contentCreationForm.valid" (onClick)="onSubmit()"></p-button>
    </div>
</div>