<div class="w-full flex flex-row gap-3">
    <i-tabler name="bulb" class="icon-dialog"></i-tabler>
    <div class="content-resource w-10 flex flex-column justify-content-center pb-2 pr-4">
        <h2 class="overflow-hidden white-space-nowrap text-overflow-ellipsis" [style.color]="'black'">
            Seleccionar participante</h2>
        <div class="w-full flex flex-row gap-1">
            <span class="text-sm text-color-other">Escoge un batch al cual el participante será seleccionado, este será invitado a formar parte de Ecosystem y tener una cuenta</span>
        </div>
    </div>
</div>
<p-divider></p-divider>
<ng-container *ngIf="loaded; else loadingShow">

    <div class="w-full px-4">
        <span class="w-full app-input-field" style="width: 100%">
            <label for="float-label">Batch</label>
            <p-dropdown [autoDisplayFirst]="false" [options]="listBatch" [(ngModel)]="batchSelected" dataKey="_id" optionLabel="name" placeholder="Seleccione un batch" appendTo="body" [style]="{ width: '100%' }" [filter]="true" filterBy="name">
            </p-dropdown>
        </span>
        <ng-container *ngIf="selectFields">
            <div class="flex flex-row justify-content-between align-items-center pt-3">
                <span class="app-input-field" style="width: 45%">
                    <label for="nameFieldInput">Campo con el nombre</label>
                    <p-dropdown [autoDisplayFirst]="false" [options]="formFields" [(ngModel)]="nameField" dataKey="key" optionLabel="label" optionValue="key" placeholder="Seleccione el campo que contiene el nombre" appendTo="body" [style]="{ width: '100%' }" [filter]="true" filterBy="label">
                    </p-dropdown>
                </span><span class="app-input-field" style="width: 45%">
                    <label for="emailFieldInput">Campo con el email</label>
                    <p-dropdown [autoDisplayFirst]="false" [options]="formFields" [(ngModel)]="emailField" dataKey="key" optionLabel="label" optionValue="key" placeholder="Seleccione el campo que contiene el email" appendTo="body" [style]="{ width: '100%' }" [filter]="true" filterBy="label">
                    </p-dropdown>
                </span>
            </div>
        </ng-container>
        <div class="flex flex-row align-items-center justify-content-center pt-3">
            <ng-container *ngIf="!selectFields; else otherBtn">
                <p-button type="submit" label="Seleccionar" (onClick)="saveSelected()" styleClass="bg-primary" [disabled]="saving || !batchSelected"></p-button>
            </ng-container>
            <ng-template #otherBtn>
                <p-button type="submit" label="Seleccionar" (onClick)="saveSelected()" styleClass="bg-primary" [disabled]="saving || !batchSelected || !nameField || !emailField"></p-button>
            </ng-template>
        </div>
    </div>

</ng-container>
<ng-template #loadingShow>
    <app-loading></app-loading>
</ng-template>