<div class="flex flex-column mt-8 px-2 gap-2">
    <div class="flex justify-content-around align-items-center normal-panel p-4">
        <p-button label="+ Ticket"></p-button>
        <div class="flex border-0 app-backgrounds border-solid border-1 border-round px-4 ">
            <div class="flex cursor-pointer font-bold p-button-label">
                <p>Todos</p>
            </div>
            <div class="flex cursor-pointer mx-2 opt-label">
                <p>|</p>
            </div>
            <div class="flex cursor-pointer opt-label">
                <p>Abiertos</p>
            </div>
            <div class="flex mx-2">
                <p>|</p>
            </div>
            <div class="flex cursor-pointer opt-label">
                <p>En progreso</p>
            </div>
            <div class="flex mx-2">
                <p>|</p>
            </div>
            <div class="flex cursor-pointer opt-label">
                <p>Cerrados</p>
            </div>
        </div>
        <div class="flex">
            <form [formGroup]="formFilterCategory">
                <p-dropdown formControlName="category" [options]="categories" optionLabel="name"></p-dropdown>
            </form>
        </div>
    </div>
    <div class="flex h-4"></div>
    <div class="flex p-4 w-full normal-panel">
        <p-table class="table-dark" [value]="tickets" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Categoría</th>
                    <th>Titulo</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ticket>
                <tr>
                    <td class="text-center">{{ticket.category ? ticket.category.name : ''}}</td>
                    <td class="text-center">{{ticket.title}}</td>
                    <td class="text-center"><p-tag [value]="ticket.status"
                            [severity]="getSeverity(ticket.status)"></p-tag></td>
                    <td class="text-center">{{ticket.createdAt | date : 'yyyy/MM/yy'}}</td>
                    <td class="text-center"></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>