@import "/src/styles.scss";

.card-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 12.1875rem;
  height: 15.375rem;
  border-radius: 1.875rem;
  -webkit-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15);
  i-tabler {
    width: 5rem;
    height: 5rem;
  }
  span {
    color: $appColorOne;
  }
  .content-vertical {
    background-color: white;
    border-radius: 1.875rem;
  }
  .separator-vertical {
    height: 1.5rem;
  }
}

.scrollwrap {
  overflow-y: auto;
  height: calc(100vh - 102px - 2.5rem) !important;
  // max-height: calc(100vh - 102px - 2.5rem) !important;
}
