<ng-container *ngIf="loaded; else loadingTemplates">
    <div class="p-4">
        <div class="w-full flex flex-row justify-content-between align-items-center">
            <div class="header flex flex-row gap-2 text-white align-items-center ">
                <h2>{{currentBatch?.name}}</h2>
                <h2>></h2>
                <p-dropdown [options]="sprints" [(ngModel)]="sprintSelected" optionLabel="name" [filter]="true" filterBy="name" placeholder="Seleccione un sprint" (onChange)="changesSprint()">
                    <ng-template let-sprint pTemplate="item">
                        <div>{{ sprint.name }}</div>
                    </ng-template>
                </p-dropdown>
                <h3>{{sprintSelected?.extra_options?.start | date}}</h3>
                <h2>-</h2>
                <h3>{{sprintSelected?.extra_options?.end | date}}</h3>
            </div>
            <div class="flex flex-wrap gap-2">
                <p-button *ngIf="homeworks.length" iconPos="left" icon="pi pi-file" styleClass="p-button" label="Tareas" (onClick)="viewHomeworks = true"></p-button>
            </div>
        </div>

        <div class="w-full flex flex-column gap-2" *ngIf="contentSelected">
            <div class="flex flex-row flex-wrap w-full justify-content-around mb-2">
                <p-button *ngIf="previousContent" iconPos="left" icon="pi pi-arrow-left" styleClass="p-button" label="Anterior" (onClick)="changeContent(indexContent-1)"></p-button>
                <p-button *ngIf="nextContent" iconPos="right" icon="pi pi-arrow-right" styleClass="p-button" label="Siguiente" (onClick)="changeContent(indexContent+1)"></p-button>
            </div>
            <div class="shadow-2 flex flex-column justify-content-center align-items-center my-2 p-2 bg-white border-round-xl" id="screen">
                <p-divider align="left" class="w-full">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-file p-mr-2"></i>
                        <b class="pl-2">{{contentSelected.name}}</b>
                    </div>
                </p-divider>
                <div *ngIf="contentSelected.content" class="p-4 w-full">
                    <div [innerHtml]="(contentSelected.content | safe:'html')"></div>
                </div>

            </div>
            <div class="w-full flex flex-row align-items-center justify-content-end gap-2 p-2">
                <ng-container *ngIf="contentCompleted[contentSelected._id]; else noCompleted">
                    <span class="font-semibold text-white ">{{contentCompleted[contentSelected._id].createdAt | date:'medium'}}</span>
                    <span class="font-bold text-white text-primary">Completado</span>
                </ng-container>
                <ng-template #noCompleted>
                    <p-button iconPos="left" icon="pi pi-check" styleClass="p-button-secondary" label="Marcar como completado" (onClick)="markAsCompleted()" [disabled]="savingCompleted"></p-button>
                </ng-template>
            </div>
        </div>
    </div>

</ng-container>

<ng-template #loadingTemplates>
    <app-loading></app-loading>
</ng-template>

<p-dialog header="Tareas" [(visible)]="viewHomeworks" [style]="{width: '70vw'}" [modal]="true">
    <table class="table-resources w-full">
        <thead>
            <tr>
                <th>Nombre</th>
                <!-- <th>Descripción</th> -->

                <th>Tipo</th>
                <th>Estado</th>
                <th>Vencimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of homeworks">
                <td>{{ item.resource.name }}</td>
                <!-- <td>{{ item.resource.description }}</td> -->

                <td class="text-center">{{ resourcesTypesNames[item.type] }}</td>
                <td>
                    <div class="py-1 px-2 border-round-lg text-center text-white" [ngClass]=" {'bg-yellow-600':
                    alertState(item), 'bg-green-600': !alertState(item)}">
                        {{ item.state }}
                    </div>
                </td>
                <td class="text-center">
                    {{ item.resource.extra_options.expiration | date }}
                </td>
                <td class="flex flew-wrap align-items-center justify-content-center gap-2">
                    <ng-container [ngSwitch]="item.resource.type">
                        <ng-container *ngSwitchCase="resourcesTypes.form">
                            <p-button label="Formulario" (onClick)="openForm(item)" icon="pi pi-check"></p-button>
                        </ng-container>
                        <ng-container *ngSwitchCase="resourcesTypes.downloadable">
                            <p-button label="Descargar" (onClick)="downloadFile(item)" icon="pi pi-check"></p-button>
                        </ng-container>
                        <ng-container *ngSwitchCase="resourcesTypes.task">
                            <p-button *ngIf="item.resource.extra_options.file" label="Plantilla" (onClick)="downloadFile(item)" icon="pi pi-check"></p-button>
                            <p-button [label]="item.item?.file ? 'Cambiar' : 'Subir'" icon="pi pi-upload" (onClick)="fileInput.click()" styleClass="p-button-outlined"></p-button>
                            <ng-container *ngIf="item.state !== resourcesStates.Pendiente">
                                <p-button label="Ver archivo" (onClick)="downloadFileReply(item)" icon="pi pi-check"></p-button>
                            </ng-container>
                            <input #fileInput type="file" accept="*" class="hidden" (change)="selectFile(fileInput, item)">
                        </ng-container>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</p-dialog>