<ng-container *ngIf="loaded; else loadingTemplates">
    <div class="container-component px-4 py-2 gap-4">
        <div class="normal-panel navigation-panel flex flex-row py-5">
            <div class="phase-column w-full flex flex-column align-items-center justify-content-between">
                <div class="w-full navigation-controls flex flex-row justify-content-between">
                    <i-tabler name="chevron-left" class="direction-btn" *ngIf="previousContent" (click)="changesSprint(indexSprint - 1)"></i-tabler>
                    <i-tabler name="chevron-right" class="direction-btn" *ngIf="nextContent" (click)="changesSprint(indexSprint + 1)"></i-tabler>
                </div>
                <div class="phase-display h-full w-full flex flex-column justify-content-between align-items-center mt-4 p-3" [style.background]="gradient()">
                    <div class="flex flex-column align-items-center gap-3" style="padding: 0.875rem;" [style.color]="stage.color">
                        <span class="text-xl font-semibold">{{phaseName}}</span>
                        <h1 style="font-weight: 600;">{{phaseNumb}}</h1>
                    </div>
                    <div class="flex flex-column align-items-center gap-5">
                        <span class="title-sprint font-semibold text-2xl " [style.color]="stage.color">{{sprintSelected.name}}</span>
                        <i-tabler class="icon-stage" [name]="stage.icon" [style.background-color]="stage.color"></i-tabler>
                    </div>
                </div>
            </div>
            <div class="navigation-contents">
                <div class="w-full flex justify-content-end">
                    <p-button styleClass="w-16rem button-blue-second button-border-mid align-items-center" (onClick)="viewHomeworks = true">
                        <span class="w-full font-semibold text-center">Ver entregables</span>
                    </p-button>
                </div>

                <div class="flex flex-column mt-4">
                    <ng-container *ngFor="let content of sprintSelected.childs; let i = index">
                        <div class="row flex flex-row w-full align-items-center">
                            <i-tabler class="icon-state done-state" [name]="iconState(content)" [style.background-color]="colorByState(content)"></i-tabler>
                            <hr class="h-line" [style.background-color]="colorByState(content)">
                            <div class="card-content flex flex-column justify-content-center" [ngClass]="{selected: content?._id === contentSelected?._id}" (click)="changeContent(i)">
                                <span class="" style="font-weight: 550;">{{content.name}}</span>
                                <span class="card-state-content text-sm">{{textState(content)}}</span>
                            </div>
                        </div>
                        <div class="lines-done" *ngIf="i < sprintSelected.childs.length -1" [style.border-color]="lineState(content)"></div>
                    </ng-container>
                </div>


            </div>

        </div>
        <div class="display-content scrollwrap scrollwrap_delayed flex flex-column gap-2" *ngIf="contentSelected">
            <div class="flex flex-row justify-content-between align-items-center px-6">
                <div class="flex flex-row gap-6">
                    <ng-container *ngIf="contentCompleted[contentSelected._id]; else elseTemplate">
                        <span class="elipse-panel button-blue-second state-content text-center flex align-items-center justify-content-center font-semibold">Completado</span>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <span class="elipse-panel button-yellow-second state-content text-center flex align-items-center justify-content-center font-semibold">En curso</span>
                    </ng-template>
                    <span class="flex align-items-center justify-content-center gap-4 font-bold">
                        <i-tabler name="layout-board-split" style="color:#F7AF42; height:2rem; width:2rem;"></i-tabler>
                        {{contentSelected.name}}
                    </span>
                </div>
                <div class="completed-btn">
                    <ng-container *ngIf="!contentCompleted[contentSelected._id];">
                        <p-button styleClass="w-full button-yellow-second button-border-mid align-items-center justify-content-between" (onClick)="markAsCompleted()" [disabled]="savingCompleted">
                            <span class="font-semibold">Completar modulo</span>
                            <p-checkbox [(ngModel)]="marked" [binary]="true" inputId="binary"></p-checkbox>
                        </p-button>
                    </ng-container>
                </div>
            </div>
            <div class="normal-panel mx-4 mt-2 mb-5">
                <div [innerHtml]="(contentSelected.content | safe:'html')" class="w-full " style="padding: 1.875rem;"></div>
            </div>

        </div>
    </div>
</ng-container>

<ng-template #loadingTemplates>
    <app-loading></app-loading>
</ng-template>

<p-dialog header="" [(visible)]="viewHomeworks" [style]="{width: '60vw'}" [modal]="true" class="homework-dialog">
    <div class="w-full h-full flex flex-row gap-3">
        <i-tabler name="layout-board-split" class="icon-resource"></i-tabler>
        <ng-container *ngIf="!homeworkDisplay; else showHomework">
            <span class="font-semibold text-3xl	text-center">No hay tareas en el sprint</span>
        </ng-container>
        <ng-template #showHomework>
            <div class="content-resource w-full flex flex-column justify-content-between pb-2 pr-4" style="flex: 1">
                <h2 class="overflow-hidden white-space-nowrap text-overflow-ellipsis" [style.color]="'black'">{{homeworkDisplay.resource.name}}</h2>
                <div class="w-full flex flex-row justify-content-between align-items-center">
                    <div class="info-resource flex flex-column text-sm">
                        <span>Contenido de {{homeworkDisplay.phase.name}}</span>
                        <span>{{stage.name}}</span>
                    </div>
                    <div class="flex flex-row date-resource-display align-items-center justify-content-center p-1 gap-2">
                        <i-tabler name="calendar-event"></i-tabler>
                        <span>{{ homeworkDisplay.resource.extra_options.expiration ?? sprintSelected.extra_options.end | date }}</span>
                    </div>
                    <span class="type-resource-display p-2">
                        {{resourcesTypesNames[homeworkDisplay.resource.type]}}
                    </span>
                    <div class="flex flew-wrap gap-2">
                        <ng-container [ngSwitch]="homeworkDisplay.resource.type">
                            <ng-container *ngSwitchCase="resourcesTypes.form">
                                <p-button label="Ver formulario" iconPos="right" icon="pi pi-file-export" (onClick)="openForm(homeworkDisplay)"></p-button>
                            </ng-container>
                            <ng-container *ngSwitchCase="resourcesTypes.downloadable">
                                <p-button label="Descargar" iconPos="right" icon="pi pi-download" (onClick)="downloadFile(homeworkDisplay)"></p-button>
                            </ng-container>
                            <ng-container *ngSwitchCase="resourcesTypes.task">
                                <p-button *ngIf="homeworkDisplay.resource.extra_options.file" pTooltip="Plantilla" (onClick)="downloadFile(homeworkDisplay)" icon="pi pi-file"></p-button>
                                <ng-container *ngIf="homeworkDisplay.state !== resourcesStates.Pendiente">
                                    <p-button pTooltip="Ver archivo" icon="pi pi-eye" (onClick)="downloadFileReply(homeworkDisplay)"></p-button>
                                </ng-container>
                                <p-button [label]="homeworkDisplay.item?.file ? 'Cambiar' : 'Subir'" icon="pi pi-upload" (onClick)="fileInput.click()" styleClass="p-button-outlined"></p-button>

                                <input #fileInput type="file" accept="*" class="hidden" (change)="selectFile(fileInput, homeworkDisplay)">
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-template>



    </div>
    <p-divider></p-divider>
    <div class="w-full flex flex-row justify-content-end align-items-center gap-2 px-6">
        <i-tabler name="arrow-big-left" class="navigation-btn-resource" (click)="changeResource('previous')"></i-tabler>
        <span class="info-resource text-sm">Pag {{indexHomework + 1}} - {{homeworks.length}} </span>
        <i-tabler name="arrow-big-right" class="navigation-btn-resource" (click)="changeResource('next')"></i-tabler>
    </div>
    <!-- <table class="table-resources w-full">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Vencimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of homeworks">
                <td>{{ item.resource.name }}</td>
                <td class="text-center">{{ resourcesTypesNames[item.type] }}</td>
                <td>
                    <div class="py-1 px-2 border-round-lg text-center text-white" [ngClass]=" {'bg-yellow-600':
                    alertState(item), 'bg-green-600': !alertState(item)}">
                        {{ item.state }}
                    </div>
                </td>
                <td class="text-center">
                    {{ item.resource.extra_options.expiration | date }}
                </td>
                <td class="flex flew-wrap align-items-center justify-content-center gap-2">
                    <ng-container [ngSwitch]="item.resource.type">
                        <ng-container *ngSwitchCase="resourcesTypes.form">
                            <p-button label="Formulario" (onClick)="openForm(item)" icon="pi pi-check"></p-button>
                        </ng-container>
                        <ng-container *ngSwitchCase="resourcesTypes.downloadable">
                            <p-button label="Descargar" (onClick)="downloadFile(item)" icon="pi pi-check"></p-button>
                        </ng-container>
                        <ng-container *ngSwitchCase="resourcesTypes.task">
                            <p-button *ngIf="item.resource.extra_options.file" label="Plantilla" (onClick)="downloadFile(item)" icon="pi pi-check"></p-button>
                            <p-button [label]="item.item?.file ? 'Cambiar' : 'Subir'" icon="pi pi-upload" (onClick)="fileInput.click()" styleClass="p-button-outlined"></p-button>
                            <ng-container *ngIf="item.state !== resourcesStates.Pendiente">
                                <p-button label="Ver archivo" (onClick)="downloadFileReply(item)" icon="pi pi-check"></p-button>
                            </ng-container>
                            <input #fileInput type="file" accept="*" class="hidden" (change)="selectFile(fileInput, item)">
                        </ng-container>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table> -->
</p-dialog>