<ng-container *ngIf="loaded; else loadingTemplates">
    <div class="container-component px-4 py-2 gap-4">
        <div class="normal-panel navigation-panel flex flex-row ">
            <div class="phase-column w-full mt-3 flex flex-row align-items-center justify-content-between">
                <div class="navigation-controls">
                    <i-tabler name="chevron-left" class="direction-btn"></i-tabler>
                    <i-tabler name="chevron-right" class="direction-btn"></i-tabler>
                </div>
                <div class="phase-display" [style.color]="'#EA4254'"></div>
            </div>
            <div class="navigation-contents">
                <p-button styleClass="w-full button-blue-second button-border-mid align-items-center justify-content-between">
                    <span class="font-semibold">Ver entregables de la fase</span>
                </p-button>
            </div>

        </div>
        <div class="display-content scrollwrap scrollwrap_delayed flex flex-column gap-2" *ngIf="contentSelected">
            <div class="flex flex-row justify-content-between align-items-center px-6">
                <div class="flex flex-row gap-6">
                    <ng-container *ngIf="contentCompleted[contentSelected._id]; else elseTemplate">
                        <span class="elipse-panel button-blue-second state-content text-center flex align-items-center justify-content-center font-semibold">Completado</span>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <span class="elipse-panel button-yellow-second state-content text-center flex align-items-center justify-content-center font-semibold">En curso</span>
                    </ng-template>
                    <span class="flex align-items-center justify-content-center gap-4 font-bold">
                        <i-tabler name="layout-board-split" style="color:#F7AF42; height:2rem; width:2rem;"></i-tabler>
                        {{contentSelected.name}}
                    </span>
                </div>
                <div class="completed-btn">
                    <ng-container *ngIf="!contentCompleted[contentSelected._id];">
                        <p-button styleClass="w-full button-yellow-second button-border-mid align-items-center justify-content-between" (onClick)="markAsCompleted()" [disabled]="savingCompleted">
                            <span class="font-semibold">Completar modulo</span>
                            <p-checkbox [(ngModel)]="marked" [binary]="true" inputId="binary"></p-checkbox>
                        </p-button>
                    </ng-container>
                </div>
            </div>
            <div class="normal-panel mx-4 mt-2">
                <div [innerHtml]="(contentSelected.content | safe:'html')" class="w-full px-4 mb-3"></div>
            </div>

        </div>
    </div>
</ng-container>

<ng-template #loadingTemplates>
    <app-loading></app-loading>
</ng-template>

<p-dialog header="Tareas" [(visible)]="viewHomeworks" [style]="{width: '70vw'}" [modal]="true">
    <table class="table-resources w-full">
        <thead>
            <tr>
                <th>Nombre</th>
                <!-- <th>Descripción</th> -->

                <th>Tipo</th>
                <th>Estado</th>
                <th>Vencimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of homeworks">
                <td>{{ item.resource.name }}</td>
                <!-- <td>{{ item.resource.description }}</td> -->

                <td class="text-center">{{ resourcesTypesNames[item.type] }}</td>
                <td>
                    <div class="py-1 px-2 border-round-lg text-center text-white" [ngClass]=" {'bg-yellow-600':
                    alertState(item), 'bg-green-600': !alertState(item)}">
                        {{ item.state }}
                    </div>
                </td>
                <td class="text-center">
                    {{ item.resource.extra_options.expiration | date }}
                </td>
                <td class="flex flew-wrap align-items-center justify-content-center gap-2">
                    <ng-container [ngSwitch]="item.resource.type">
                        <ng-container *ngSwitchCase="resourcesTypes.form">
                            <p-button label="Formulario" (onClick)="openForm(item)" icon="pi pi-check"></p-button>
                        </ng-container>
                        <ng-container *ngSwitchCase="resourcesTypes.downloadable">
                            <p-button label="Descargar" (onClick)="downloadFile(item)" icon="pi pi-check"></p-button>
                        </ng-container>
                        <ng-container *ngSwitchCase="resourcesTypes.task">
                            <p-button *ngIf="item.resource.extra_options.file" label="Plantilla" (onClick)="downloadFile(item)" icon="pi pi-check"></p-button>
                            <p-button [label]="item.item?.file ? 'Cambiar' : 'Subir'" icon="pi pi-upload" (onClick)="fileInput.click()" styleClass="p-button-outlined"></p-button>
                            <ng-container *ngIf="item.state !== resourcesStates.Pendiente">
                                <p-button label="Ver archivo" (onClick)="downloadFileReply(item)" icon="pi pi-check"></p-button>
                            </ng-container>
                            <input #fileInput type="file" accept="*" class="hidden" (change)="selectFile(fileInput, item)">
                        </ng-container>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</p-dialog>