.container-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.navigation-panel {
  flex: 1;
}

.display-content {
  flex: 9;
}
