@import "../../../styles.scss";

.chart-pie-hours {
  width: 300px;
}

@media screen and (min-width: 1700px) {
  .agenda-container {
    max-width: calc(100vw - 130px) !important;
  }
}

@media screen and (max-width: 1700px) {
  .agenda-container {
    max-width: calc(100vw - 270px) !important;
  }
}
