@import "../../../styles.scss";

label {
    font-size: 0.8rem;
}

.panel-icon {
    border-radius: 0.625rem;
    padding: 0.625rem;
    background-color: $grayThird;
    i-tabler {
        height: 1.25rem;
        width: 1.25rem;
    }    
}

.panel-icon-active {
    background-color: #FFF1DC;
    i-tabler {
        color: $appColorSeven;
        }
    
}
