<div class="flex flex-column">
    <div class="flex flex-none flex-column xl:flex-row gap-4 sm:p-2 ">
        <div class="fex flex-column flex-grown-1 px-2 sm:px-4 md:px-8">
            <h2>Tu contenido de valor</h2>
            <div style="height: 1.5rem"></div>
            <div class="flex gap-2">
                <i-tabler class="text-center" name="bulb" style="color:#18E4E6; height:4rem; width:4rem;"></i-tabler>
                <p class="th2">Estas viendo el Kit de entregables de las Fases que has aprobado, todos son contenidos de
                    alto valor que has trabajado a
                    lo largo de la Ruta. Tu decides que quieres ver y como aprovecharlo al máximo, para ello puedes
                    filtrar la lista por
                    Fase o verlas todas.
                </p>
            </div>
        </div>
        <div class="flex flex-none align-items-end gap-3 px-1 md:px-6 mt2">
            <div class="flex flex-column gap-2">
                <label>Ver por:</label>
                <p-dropdown [options]="sprints" [(ngModel)]="sprintSelected" optionLabel="name" [filter]="true" filterBy="name" placeholder="Seleccione un sprint" (onChange)="setCards()">
                    <ng-template let-sprint pTemplate="item">
                        <div>{{ sprint.name }}</div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="flex flex-column gap-2">
                <label>Ordenar por:</label>
                <p-dropdown optionLabel="name"></p-dropdown>
            </div>
            <div class="w-2"></div>
            <div class="panel-icon">
                <i-tabler name="list"></i-tabler>
            </div>
            <div class="panel-icon panel-icon-active">
                <i-tabler name="layout-grid"></i-tabler>
            </div>
        </div>
    </div>
    <p-divider></p-divider>
    <ng-container *ngIf="loaded; else loadingTemplates">
        <div class="flex flex-grown-1 p-4 cards-container" *ngIf="cards.length > 0">
            <div class="flex flex-wrap gap-2 w-full justify-content-center gap-4">
                <ng-container *ngFor="let item of cards">
                    <app-resource-card [title]="item.resource.name" [state]="item.state" [date]="item.resource.extra_options.end"></app-resource-card>
                    <!--<p-card [header]="item.resource.name" [subheader]="item.resource.extra_options.end | date"
                        [style]="{ width: '360px' }">
                        <ng-template pTemplate="header">
                            <img alt="Card"
                                [src]="item.type === 'archivo' ? 'https://images.pexels.com/photos/4792285/pexels-photo-4792285.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1' : 'https://images.pexels.com/photos/5699456/pexels-photo-5699456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'" />
                        </ng-template>
                        <div>
                            <div class="flex flex-row align-items-center w-full gap-2">
                                <span>Estado:</span>
                                <p
                                    [ngStyle]="{'color': (item.state === 'Pendiente' || item.state === 'Sin descargar') ? '#FFA07A' : '#32CD32'}">
                                    {{item.state}}</p>
                            </div>
                            <p class="w-full">{{item.observations}}</p>

                        </div>
                        <ng-template pTemplate="footer">
                            <div class="w-full flex flex-wrap gap-2">
                                <ng-container [ngSwitch]="item.resource.type">
                                    <ng-container *ngSwitchCase="resourcesTypes.form">
                                        <p-button label="Formulario" (onClick)="openForm(item)"
                                            icon="pi pi-check"></p-button>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="resourcesTypes.downloadable">
                                        <p-button label="Descargar" (onClick)="downloadFile(item)"
                                            icon="pi pi-check"></p-button>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="resourcesTypes.task">
                                        <p-button *ngIf="item.resource.extra_options.file" label="Plantilla"
                                            (onClick)="downloadFile(item)" icon="pi pi-check"></p-button>
                                        <p-button [label]="item.item?.file ? 'Cambiar' : 'Subir'" icon="pi pi-upload"
                                            (onClick)="fileInput.click()" styleClass="p-button-outlined"></p-button>
                                        <ng-container *ngIf="item.state !== resourcesStates.Pendiente">
                                            <p-button label="Ver archivo" (onClick)="downloadFileReply(item)"
                                                icon="pi pi-check"></p-button>
                                        </ng-container>
                                        <input #fileInput type="file" accept="*" class="hidden"
                                            (change)="selectFile(fileInput, item)">
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-template>
                    </p-card>-->


                </ng-container>
            </div>

        </div>
    </ng-container>
</div>
<ng-template #loadingTemplates>
    <app-loading></app-loading>
</ng-template>