<ng-container *ngIf="loaded; else loadingTemplates">
    <div class="p-4">
        <div class="w-full flex flex-row w-full gap-4 text-white justify-content-between align-items-center ">
            <h2>Contenidos</h2>
            <div class="flex flex-row gap-2">
                <!-- <p-button label="Vista previa" icon="pi pi-eye"></p-button> -->
                <p-button label="Sprint" icon="pi pi-plus" (onClick)="openCreator()"></p-button>
            </div>
        </div>
        <div class="bg-white flex flex-column align-items-stretch justify-content-start border-round-2xl p-3 align-items-center gap-2">
            <p-treeTable [value]="table" selectionMode="single">
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                    <tr class="tree-row" [ngClass]="{
                                '0': 'surface-100',
                                '1': 'surface-0'
                            }[(rowNode.level)%2]" [ttRow]="rowNode">
                        <td class="relative" tooltipPosition="top" pTooltip="{{rowData?.name ?? ''}}">
                            <div *ngIf="rowData.hide" class="flex justify-content-start align-items-start w-full h-full
                                    absolute top-0 left-0 text-xs text-primary font-semibold p-1 border-2 border-primary bg-transparent">
                                <span>Oculto</span>
                            </div>
                            <div class="row-container">
                                <div class="flex flex-row align-items-center overflow-hidden px-1">
                                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                    <div class="flex flex-column gap-1 overflow-hidden">
                                        <span class="font-bold overflow-hidden white-space-nowrap text-overflow-ellipsis">{{rowData?.name ?? ''}}</span>
                                        <div class="overflow-hidden white-space-nowrap text-overflow-ellipsis min-w-0 text-xs flex flex-row gap-1 align-items-center">
                                            <i (click)="selectContent(rowData); changeRanking.toggle($event)" tooltipPosition="top" pTooltip="Editar" class="text-xs pi pi-pencil text-primary"></i>
                                            <span tooltipPosition="top" pTooltip="Valoración individual por completar el contenido, no tiene relación con la puntuación de sus recursos ni contenidos internos." class="underline">
                                                <b>Puntuación:</b>
                                            </span>
                                            <span>{{(rowData?.extra_options?.points) ?? 100}}</span>
                                        </div>
                                        <div class="overflow-hidden white-space-nowrap text-overflow-ellipsis min-w-0 text-xs flex flex-row gap-1 align-items-center" *ngIf="rowData?.extra_options?.duration">
                                            <i (click)="selectContent(rowData); changeDuration.toggle($event)" tooltipPosition="top" pTooltip="Editar" class="text-xs pi pi-pencil text-primary"></i>
                                            <span tooltipPosition="top" pTooltip="Duración en dias del sprint" class="underline">
                                                <b>Duración:</b>
                                            </span>
                                            <span>{{rowData?.extra_options?.duration}}</span>
                                        </div>
                                        <div class="overflow-hidden white-space-nowrap text-overflow-ellipsis min-w-0 text-xs flex flex-row gap-1 align-items-center">
                                            <span><b>Recursos:</b></span>
                                            <span>{{(rowData?.resources?.length)?? 0}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-row flex-wrap gap-1 align-items-center justify-content-end">

                                    <!-- <button pButton pRipple icon="pi pi-file" class="p-button-outlined" pTooltip="Ver" tooltipPosition="top" *ngIf="!rowData?.extra_options?.sprint">
                                    </button> -->
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-outlined" pTooltip="Editar" tooltipPosition="top" (click)="selectViewContent(rowData)">
                                    </button>
                                    <button pButton pRipple [icon]="rowData.hide ? 'pi pi-eye-slash' : 'pi pi-eye'" class="p-button-outlined p-button-help" [pTooltip]="rowData.hide ? 'Mostrar' : 'Ocultar'" tooltipPosition="top" (click)="invertHide(rowData)">
                                    </button>
                                    <button pButton pRipple *ngIf="rowData.levelNode < 2" icon="pi pi-plus" class="p-button-outlined" pTooltip="Agregar contenido" tooltipPosition="top" (click)="openCreator(rowData)">
                                    </button>
                                    <button pButton pRipple icon="pi pi-times" class="p-button-outlined p-button-danger" pTooltip="Borrar" tooltipPosition="top" (click)="deleteContent(rowData)">
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </div>
    </div>
</ng-container>

<ng-template #loadingTemplates>
    <app-loading></app-loading>
</ng-template>

<p-overlayPanel #changeRanking [showCloseIcon]="true">
    <ng-template pTemplate="content">
        <div class="flex flex-column gap-2 py-2">
            <p-inputNumber [(ngModel)]="selectedContent.extra_options.points" [showButtons]="true" inputId="stacked" [min]="100" suffix=" puntos"> </p-inputNumber>
            <p-button icon="pi pi-save" label="Guardar" (onClick)="changeExtraOptions()"></p-button>
        </div>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #changeDuration [showCloseIcon]="true">
    <ng-template pTemplate="content">
        <div class="flex flex-column gap-2 py-2">
            <p-inputNumber [(ngModel)]="selectedContent.extra_options.duration" [showButtons]="true" inputId="stacked" suffix=" días"> </p-inputNumber>
            <p-button icon="pi pi-save" label="Guardar" (onClick)="changeExtraOptions()"></p-button>
        </div>
    </ng-template>
</p-overlayPanel>