<div class="flex flex-column px-4 py-3 h-full w-full h-full">
    <div class="flex flex-column xl:flex-row gap-4 justify-content-between">
        <div class="fex flex-column flex-grown-1 px-1 sm:px-4 md:px-8">
            <h2>Comunidades</h2>
            <div style="height: 1.5rem"></div>
            <div class="flex gap-2">
                <i-tabler class="text-center" name="bulb" style="color:#18E4E6; height:2rem; width:2rem;"></i-tabler>
                <p class="th2">Cuando busques comunicarte con alguien mas y este en nuestro ecosistema.
                </p>
            </div>
        </div>
        <div class="flex flex-none flex-column sm:flex-row align-items-end gap-3 px-6 mt2 ">
            <div class="flex flex-column gap-2">
                <label>Ver por:</label>
                <div class="flex">
                    <!-- <form [formGroup]="formFilterCategory">
                            <p-dropdown formControlName="category" [options]="categories" optionLabel="name"></p-dropdown>
                        </form> -->
                </div>
            </div>
            <div class="flex flex-column gap-2">
                <label>Ordenar por:</label>
                <p-dropdown optionLabel="name"></p-dropdown>
            </div>
            <div class="w-2"></div>
            <p-button label="+ Ticket"></p-button>
        </div>
    </div>
    <p-divider></p-divider>
    <div class="w-full" style="flex: 1" *ngIf="tableContext">

        <app-dynamic-table [context]="tableContext" [options]="optionsTable" [loading]="loading" [title]="tableTitle" (action)="actionFromTable($event)">
        </app-dynamic-table>

    </div>

</div>