<p-messages [(value)]="flagsActivity" [enableService]="false" [closable]="false"></p-messages>
<div #tableWrapper class="table-container">
    <p-table #dt class="table-app w-full" [value]="listStartups" [tableStyle]="{'min-width': '50vw'}" dataKey="_id" [filterDelay]="2" [globalFilterFields]="filterFields" [ngStyle]="{ 'height': scrollHeight + 'px'}" [rowHover]="true" scrollDirection="both" [scrollHeight]="scrollHeight" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap justify-content-center" style="gap:0.5rem;">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event).target.value, 'contains')" placeholder="Buscar" id="search-startup-assign" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%">Nombre</th>
                <th style="width:10%" *ngFor="let activity of activitiesConfig">
                    {{activity.activityName}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>{{row.item.nombre}}</td>
                <td *ngFor="let activity of activitiesConfig" [pEditableColumn]="row.hours[activity.id]" pEditableColumnField="limit">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber type="number" [(ngModel)]="row.hours[activity.id]" [min]="0" suffix=" hora(s)" [showButtons]="true" (ngModelChange)="updateValuesActivity(activity, row)" [id]="activity.id + row._id" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{row.hours[activity.id]}} hora(s)
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No hay startups vinculadas</td>
            </tr>
        </ng-template>
    </p-table>
</div>