<p-messages [(value)]="flagsActivity" [enableService]="true" [closable]="false"></p-messages>
<div #tableWrapper class="table-container overflow-hidden">
    <p-table #dt [value]="listStartups" [tableStyle]="{'min-width': '70vw'}" dataKey="_id" [filterDelay]="2" [globalFilterFields]="['item.item.nombre']" [ngStyle]="{ 'height': scrollHeight + 'px'}" [rowHover]="true" scrollDirection="both" [scrollHeight]="scrollHeight" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="table-header">
                <span class="header color-custom">Horas asignadas startups</span>
                <div class="flex flex-wrap justify-content-center" style="gap:0.5rem;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event).target.value, 'contains')" placeholder="Buscar" id="search-startup-assign" />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%">Nombre</th>
                <th style="width:10%" *ngFor="let item of activitiesConfig">
                    {{item.activityName}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.item.nombre}}</td>
                <td *ngFor="let activity of activitiesConfig" [pEditableColumn]="item.hours[activity.id]" pEditableColumnField="limit">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber type="number" [(ngModel)]="item.hours[activity.id]" [min]="0" [max]="activity.limit" suffix=" hora(s)" [showButtons]="true" (ngModelChange)="updateValuesActivity(activity, item)" [id]="activity.id + item._id" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{item.hours[activity.id]}} hora(s)
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No hay startups vinculadas</td>
            </tr>
        </ng-template>
    </p-table>
</div>