<div class="px-4 py-3 h-full w-full">
  <p-tabView styleClass="shadow-elevated overflow-hidden border-round h-full w-full surface-0 tabview-content-fit" [scrollable]="true">
    <p-tabPanel header="Usuarios">
      <ng-template pTemplate="header">
        <span class="flex flex-row gap-2 align-items-center">
          <fa-icon [icon]="faUsers"></fa-icon>
          <span>Usuarios</span>
        </span>
      </ng-template>
      <ng-template pTemplate="content">
        <app-users-panel></app-users-panel>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Invitaciones">
      <ng-template pTemplate="header">
        <span class="flex flex-row gap-2 align-items-center">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <span>Invitaciones</span>
        </span>
      </ng-template>
      <ng-template pTemplate="content">
        <app-invitations></app-invitations>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Roles">
      <ng-template pTemplate="header">
        <span class="flex flex-row gap-2 align-items-center">
          <fa-icon [icon]="faAddressCard"></fa-icon>
          <span>Roles</span>
        </span>
      </ng-template>
      <ng-template pTemplate="content">
        <app-roles></app-roles>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Asignaciones">
      <ng-template pTemplate="header">
        <span class="flex flex-row gap-2 align-items-center">
          <fa-icon [icon]="faLink"></fa-icon>
          <span>Asignaciones</span>
        </span>
      </ng-template>
      <ng-template pTemplate="content">
        <app-users-assign></app-users-assign>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>

<p-confirmDialog key="adminConfirmDialog" [style]="{ width: '50vw' }"></p-confirmDialog>