<div class="w-full flex flex-row divider-app">
    <p>{{labelText}}</p>
    <div class="divider-line"></div>
    <!-- <ng-container [ngSwitch]="typeDivider">
        <ng-container *ngSwitchCase="divideTypes.dashed">
            <hr class="dashed">
        </ng-container>
        <ng-container *ngSwitchCase="divideTypes.dotted">
            <hr class="dashed">
        </ng-container>
        <ng-container *ngSwitchCase="divideTypes.solid">
            <hr class="dashed">
        </ng-container>
        <ng-container *ngSwitchCase="divideTypes.rounded">
            <hr class="dashed">
        </ng-container>
    </ng-container> -->
</div>