@import "../../../styles.scss";

.sidenav {
  transition: all 0.5s ease;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 16.5625rem;
  height: 100vh;
  background-color: $appColorOne;
  .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0.938rem;
    width: 100%;
    .logo {
      margin-top: 0.8rem;
      width: 3rem;
      min-width: 3rem;
      height: 3rem;
      min-height: 3rem;
      cursor: pointer;
      border: none;
    }
    .logo-text {
      margin-left: 1.5rem;
      font-size: 24px;
      font-weight: 800;
      color: $appText;
    }
  }
}

.sidenav-collapsed {
  width: 5rem;
  @media (max-width: 576px) {
    display: none;
  }
}

.sidenav-nav {
  list-style: none;
  // padding: 0.938rem;
  padding: 0;
  margin: 0.5rem 0 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .sidenav-nav-item {
    width: 100%;
    // margin-bottom: 0.625rem;
    @media (max-width: 576px) {
      font-size: 12px;
    }
    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3.4375rem;
      color: $appText;
      text-decoration: none;
      // border-radius: 0.625rem;
      transition: all 0.5s ease;
      padding: 0.6875rem 0.72rem;
      .sidenav-link-icon {
        // font-size: 0.75rem;
        width: 3.4375rem;
        height: 3.4375rem;
        padding: 0.7rem;
        // margin: 0 0 0.5rem 0.5rem;
        text-align: center;
        color: rgba($appColorTwo, 0.5);
      }
      .sidenav-link-text {
        color: rgba($appColorTwo, 0.5);
        margin-left: 0.5rem;
        // margin-top: 0.5rem;
        flex: 1;
        font-weight: 450;
        // margin: 0 0.5rem 0 0.5rem;
      }
    }
  }
  // .sidenav-nav-item:hover {
  //   .sidenav-link-icon,
  //   .sidenav-link-text,
  //   .sidenav-nav-link {
  //     color: lighten($appColorTwo, 20%);
  //     .menu-collapse-icon {
  //       color: lighten($appColorTwo, 20%);
  //     }
  //   }
  // }
}

.menu-icon {
  color: $appColorTwo !important;
  cursor: pointer;
  margin: 2rem 1rem;
}

.active {
  .sidenav-link-icon {
    border-radius: 0.625rem;
    background-color: darken($appColorTwo, 20%);
  }

  .menu-collapse-icon,
  .sidenav-link-icon,
  .sidenav-link-text {
    color: lighten($appColorTwo, 20%) !important;
  }
  opacity: 1 !important;
}

.uppercase .right-bar-selected {
  width: 5px;
  height: 2rem;
  background-color: $appColorTwo;
  border-radius: 0.15rem;
  // margin-right: 0.25rem;
  // margin-bottom: 0.35rem;
  margin: 0 0.25rem 0.35rem;
}

.active-sublevel {
  .sublevel-link-icon {
    border-radius: 0.625rem;
    background-color: darken($appColorTwo, 20%);
  }

  .menu-collapse-icon,
  .sublevel-link-icon,
  .sublevel-link-text {
    color: lighten($appColorTwo, 20%) !important;
  }
  opacity: 1 !important;
}

.menu-collapse-icon {
  width: 2rem;
  min-width: 2rem;
  margin: auto 0.5rem auto auto;
  text-align: center;
  color: $appColorTwo;
}
.sublevel-nav {
  list-style: none;
  padding: 0;
  margin-left: 0.75rem;

  .sublevel-nav-item {
    .sublevel-nav-link {
      display: flex;
      align-items: center;
      height: 3.4375rem;
      color: $appText;
      text-decoration: none;
      // border-radius: 0.625rem;
      transition: all 0.3s ease;
      padding: 0.6875rem 0.72rem;
      .sublevel-link-icon {
        width: 3.4375rem;
        height: 3.4375rem;
        padding: 0.7rem;
        margin: 0 0 0.5rem 0.5rem;
        text-align: center;
        color: rgba($appColorTwo, 0.5);
      }

      .sublevel-link-text {
        margin-left: 0.8rem;
        color: rgba($appColorTwo, 0.5);
        // margin-top: 0.5rem;
        flex: 1;
      }
    }
  }
}

.divider-app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 1.5rem 1.15rem 1rem 0.5rem;
  gap: 0.8rem;
  p {
    font-size: 0.875rem;
    color: lighten($appColorTwo, 10%);
  }
  .divider-line {
    flex: 1;
    background-color: lighten($appColorTwo, 10%);
    padding-top: 1px;
    // margin-left: 0.75rem;
  }
}

// ?Scrollbar and visibility on hover and focus

.scrollwrap {
  overflow-y: auto;
  visibility: hidden;
  height: calc(100% - 6.35rem);
}

.sidenav-nav,
.scrollwrap:hover,
.scrollwrap:focus {
  visibility: visible;
}
