<ng-container *ngIf="announcement else loadingTemplate">
  <form [formGroup]="announcementEditForm">
    <div class="p-4">
      <div class="flex flex-row align-items-center justify-content-between px-3">
        <div class="flex flex-row align-items-center gap-3">
          <label class="text-xl font-semibold text-color-other text-2xl">Información</label>
          <ng-container *ngIf="!editEnabled; else saveBtn">
            <div class="button-grey cursor-pointer border-round p-1" (click)="editEnabled = true" pTooltip="Editar">
              <i-tabler name="edit"></i-tabler>
            </div>
          </ng-container>
          <ng-template #saveBtn>
            <p-button icon="pi pi-save" label="Aplicar cambios" [loading]="saving" [disabled]="announcementEditForm.pristine || announcementEditForm.invalid" (onClick)="saveFormChanges()"></p-button>
            <p-button icon="pi pi-times" styleClass="p-button-outlined" label="Cancelar" (onClick)="cancelEdit()"></p-button>
          </ng-template>
        </div>
        <div class="flex flex-row flex-wrap gap-2">
          <ng-container *ngIf="!announcement.published else publishedTemplate">
            <p-button icon="pi pi-send" styleClass="button-yellow-second" label="Publicar" pTooltip="Publicar" tooltipPosition="top" (onClick)="publish()"></p-button>
          </ng-container>
          <ng-template #publishedTemplate>
            <p-button icon="pi pi-check" styleClass="button-blue p-button-oulined" label="Publicada" pTooltip="Ocultar" tooltipPosition="top" (onClick)="unpublish()"></p-button>
          </ng-template>
        </div>
      </div>

      <div class="flex flex-column w-full align-items-stretch justify-content-start border-round-2xl p-3 align-items-center gap-2">
        <div class="flex flex-row w-full align-items-center gap-4 section-surface p-3">
          <app-avatar-uploader styleClass="w-16rem h-12rem" shape="square" [imageUrl]="announcement.thumbnail | getImage | async" (onUpload)="uploadImage($event, announcement)" (onRemove)="removeImage(announcement)"></app-avatar-uploader>
          <div class="flex flex-row flex-grow-1">
            <div class="flex flex-column gap-2 justify-content-between w-full">
              <ng-container *ngIf="!editEnabled else editTemplate">
                <div class="flex flex-column gap-1">
                  <span class="text-xl font-semibold">{{announcement.name}}</span>
                  <div class="flex flex-row gap-2">
                    <div class="flex flex-column gap-1 border-round-2xl text-white text-sm bg-primary py-3 px-2" style="width: 8rem">
                      <i-tabler name="calendar-event" style="width: 2.5rem; height: 2.5rem"></i-tabler>
                      <span class="mt-2">Inicia</span>
                      <span>{{announcement.startAt | date}}</span>
                    </div>
                    <div class="flex flex-column gap-1 border-round-2xl text-white text-sm bg-second-color py-3 px-2" style="width: 8rem">
                      <i-tabler name="calendar-event" style="width: 2.5rem; height: 2.5rem"></i-tabler>
                      <span class="mt-2">Termina</span>
                      <span>{{announcement.endAt | date}}</span>
                    </div>
                  </div>
                </div>

              </ng-container>
              <ng-template #editTemplate>
                <div class="grid formgrid">
                  <div class="field col-12">
                    <label class="font-semibold" for="nameAnnouncement">Nombre</label>
                    <input pInputText id="nameAnnouncement" formControlName="name" class="inputfield field-full" />
                  </div>
                  <div class="field col-12 md:col-6">
                    <label class="font-semibold" for="calendar-first">Comienza</label>
                    <p-calendar inputId="calendar-first" appendTo="body" [style]="{ width: '100%' }" formControlName="startAt"></p-calendar>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label class="font-semibold" for="calendar-last">Termina</label>
                    <p-calendar inputId="calendar-last" appendTo="body" [style]="{ width: '100%' }" formControlName="endAt"></p-calendar>
                  </div>
                  <div *ngIf="announcementEditForm.errors && announcementEditForm.errors['dateRange']" class="field col-12 flex">
                    <label class="m-auto p-error">La fecha de fin debe ser superior a la de inicio</label>
                  </div>
                </div>

              </ng-template>

            </div>
          </div>
        </div>

        <div class="w-full mt-3 flex flex-row flex-wrap gap-2 align-items-center justify-content-between">
          <label class="text-xl font-semibold text-color-other text-2xl">Formulario</label>
          <div class="flex gap-2">
            <p-button pTooltip="Ver Formulario" tooltipPosition="left" icon="pi pi-eye" styleClass="button-yellow-second" (onClick)="previewForm()"></p-button>
            <p-button *ngIf="canCreateForm" styleClass="button-grey" pTooltip="Nuevo Formulario" tooltipPosition="left" icon="pi pi-plus" (onClick)="createForm()"></p-button>
          </div>
        </div>

        <div class="flex flex-column w-full gap-2 section-surface p-3">
          <p-dropdown *ngIf="editEnabled" styleClass="w-full" id="form" [options]="forms" formControlName="form" optionLabel="label" optionValue="id"></p-dropdown>
          <label *ngIf="!editEnabled">{{ announcement.form.name }}</label>
        </div>

        <label class="w-full mt-3 text-xl font-semibold text-color-other text-2xl">Enlace para redirigir después de entregar formulario.</label>
        <div class="w-full flex flex-column w-full gap-2 section-surface p-3">
          <input *ngIf="editEnabled" pInputText formControlName="redirectLink" class="inputfield field-full" />
          <p *ngIf="!editEnabled">{{announcement.redirectLink ? announcement.redirectLink : "Sin asignar"}}</p>
        </div>


        <label class="w-full mt-3 text-xl font-semibold text-color-other text-2xl">Texto para después de entregar formulario.</label>
        <div class="w-full flex flex-column w-full gap-2 section-surface p-3">
          <textarea *ngIf="editEnabled" pInputTextarea formControlName="exitText" [maxlength]="500" [rows]="5" style="width: 100% !important;"></textarea>
          <p *ngIf="!editEnabled">{{announcement.exitText ? announcement.exitText : "Sin asignar"}}</p>
        </div>

        <label class="w-full mt-3 text-xl font-semibold text-color-other text-2xl">Descripción</label>
        <div class="w-full flex flex-column w-full gap-2 section-surface p-3">
          <textarea *ngIf="editEnabled" pInputTextarea formControlName="description" [maxlength]="120" [rows]="5" style="width: 100% !important;"></textarea>
          <p *ngIf="!editEnabled">{{announcement.description}}</p>
        </div>

        <div class="w-full mt-3 flex flex-row justify-content-between">
          <label class=" text-xl font-semibold text-color-other text-2xl">Landing</label>
          <div class="flex gap-2">
            <p-button styleClass="button-yellow-second" icon="pi pi-external-link" pTooltip="Ir a landing" tooltipPosition="top" [routerLink]="landingUrl"></p-button>
            <p-button styleClass="button-grey" icon="pi pi-copy" pTooltip="Copiar enlace" tooltipPosition="top" (onClick)="copyText(landingUrl)"></p-button>
          </div>
        </div>
        <div class="w-full flex flex-column w-full gap-2 section-surface p-3">
          <tinymce *ngIf="editEnabled" formControlName="landing" [config]="configTiny" class="w-full"></tinymce>
          <ng-container *ngIf="!editEnabled">
            <p-button *ngIf="!announcement.landing" class="m-auto" label="Agregar landing" (onClick)="editEnabled = true"></p-button>
            <div class="w-full" [innerHtml]="(announcement.landing | safe:'html')"></div>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</ng-container>


<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>