<ng-container *ngIf="!loading else loadingPage">
  <div class="app-tabview">
    <div class="flex flex-row justify-content-between p-3 gap-2 flex-wrap align-content-center align-items-center">
      <div class="flex flex-row gap-4 align-items-center">
        <span class="text-tertiary font-semibold text-xl white-space-nowrap">
          Convocatorias y retos
        </span>
      </div>
      <div class="flex flex-row align-items-center w-full max-w-28rem gap-2">
        <i-tabler class="size-md text-secondary" name="bulb"></i-tabler>
        <p class="text-sm font-normal">
          Estas viendo las Convocatorias y los retos creados hasta ahora. Desde este panel puedes seleccionar cualquiera que deses consultar y crear una nueva. Entra en cada una para consultar su gestión e información.
        </p>
      </div>
      <div class="flex flex-row gap-2">
        <span class="p-input-icon-left mr-2">
          <i class="pi pi-search-plus"></i>
          <input type="text" pInputText (input)="dv.filter($any($event.target).value)" placeholder="Buscar" />
        </span>
        <div class="flex flex-row gap-2 justify-content-center">
          <p-button *ngIf="user?.allowed(userPermission.announcements_create)" type="button" label="Crear Convocatoria" icon="pi pi-plus" (onClick)="openMenu.toggle($event)"></p-button>
          <p-tieredMenu appendTo="body" #openMenu [model]="createOpenActions" [popup]="true"></p-tieredMenu>
          <p-button *ngIf="user?.allowed(userPermission.announcements_challenges)" type="button" label="Crear Reto" icon="pi pi-plus" (onClick)="challengeMenu.toggle($event)"></p-button>
          <p-tieredMenu appendTo="body" #challengeMenu [model]="createChallengeActions" [popup]="true"></p-tieredMenu>
        </div>
      </div>
    </div>
    <p-divider styleClass="p-0" [style]="{ 'margin': '1px 0' }"></p-divider>
    <p-dataView styleClass="app-tabview" #dv [value]="announcements" [paginator]="false" filterBy="name" layout="grid">
      <ng-template pTemplate="header">
        <div class="flex flex-wrap align-items-center justify-content-between py-2">
          <span class="p-input-icon-left">
            <span class="font-bold">Todos</span>
          </span>
          <div class="flex flex-row gap-3">
            <div class="flex flex-row gap-2 align-items-center text-primary">
              <span class="font-semibold text-2xl">{{announcements.length}}</span>
              <span class="font-semibold">{{announcements.length > 1 ? '' : ''}} </span>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- <ng-template let-item pTemplate="gridItem">
        <div class="tour-card" style="margin:0.5rem;">
          <img width="100%" height="144px" [src]="item?.thumbnail ? (item?.thumbnail | getImage | async) : '/assets/noPic.jpg'" alt="">
          <span class="card-title">{{item.name}}</span>
          <p class="card-description">{{item.description}}</p>
          <div class="flex flex-row align-items-center justify-content-between">
            <div class="flex flex-row" style="gap:0.5rem;">
              <ng-container *ngFor="let action of cardActions">
                <p-button *ngIf="allowEdit(item)" (click)="action.command($event, item)" type="button" [label]="action.label"></p-button>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-template> -->
      <ng-template let-item pTemplate="gridItem">
        <div class="surface-0 flex flex-column shadow-focus border-round-3xl p-4 justify-content-between m-4 w-18rem h-18rem">
          <div class="flex flex-column gap-6">
            <div class="flex flex-row gap-1 align-items-center justify-content-between">
              <i-tabler class="text-center text-tertiary size-md" name="brand-ubuntu"></i-tabler>
              <div class="flex flex-row gap-2 align-items-center bg-tertiary-light text-tertiary px-3 py-1 border-round-xl text-xs">
                <i-tabler class="text-center text-xs size-sm " name="calendar"></i-tabler>
                <span class="font-semibold">{{item.startAt | date: 'dd MMM yyyy'}}</span>
              </div>
            </div>
            <div class="flex flex-column gap-1">
              <span class="font-bold">{{item.name}}</span>
              <div class="flex align-items-center gap-2 font-semibold">
                <span class="text-xs">{{item.startAt | date: 'dd MMMM yyyy'}}</span>-<span class="text-xs">{{item.endAt | date: 'dd MMMM yyyy'}}</span>
              </div>
            </div>
          </div>
          <div class="flex flex-row gap-1 justify-content-between align-items-center">
            <div class="flex flex-row gap-2 align-items-center">
              <i-tabler class="size-md" name="users-group"></i-tabler>
              <span class="text-xs font-semibold">{{item.participants}}</span>
            </div>
            <ng-container *ngFor="let action of cardActions">
              <p-button *ngIf="allowEdit(item)" (click)="action.command($event, item)" type="button" [label]="action.label" styleClass="p-button-quaternary"></p-button>
            </ng-container>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="empty">
        <div class="flex flex-row justify-content-center align-items-center w-full h-20rem">
          <span class="text-2xl text-500 font-semibold">No hay Batch's</span>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</ng-container>

<ng-template #loadingPage>
  <app-loading></app-loading>
</ng-template>