@import "../../../styles.scss";

$bottomSpacing: 1rem;

.section-header-container {
  margin-bottom: $bottomSpacing;
}

.active {
  position: relative;
  &::after {
    content: " ";
    position: absolute;
    height: 2px;
    z-index: 1;
    width: 100%;
    background-color: var(--app-color-five);
    top: calc(100% + 5px + $bottomSpacing);
    left: 0;
  }
}

::ng-deep .app-tabview .p-dataview .p-dataview-content {
  margin: 0 2rem 0 2rem;
}
