<body class="flex flex-column w-full h-full justify-content-between overflow-hidden">
    <div class="main-body flex flex-row">
        <div class="image-login hidden md:flex ">

        </div>
        <div class="logos-login hidden md:flex flex-column justify-content-center align-items-center gap-7">
            <div class="w-full flex justify-content-end align-items-center">
                <ng-container *ngTemplateOutlet="loginLogo"></ng-container>
            </div>
            <span class="w-full font-bold text-lg text-right">!Ve por mas oportunidades!</span>
            <span class="w-full font-bold text-7xl text-right">Te damos la bienvenida</span>
            <div class=" w-full flex flex-row align-items-center justify-content-end gap-2">
                <ng-container *ngTemplateOutlet="madeIn"></ng-container>
            </div>
        </div>
        <div class="box-login flex flex-column align-items-center justify-content-center gap-4">
            <div class="md:hidden flex justify-content-center align-items-center">
                <ng-container *ngTemplateOutlet="loginLogo"></ng-container>
            </div>
            <div class="normal-panel w-9 login-card flex flex-column p-5 ">
                <form [formGroup]="loginForm" class="formgrid grid mt-2" (keydown)="onKeyUp($event)">
                    <div class="field col-12 flex flex-column align-items-center">
                        <label htmlFor="username">Usuario</label>
                        <input pInputText id="username" formControlName="login" placeholder="Ingresa tu correo de registro" aria-describedby="username-help" [ngClass]="{'ng-invalid ng-dirty': loginForm.touched && formControls['login'].errors}" class="w-full" />
                        <small id="username-help" *ngIf="loginForm.touched && formControls['login'].errors?.['required']" class="error-message">Ingrese un email</small>
                        <small id="username-help" *ngIf="formControls['login'].errors?.['email']" class="error-message">Ingrese un email valido</small>
                    </div>
                    <div class="field col-12 flex flex-column align-items-center password-input">
                        <label htmlFor="password">Clave de ingreso</label>
                        <p-password inputStyleClass="w-full" [toggleMask]="true" [feedback]="false" formControlName="password" placeholder="Ingresa tu clave" aria-describedby="password-help" [ngClass]="{'ng-invalid ng-dirty': formControls['login'].errors}"></p-password>

                        <!-- <p-password id="password" formControlName="password" [toggleMask]="true"  [feedback]="false"  class="w-full" inputStyleClass="w-full"></p-password> -->
                        <small id="password-help" *ngIf="loginForm.touched && formControls['password'].errors?.['required']" class="error-message">La
                            contraseña es obligatoria</small>
                        <small id="password-help" *ngIf="formControls['password'].errors?.['minlength']" class="error-message">La
                            contraseña debe tener al menos 6 caracteres</small>
                    </div>
                </form>
                <div style="height: 4rem;"></div>
                <div class="w-full flex flex-column gap-4 mb-2">
                    <p-button styleClass="forget-psw w-full align-items-center justify-content-center hover:text-white" (onClick)="openRecoverPsw()">
                        <span class="ml-2 font-semibold">Olvide mi clave</span>
                    </p-button>
                    <p-button styleClass="w-full align-items-center justify-content-center" [loading]="loading" loadingIcon="pi pi-spinner" (onClick)="onSubmit()">
                        <span class="ml-2 font-semibold	">Ingresar ahora</span>
                    </p-button>
                    <p-button styleClass="p-button-outlined w-full align-items-center justify-content-center surface-100 border-100	text-600" (onClick)="logInWithGoogle()">
                        <img alt="logoGoogle" src="/assets/googleLogo.svg" style="width: 1.5rem" />
                        <span class="ml-2 font-semibold	">Ingresar con google</span>
                    </p-button>
                </div>
            </div>
            <div class="md:hidden flex flex-row align-items-center gap-2 justify-content-center">
                <ng-container *ngTemplateOutlet="madeIn"></ng-container>
            </div>
        </div>
    </div>
    <footer class="flex flex-row w-full">
        <div class="box-third-color">
        </div>
        <div class="box-second-color">
        </div>
        <div class="box-primary-color flex align-items-center justify-content-end p-2">
            <span class="text-xs">{{footerText}}</span>
        </div>
    </footer>
</body>

<ng-template #loginLogo>
    <img class="w-9" src="/assets/startup.png" />
</ng-template>

<ng-template #madeIn>
    <img style="width: 1.5rem" src="/assets/colombia.png" />
    <span class="text-xs">Produced in <strong>Colombia</strong> </span>
</ng-template>

<p-dialog header="Recuperar contraseña" [(visible)]="rememberPsw" [style]="{width: '50vw'}" (onHide)="recoverPsw.reset()">
    <div class="flex">
        <span>Email</span>
    </div>
    <div class="p-col-12 p-md-4 pt-2">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
            <input type="text" pInputText placeholder="Correcto Electrónico" [ngClass]="{'ng-invalid ng-dirty': recoverPsw.hasError('email')}" [formControl]="recoverPsw">
        </div>
    </div>
    <div class="flex align-items-center justify-content-center">
        <div [hidden]="recoverPsw.valid || !recoverPsw.dirty" class="alert alert_danger">
            <small id="username2-help" class="p-error">Email invalido</small>
        </div>
    </div>
    <div class="flex flex-row justify-content-end pt-4">
        <p-button label="Recuperar" (onClick)="sendRememberPsw()" [disabled]="!recoverPsw.value || recoverPsw.invalid"></p-button>
    </div>
</p-dialog>