<ng-container *ngIf="loaded; else loadingTemplates">
    <div class="p-4">
        <div class="flex flex-column xl:flex-row gap-4 align-items-end justify-content-between">
            <div class="flex flex-column gap-3 flex-grown-1 ">
                <h3 class="my-2">Tareas</h3>
                <div class="flex gap-2 w-11">
                    <i-tabler class="text-center" name="bulb" style="color:#18E4E6; height:2rem; width:2rem;"></i-tabler>
                    <p class="th2">Observa el estado de las tareas asignadas a los participantes, que diligenciaron y coméntales su resultados.
                    </p>
                </div>
            </div>
            <div class="flex flex-row align-items-center justify-content-emd sm:justify-content-end gap-1 sm:gap-3">
                <span class="app-input-field" style="width: 100%">
                    <label for="sprintView">Sprint</label>
                    <p-dropdown inputId="sprintView" [options]="sprints" [(ngModel)]="sprintSelected" optionLabel="name" [filter]="true" filterBy="name" placeholder="Seleccione un sprint" appendTo="body" [style]="{ width: '100%' }">
                        <ng-template let-sprint pTemplate="item">
                            <div>{{ sprint.name }}</div>
                        </ng-template>
                    </p-dropdown>
                </span>
            </div>
        </div>
        <div style="height: 1rem;"></div>
        <p-accordion class="w-full" *ngIf="sprintSelected">
            <ng-container *ngFor="let resourceSprint of sprintSelected.resources">
                <ng-container *ngIf="!resourceSprint.isDeleted ">
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            <div class="w-full flex flex-row align-items-center">
                                <div class="flex align-items-center">
                                    <i class="pi pi-file mr-2"></i>
                                    <span class="vertical-align-middle">{{resourceSprint.name}}</span>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <app-phase-homework-table [resource]="resourceSprint" [sprint]="sprintSelected"></app-phase-homework-table>
                        </ng-template>
                    </p-accordionTab>

                </ng-container>
            </ng-container>
            <ng-container *ngFor="let content of sprintSelected.childs">
                <ng-container *ngIf="!content.isDeleted">
                    <ng-container *ngFor="let resourceContent of content.resources">
                        <p-accordionTab *ngIf="!resourceContent.isDeleted">
                            <ng-template pTemplate="header">
                                <div class="w-full flex flex-row align-items-center">
                                    <div class="flex align-items-center">
                                        <i class="pi pi-file mr-2"></i>
                                        <span class="vertical-align-middle">{{resourceContent.name}}</span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <app-phase-homework-table [resource]="resourceContent" [sprint]="sprintSelected"></app-phase-homework-table>
                            </ng-template>
                        </p-accordionTab>
                    </ng-container>
                </ng-container>
            </ng-container>
        </p-accordion>
    </div>
</ng-container>
<ng-template #loadingTemplates>
    <app-loading></app-loading>
</ng-template>