<div class="flex flex-column gap-2" [formGroup]="form">
  <div class="field col-12 app-input-field">
    <label for="notes">Notas u Observaciones</label>
    <textarea inputId="notes" rows="4" style="width: 100%; resize: none;" [maxlength]="maxLengthNotes" formControlName="notes" pInputTextarea></textarea>
    <small>{{form.controls["notes"].value.length}}/120 caracteres permitidos</small>
  </div>
  <p-fileUpload #uploader mode="basic" [showUploadButton]="false" (onSelect)="onFileSelected($event, uploader)" chooseLabel="Subir archivo" cancelLabel="Cancelar">
    <ng-template pTemplate="content" let-files>
    </ng-template>
  </p-fileUpload>
  <span class="font-semibold text-xl">Archivos</span>
  <ng-container *ngFor="let arrayGroup of documentsFormArray.controls">
    <div class="w-full shadow-1 border-round p-2">
      <div class="w-full flex flex-row gap-2">
        <input pInputText id="name" [formControl]="arrayGroup['controls']['name']" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <p-button icon="pi pi-eye" (onClick)="downloadFile(arrayGroup['controls']['url'].value)"></p-button>
        <p-button icon="pi pi-trash" styleClass="p-button-outlined" (onClick)="removeFile(arrayGroup['controls']['key'].value)"></p-button>
      </div>
    </div>
  </ng-container>
  <div class="flex flex-row gap-2">
    <p-button label="Guardar Cambios" (onClick)="saveState()"></p-button>
    <p-button label="Cancelar" styleClass="p-button-outlined" (onClick)="close()"></p-button>
  </div>
</div>