@import "../../../styles.scss";

.stage {
  border-radius: 1.25rem;
  padding: 0.5rem 0.5rem;
  color: white;
}

.final-panel {
  border-radius: 3.125rem;
  background-color: #fff1dc;
  padding: 0.5rem 0.5rem;
}

.final-panel ::ng-deep .p-button {
  border-radius: 3.125rem;
  background-color: #f7af42;
  border-color: #f7af42;
}

.avatar {
  width: 5rem;
  height: 5rem;
  background-color: aqua;
  border-radius: 100%;
  border: solid #fff 3px;
  -webkit-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15);
}

.header-statistics {
  border-radius: 1.25rem;
  background-color: $appColorOne;
  padding: 2.875rem;
  color: $appColorTwo;
  .th2 {
    letter-spacing: 0.7px;
  }
}

.icon-panel {
  border-radius: 1.25rem;
  padding: 1rem;
  background-color: rgba(#18e4e6, 0.2);

  i-tabler {
    width: 3rem;
    height: 3rem;
  }
}

.content {
  max-height: calc(100vh - 102px);
  overflow-y: auto;
  padding: 1rem;
}

.scrollwrap {
  overflow-y: auto;
  // visibility: hidden;
  height: calc(100vh - 102px - 2.5rem) !important;
  max-height: calc(100vh - 102px - 2.5rem) !important;
}

.scrollwrap:hover,
.scrollwrap:focus {
  visibility: visible;
}

.scrollwrap_delayed {
  transition: visibility 0.5s 0.2s;
}

.scrollwrap_delayed:hover {
  transition: visibility 0.2s 0.2s;
}

.scrollwrap::-webkit-scrollbar {
  width: 10px;
}

.scrollwrap::-webkit-scrollbar-track {
  background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
  background-color: $appColorTwo;
  border-radius: 20px;
}

.scrollwrap {
  scrollbar-width: thin;
  scrollbar-color: $appColorTwo transparent;
}
