<div class="w-full px-4 ">
    <div class="flex flex-column sm:flex-row">
        <div class="flex flex-column gap-4">
            <div class="normal-panel justify-center align-items-center h-auto" style="padding: 1.875rem; border-radius: 3.25rem" *ngIf="user">
                <ng-container [ngSwitch]="user.rolType">
                    <ng-container *ngSwitchCase="roles.user">
                        <div class="flex stage flex-row" [style.background-color]="stage?.color ?? '#EA4254'">
                            <div class="flex flex-column flex-none p-3 ">
                                <p class="sh1" style="font-weight: 500;">{{phaseName}}</p>
                                <h1 class="text-center">{{phaseNumb}}</h1>
                            </div>
                            <div class="flex align-items-end flex-grow-1 mr-0 md:mr-8">
                                <h3 style="font-weight:500">{{phaseTitle}}</h3>
                            </div>
                            <div class="flex flex-column flex-none">
                                <p class="text-center pt-4">{{stage?.name ?? 'EARLY'}}</p>
                                <i-tabler [name]="'social'" style="color: rgba(255,255,255,0.1); height:6rem; width:6rem;margin-top:-2.5rem;"></i-tabler>
                            </div>
                        </div>
                        <div class="h-1rem"></div>
                        <div class="flex justify-center align-items-center">
                            <div class="flex flex-wrap sh1 justify-content-center w-auto" style="font-weight: 500;color:#6B6B6B;padding:1rem 0;">
                                Este es tu progreso en {{phaseTitle}} durante ésta semana
                            </div>
                        </div>
                        <div class="h-1rem"></div>
                        <div class="flex justify-center align-items-center">
                            <p-chart #chart type="bar" [data]="data" [options]="options" [width]="widthGraphs" height="15rem"></p-chart>
                        </div>
                        <div class="h-2rem"></div>
                        <div class="flex final-panel flex-row w-full justify-content-between align-items-center" *ngIf="lastContent">
                            <div class="flex align-items-center gap-4 font-bold pl-2 sm:pl-4">
                                <i-tabler name="layout-board-split" style="color:#F7AF42; height:2rem; width:2rem;"></i-tabler>
                                <div class="flex align-items-center font-bold">
                                    <p>{{lastContent.lastContent.name}}</p>
                                </div>
                            </div>

                            <p-button (onClick)="goContent()">
                                <p class="text-sm">Retomar</p>
                            </p-button>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="roles.expert">
                        <div class="flex stage flex-row p-3 justify-content-center align-items-center" [style.background-color]="'#FFF1DC'">

                            <div class="hidden md:flex align-items-center p-4 justify-content-center progress-admin" [style.background-color]="'#F7AF42'">
                                <p-knob [(ngModel)]="completedT" [strokeWidth]="6" [readonly]="true" [size]="120" [valueTemplate]="completedTText" [min]="0" [max]="100" [valueColor]="'white'" [textColor]="'white'" [rangeColor]="withOpacity('#FFF1DC', 0.2)">
                                </p-knob>
                            </div>
                            <div class="flex align-items-center p-4 justify-content-center progress-admin md:hidden" [style.background-color]="'#F7AF42'">
                                <p-knob [(ngModel)]="completedT" [strokeWidth]="6" [readonly]="true" [size]="80" [valueTemplate]="completedTText" [min]="0" [max]="100" [valueColor]="'white'" [textColor]="'white'" [rangeColor]="withOpacity('#FFF1DC', 0.2)">
                                </p-knob>
                            </div>

                            <div class="flex flex-column p-2 md:p-4 ml-0 md:ml-3" [style.color]="'#F7AF42'">
                                <h2 class="m-0">27/72</h2>
                                <h4 class="m-1 w-9" style="font-weight:500">Horas consumidas de la bolsa presupuestada</h4>
                            </div>

                        </div>
                        <div class="h-1rem"></div>
                        <div class="flex justify-center align-items-center">
                            <div class="flex flex-wrap sh1 justify-content-center w-auto" style="font-weight: 500;color:#6B6B6B;padding:1rem 0;">
                                Este es tu enfoque de horas de la ultima convocatoria en ésta semana
                            </div>
                        </div>
                        <div class="h-1rem"></div>
                        <div class="flex justify-center align-items-center">
                            <!-- <div class="flex w-full border border-1 border-solid h-15rem"></div> -->

                            <!-- <p-chart type="bar" [data]="basicData" [options]="basicOptions" width="21rem" height="15rem"></p-chart> -->
                            <!-- <p-chart type="line" [data]="data" [options]="options" height="15rem"></p-chart> -->
                            <p-chart #chart type="bar" [data]="data" [options]="options" [width]="widthGraphs" height="15rem"></p-chart>
                        </div>
                        <div class="h-2rem"></div>
                        <div class="flex final-panel flex-row w-full justify-content-between align-items-center" *ngIf="lastContent">
                            <div class="flex align-items-center gap-4 font-bold pl-2 sm:pl-4">
                                <i-tabler name="layout-board-split" style="color:#F7AF42; height:2rem; width:2rem;"></i-tabler>
                                <div class="flex align-items-center font-bold">
                                    <p>{{lastContent.lastContent.name}}</p>
                                </div>
                            </div>

                            <p-button (onClick)="goContent()">
                                <p class="text-sm">Retomar</p>
                            </p-button>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <div class="flex stage flex-row p-3 justify-content-center align-items-center" [style.background-color]="'#FFF1DC'">
                            <div class="hidden md:flex align-items-center p-4 justify-content-center progress-admin" [style.background-color]="'#F7AF42'">
                                <p-knob [(ngModel)]="completedT" [strokeWidth]="6" [readonly]="true" [size]="120" [valueTemplate]="completedTText" [min]="0" [max]="100" [valueColor]="'white'" [textColor]="'white'" [rangeColor]="withOpacity('#FFF1DC', 0.2)">
                                </p-knob>
                            </div>
                            <div class="flex align-items-center p-4 justify-content-center progress-admin md:hidden" [style.background-color]="'#F7AF42'">
                                <p-knob [(ngModel)]="completedT" [strokeWidth]="6" [readonly]="true" [size]="80" [valueTemplate]="completedTText" [min]="0" [max]="100" [valueColor]="'white'" [textColor]="'white'" [rangeColor]="withOpacity('#FFF1DC', 0.2)">
                                </p-knob>
                            </div>

                            <div class="flex flex-column p-2 md:p-4 ml-0 md:ml-3" [style.color]="'#F7AF42'">
                                <h2 class="m-0">{{countGraph}}</h2>
                                <h4 class="m-1 w-9" style="font-weight:500">Personas que han utilizado ecosystem esta semana</h4>
                            </div>

                        </div>
                        <div class="h-1rem"></div>
                        <div class="flex justify-center align-items-center">
                            <div class="flex flex-wrap sh1 justify-content-center w-auto" style="font-weight: 500;color:#6B6B6B;padding:1rem 0;">
                                Personas que han utilizado ecosystem esta semana
                            </div>
                        </div>
                        <div class="h-1rem"></div>
                        <div class="flex justify-center align-items-center">
                            <!-- <div class="flex w-full border border-1 border-solid h-15rem"></div> -->

                            <!-- <p-chart type="bar" [data]="basicData" [options]="basicOptions" width="21rem" height="15rem"></p-chart> -->
                            <!-- <p-chart type="line" [data]="data" [options]="options" height="15rem"></p-chart> -->
                            <p-chart #chart type="bar" [data]="data" [options]="options" [width]="widthGraphs" height="15rem"></p-chart>
                        </div>
                        <div class="h-2rem"></div>
                        <div class="flex final-panel flex-row w-full justify-content-between align-items-center" *ngIf="lastContent">
                            <div class="flex align-items-center gap-4 font-bold pl-2 sm:pl-4">
                                <i-tabler name="layout-board-split" style="color:#F7AF42; height:2rem; width:2rem;"></i-tabler>
                                <div class="flex align-items-center font-bold">
                                    <p>{{lastContent.lastContent.name}}</p>
                                </div>
                            </div>

                            <p-button (onClick)="goContent()">
                                <p class="text-sm">Retomar</p>
                            </p-button>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>


        <div class="flex flex-column gap-4 w-full px-1 sm:px-4 display-content scrollwrap scrollwrap_delayed">
            <div class="hidden md:flex px-4 align-items-center justify-content-center gap-4" *ngIf="user">
                <ng-container *ngIf="!user?.profileImageUrl else imageTemplate">
                    <p-avatar [label]="user.nameInitial" shape="circle" class="avatar-app big-avatar flex">
                    </p-avatar>
                </ng-container>
                <ng-template #imageTemplate>
                    <p-avatar [image]="user.profileImageUrl" shape="circle" class="avatar-app big-avatar flex ">
                    </p-avatar>
                </ng-template>
                <h2>Hola {{user?.fullName}}, bienvenido {{user?.isUser ? 'a tu panel' : ''}}</h2>
            </div>
            <div class="flex flex-column sm:flex-row header-statistics justify-content-around w-full gap-4">
                <ng-container *ngIf="user?.isUser; else infoAdmin">
                    <div class="flex gap-3">
                        <div class="icon-panel">
                            <i-tabler name="list-check"></i-tabler>
                        </div>
                        <div class="flex flex-column justify-content-center">
                            <h2>{{phasesUser}}/{{phasesBases}}</h2>
                            <p class="th2">Fases Completadas</p>
                        </div>
                    </div>
                    <div class="flex gap-3">
                        <div class="icon-panel">
                            <i-tabler name="layout-board-split"></i-tabler>
                        </div>
                        <div class="flex flex-column justify-content-center">
                            <h2>{{logs.length}}</h2>
                            <p class="th2">Contenidos vistos</p>
                        </div>
                    </div>
                    <div class="flex gap-3">
                        <div class="icon-panel">
                            <i-tabler name="chart-dots"></i-tabler>
                        </div>
                        <div class="flex flex-column justify-content-center">
                            <h2>67</h2>
                            <p class="th2">Horas de enfoque</p>
                        </div>
                    </div>
                </ng-container>
                <ng-template #infoAdmin>
                    <div class="flex gap-3">
                        <div class="icon-panel">
                            <i-tabler name="brand-ubuntu"></i-tabler>
                        </div>
                        <div class="flex flex-column justify-content-center">
                            <h2>{{activesAnnouncements}}</h2>
                            <p class="th2">Convocatorias abiertas</p>
                        </div>
                    </div>
                    <div class="flex gap-3">
                        <div class="icon-panel">
                            <i-tabler name="polygon"></i-tabler>
                        </div>
                        <div class="flex flex-column justify-content-center">
                            <h2>{{activesPhases}}</h2>
                            <p class="th2">Batch activas</p>
                        </div>
                    </div>
                    <div class="flex gap-3">
                        <div class="icon-panel">
                            <i-tabler name="flag-3"></i-tabler>
                        </div>
                        <div class="flex flex-column justify-content-center">
                            <h2>37</h2>
                            <p class="th2">Emprendedores registrados</p>
                        </div>
                    </div>
                </ng-template>
            </div>

            <ng-container *ngIf="user?.isUser; else adminStats">
                <div class="normal-panel w-full p-4" *ngIf="config">
                    <div [innerHtml]="(config.dashboard | safe:'html')" class="w-full p-1 md:p-4"></div>
                    <span class="my-3 text-3xl font-semibold">Nuestras {{config.verticals.length}} verticales</span>
                    <div class="flex flex-row flex-wrap align-items-center justify-content-center gap-3 my-3">
                        <ng-container *ngFor="let vertical of config.verticals">
                            <div class="card-vertical" [style.background-color]="vertical.color">
                                <div class="w-full content-vertical flex flex-column align-items-center justify-content-center" style="flex: 1">
                                    <i-tabler [name]="vertical.icon" [style.color]="vertical.color"></i-tabler>
                                    <span class="text-center">{{vertical.name}}</span>
                                </div>
                                <div class="w-full separator-vertical"></div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="flex flex-column w-full my-3">
                        <span class="text-3xl font-semibold">Conectamos ecosistemas</span>
                        <span class="py-6 set-color-text-third">Somos una red de Startup factories alrededor del mundo</span>
                        <div id="mapSite" class="w-full">
                        </div>
                    </div>
                    <div class="flex flex-column w-full my-3">
                        <span class="text-3xl font-semibold">Nuestros aliados</span>
                        <span class="py-6 set-color-text-third">Estamos conectados con el ecosistema de innovación y emprendimiento</span>

                        <p-carousel [value]="config.benefactors" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" autoPlayInterval="3000" [showIndicators]="false">
                            <ng-template let-benefactor pTemplate="item">
                                <img class="card-benefactor" [src]="benefactor.image" alt="" [pTooltip]="benefactor.name">
                            </ng-template>
                        </p-carousel>


                    </div>
                </div>
                <div class="normal-panel w-full p-4 mb-3" *ngIf="config">
                    <div class="flex flex-column w-full my-3">
                        <span class="text-3xl font-semibold">Contenidos de interés</span>
                        <span class="py-6 set-color-text-third">Estamos conectados con el ecosistema de innovación y emprendimiento</span>
                        <div class="flex flex-column align-items-center justify-content-center gap-3">
                            <div class="w-full flex flex-column md:flex-row gap-3 justify-content-center align-items-center">
                                <ng-container *ngFor="let interestContent of config.contentOfInterest; let i=index">

                                    <div class="card-interest-content flex flex-column align-items-center">
                                        <img class="card-benefactor pt-2" [src]="interestContent.image" alt="" [pTooltip]="interestContent.name">
                                        <div class="w-full flex flex-column p-5 gap-4">
                                            <span class="font-semibold">{{interestContent.name}}</span>
                                            <span class="set-color-text-third">{{interestContent.description}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            <p-button styleClass="w-16rem button-blue-second button-border-mid align-items-center mt-3">
                                <span class="w-full font-semibold text-center">Ver más contenidos</span>
                            </p-button>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #adminStats>
                <div class="normal-panel w-full p-4" *ngIf="config">
                    <div class="flex flex-column align-items-center justify-content-center gap-3">
                        <div class="show-batch gap-3">
                            <ng-container *ngFor="let batch of lastPhases; let i=index">
                                <div class="card-interest-content flex flex-column align-items-center">
                                    <img class="card-benefactor pt-2" [src]="batch?.thumbnail ? batch?.thumbnail : '/assets/noPic.jpg'" alt="" [pTooltip]="batch.name">
                                    <div class="w-full flex flex-column p-5 gap-4">
                                        <span class="font-semibold">{{batch.name}}</span>

                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <p-button styleClass="w-16rem button-blue-second button-border-mid align-items-center mt-3" (click)="goPhases()">
                            <span class="w-full font-semibold text-center">Ver todas</span>
                        </p-button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>