@import "./assets/styles/utilities.scss";
@import "./assets/styles/shadows.scss";
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

$appColorOne: #0f2133;
$appColorTwo: #07b9b4;
$appColorThree: #18e4e6;
$appColorFour: #dbffff;
$appColorFive: #317bf4;
$appColorSix: #e7f2ff;
$appColorSeven: #f7af42;
$appColorEight: #fff1dc;
$appDiscovering: #07b9b4;
$appOnboarding: #4552a7;
$appEarly: #ea4254;
$appGrowth: #f8a70b;
$appLate: #b8c53a;
$appLaunch: #db5f39;

$appText: #dcdcdc;
$appTextTwo: #aeaeae;
$appTextThree: #6b6b6b;
$appTextFour: #0000;

$grayThird: #f6f6f6;

$text-color: #172b4d;
$background-color: rgba(
  $color: #e1e1e2,
  $alpha: 0.1,
);

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

// Center icons inside flex containers
i-tabler {
  vertical-align: middle;
}

::ng-deep .shepherd-content {
  border-radius: 1.125rem;
  outline: none;
  padding: 0;
  padding-bottom: 1rem;
}

::ng-deep .shepherd-element {
  background-color: white;
  border-radius: 1.125rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  opacity: 0;
  outline: none;
  padding: 0;
  transition: opacity 0.3s, visibility 0.3s;
  visibility: hidden;
  width: 100%;
  z-index: 9999;
}

::ng-deep .shepherd-header {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  padding-top: 0.7rem;
  padding-right: 0.7rem;
}

::ng-deep .shepherd-has-title .shepherd-content .shepherd-header {
  padding: 0;
}

::ng-deep .shepherd-button {
  font-weight: normal;
  background-color: $appColorFive;
  font-family: "Montserrat";
  border-radius: 0.1rem;
  border-color: $appColorFive;
  color: #ffff !important;

  &:hover {
    border-color: lighten($appColorOne, 10%) !important;
    background-color: lighten($appColorOne, 10%) !important;
  }
  margin-right: 0.5rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.5s ease;
}

::ng-deep .shepherd-button-secondary {
  background: #f1f2f3;
  color: rgba(0, 0, 0, 0.75);
}

body {
  background-color: $background-color;
  font-family: var(--font-family);
  margin: 0;
  min-height: 100vh;
  font-size: 1rem;
  // overflow-x: hidden;
}

.customModal {
  max-height: 100%;
}
.customModal .p-dialog-content {
  height: 100%;
}

.text-color-other {
  color: $appTextTwo;
}

// ? ----------------------------------------------  Panels --------------------------------------------------------
.normal-panel {
  background-color: #ffffff;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  /* Reglas CSS para celulares */
  .normal-panel {
    background-color: #ffffff;
    border-radius: 30px;
  }
}

.elipse-panel {
  border-radius: 3.125rem;
}

.bg-second-color {
  background-color: $appColorSeven;
}

// ? ------------------------------------------------- Basic styles ------------------------------------------------

.set-color-appTwo {
  color: $appColorTwo;
}

.set-color-appSeven {
  color: $appColorSeven;
}

.set-color-text-second {
  color: --text-color-secondary !important;
}

.set-color-text-third {
  color: $appTextThree;
}
// ? ------------------------------------------------- Buttons -----------------------------------------------------
// Button borders -----------------------------------------------------------
::ng-deep .p-button {
  font-weight: normal;
  font-size: 1rem;
  background-color: $appColorFive;
  font-family: "Montserrat";
}

::ng-deep .p-button-label {
  font-weight: 550;
}

::ng-deep .button-border-min {
  border-radius: 0.1rem;
}

::ng-deep .button-border-mid {
  border-radius: 0.65rem;
}

::ng-deep .button-primary-app {
  border-color: $appColorOne;
  background-color: $appColorOne;
  color: #ffff !important;
  &:hover {
    border-color: lighten($appColorOne, 10%) !important;
    background-color: lighten($appColorOne, 10%) !important;
  }
}

// Button blue --------------------------------------------------------------
::ng-deep .button-blue {
  border-color: $appColorFive;
  background-color: $appColorFive;
  color: #ffff !important;
}

// Button blue second --------------------------------------------------------
::ng-deep .button-blue-second {
  border-color: $appColorSix;
  background-color: $appColorSix;
  color: $appColorFive !important;
  &:hover {
    border-color: $appColorFive;
    background-color: $appColorFive;
    color: #ffffff !important;
  }
}

// Button yellow --------------------------------------------------------------
::ng-deep .button-yellow {
  border-color: $appColorSeven;
  background-color: $appColorSeven;
  color: #ffff !important;
  &:hover {
    border-color: darken($appColorSeven, 10%) !important;
    background-color: darken($appColorSeven, 10%) !important;
    color: #ffff;
  }
}

// Button yellow-second --------------------------------------------------------------
::ng-deep .button-yellow-second {
  border-color: $appColorEight;
  background-color: $appColorEight;
  color: $appColorSeven !important;
  &:hover {
    border-color: darken($appColorEight, 10%) !important;
    background-color: darken($appColorEight, 10%) !important;
    color: #ffff;
  }
}

// Button grey --------------------------------------------------------------
::ng-deep .button-grey {
  border-color: $appText;
  background-color: $appText;
  color: $appTextThree !important;
  &:hover {
    border-color: darken($appText, 5%) !important;
    background-color: darken($appText, 5%) !important;
  }
}

// Button green
::ng-deep .button-app-second {
  border-color: $appColorTwo;
  background-color: $appColorTwo;
  color: #ffff !important;
  &:hover {
    border-color: darken($appColorTwo, 5%) !important;
    background-color: darken($appColorTwo, 5%) !important;
  }
}

// Other buttons

.side-left-btn {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  -webkit-box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
}

// ? ----------------------------------------------- Scroll ----------------------------------------

.scrollwrap_delayed {
  transition: visibility 0.5s 0.2s;
}

.scrollwrap_delayed:hover {
  transition: visibility 0.2s 0.2s;
}

.scrollwrap::-webkit-scrollbar {
  width: 10px;
}

.scrollwrap::-webkit-scrollbar-track {
  background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
  background-color: $appColorTwo;
  border-radius: 20px;
}

.scrollwrap {
  scrollbar-width: thin;
  scrollbar-color: $appColorTwo transparent;
}

// ? ----------------------------------------------- Dialog app ------------------------------------
::ng-deep .dialog-app {
  .p-dialog .p-dialog-content {
    padding: 0 0 2rem 0 !important;
  }

  .p-dialog .p-dialog-header {
    border-top-right-radius: 3.125rem;
    border-top-left-radius: 3.125rem;
    @media (max-width: 576px) {
      border-top-right-radius: 1.125rem;
      border-top-left-radius: 1.125rem;
    }
  }

  .p-dialog .p-dialog-content:last-of-type {
    border-bottom-right-radius: 3.125rem;
    border-bottom-left-radius: 3.125rem;
    @media (max-width: 576px) {
      border-bottom-right-radius: 1.125rem;
      border-bottom-left-radius: 1.125rem;
    }
  }

  .info-dialog {
    color: $appTextTwo;
    font-weight: 600;
  }
  .icon-dialog {
    width: 7.375rem !important;
    height: 7.375rem !important;
    padding: 2.225rem;
    background-color: $appColorEight;
    color: $appColorSeven;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    @media (max-width: 992px) {
      width: 4.375rem !important;
      height: 4.375rem !important;
      padding: 1.225rem;
    }
  }

  .navigation-btn-dialog {
    border-radius: 0.625rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.625rem;
    cursor: pointer;
    border: 1px solid transparent;
    outline: 0;
    color: #495057;
    background-color: var(--app-backgrounds);
  }

  .separator-dialog {
    background-color: $appText;
  }

  .p-dialog-content::-webkit-scrollbar {
    width: 10px;
  }

  .p-dialog-content::-webkit-scrollbar-track {
    background: transparent;
  }

  .p-dialog-content::-webkit-scrollbar-thumb {
    background-color: $appColorTwo;
    border-radius: 20px;
  }

  .p-dialog-content {
    scrollbar-width: thin;
    scrollbar-color: $appColorTwo transparent;
  }
}

// ? ------------------------------------------------ Other components -----------------------------
::ng-deep .border-sidebar {
  width: 24.875rem !important;
  border-radius: 2.5rem 0 0 2.5rem;
  -webkit-border-radius: 2.5rem 0 0 2.5rem;
  -moz-border-radius: 2.5rem 0 0 2.5rem;
}

.app-backgrounds {
  background-color: var(--app-backgrounds);
}

.app-backgroundsOne {
  background-color: var(--appColorOne);
}

::ng-deep .border-sidebar-left {
  width: 24.875rem !important;
  border-radius: 0 2.5rem 2.5rem 0;
  -webkit-border-radius: 0 2.5rem 2.5rem 0;
  -moz-border-radius: 0 2.5rem 2.5rem 0;
}

// ? ------------------------------------ Titles ------------------------------------------------------

h1 {
  font-size: 5rem;
  margin: 0;
  font-weight: 600;
  @media (max-width: 576px) {
    font-size: 3.6rem;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 3.1rem;
  font-weight: 600;
  margin: 0;
  @media (max-width: 576px) {
    font-size: 1.95rem;
    line-height: 2.5rem;
  }
}

h3 {
  font-size: 1.9rem;
  line-height: 2.5rem;
  @media (max-width: 576px) {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
}

.sh1 {
  font-size: 1.3rem;
  line-height: 1.675rem;
  @media (max-width: 576px) {
    font-size: 1.01rem;
    line-height: 1.31rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
  @media (max-width: 576px) {
    font-size: 0.78rem;
    line-height: 1rem;
  }
}

.th2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  @media (max-width: 576px) {
    font-size: 0.68rem;
    line-height: 1rem;
  }
}
.cursor-default {
  cursor: default;
}

.subheader {
  font-size: 2.5rem;
  color: #000000;
}

.h-max-router {
  height: 100% !important;
  border-radius: 0 0 0 2.5rem !important;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: $appColorTwo transparent;
}

.h-max-router::-webkit-scrollbar {
  width: 10px;
}

.h-max-router::-webkit-scrollbar-track {
  background: transparent;
}

.h-max-router::-webkit-scrollbar-thumb {
  background-color: $appColorTwo;
  border-radius: 20px;
}
