@import './assets/styles/utilities.scss';

$side-nav-text-color: #0f2133;
$side-nav-active-color: var(--side-nav-active-color);
$side-nav-hover-color: var(--text-color);
$text-color: #172b4d;
$font-family: "Eina01", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-family-secondary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

body {
  background-color: rgba($color: #e1e1e2, $alpha: 0.1);
  font-family: var(--font-family);
  margin: 0;
}

@mixin font($font, $weight, $size, $line) {
  font-family: $font;
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
}

.p-toast {
  z-index: 99999;
}