<div class="w-full flex flex-row gap-3">
    <i-tabler name="bulb" class="icon-dialog"></i-tabler>
    <div class="content-resource w-10 flex flex-column justify-content-center pb-2 pr-4">
        <h2 class="overflow-hidden white-space-nowrap text-overflow-ellipsis" [style.color]="'black'">{{config.data.phaseName}}</h2>
        <div class="w-full flex flex-row gap-1">
            <span class="text-sm text-color-other"></span>
        </div>
    </div>
</div>
<p-divider></p-divider>
<div class="flex flex-column p-2 align-items-center">
    <form (keyup)="onKeyUp($event)" class="formgrid grid gap-4" [formGroup]="phaseCreationForm">
        <ng-container class="flex flex-row gap-2" *ngIf="!basePhase">
            <span class="w-full app-input-field" style="width: 100%">
                <label for="calendar-first">Comienza</label>
                <p-calendar inputId="calendar-first" appendTo="body" [style]="{ width: '100%' }" formControlName="startAt"></p-calendar>
            </span>
            <!-- <span class="p-float-label" style="width: 100%">
                        <p-calendar inputId="calendar-last" appendTo="body" [style]="{ width: '100%' }" formControlName="endAt"></p-calendar>
                        <label for="calendar-last">Termina</label>
                    </span> -->
        </ng-container>
        <span class="w-full  flex flex-column gap-2 app-input-field field-h-1">
            <label htmlFor="namePhase">Nombre</label>
            <input pInputText id="namePhase" formControlName="name" class="inputfield field-full" placeholder="Ingresa un nombre para el batch" />
            <small [hidden]="phaseCreationForm.controls['name'].valid || !phaseCreationForm.controls['name'].dirty" for="name" class="p-error field-help" *ngIf="">El nombre no es valido</small>
        </span>
        <span class="w-full  flex flex-column gap-2 app-input-field">
            <label for="textarea">Descripción - {{phaseCreationForm.controls['description'].value?.length}}/120 caracteres permitidos</label>
            <textarea maxlength="300" inputId="textarea" rows="5" style="width: 100%; resize: none;" [maxlength]="120" formControlName="description" placeholder="Descripción interna breve sobre el batch" pInputTextarea></textarea>

        </span>

        <span class="w-full flex flex-column gap-2 app-input-field" style="width: 100%" *ngIf="basePhase">
            <label for="float-label">Etapa</label>
            <p-dropdown [autoDisplayFirst]="false" [options]="stages" formControlName="stage" dataKey="_id" optionLabel="label" optionValue="_id" placeholder="Seleccione una etapa" appendTo="body" [style]="{ width: '100%' }">
                <!-- <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
                        <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedCountry.code.toLowerCase()" style="width: 18px" />
                        <div>{{ selectedCountry.name }}</div>
                    </div>
                </ng-template> -->
            </p-dropdown>
        </span>
    </form>
    <p-button type="submit" label="Crear" (onClick)="onSubmit()" [disabled]="!phaseCreationForm.valid" styleClass="mt-3 bg-primary"></p-button>
</div>