.field-full {
  width: 100%;
  .p-inputtext {
    width: 100%;
  } 
}

.tabview-content-fit {
  .p-tabview-panels {
    padding: 0;
  }
}

// Prevents all buttons from wrapping text
.p-button {
  white-space: nowrap;
}

.app-dataview {
  .p-dataview {
    .p-dataview-content {
      border-radius: 0 0 0.25rem 0.25rem;
    }
    overflow: hidden;
    .p-dataview-header {
      background: var(--surface-0);
      border-radius: 0.25rem 0.25rem 0 0;
      border-width: 0;
    }
  }
}
