.form-field {
  &.ng-invalid.ng-dirty,
  &.ng-invalid.ng-touched {
    & + *.field-help {
      visibility: visible;
    }
  }
}

.field-help {
  visibility: hidden;
}

.hover-panel {
  background-color: #dcdcdc;
  border-radius: 16px;
  & .panel {
    transition: opacity 0.3s;
    opacity: 0;
  }
  &:hover .panel {
    opacity: 0.8;
  }
}

.shadow-focus-card {
  transition: box-shadow 0.2s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

.shadow-focus {
  transition: box-shadow 0.2s;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  &:hover {
    box-shadow: 0px 3px 30px #0f213326;
  }
}

.text-2xs {
  font-size: 0.625rem;
}

.text-3xs {
  font-size: 0.5rem;
}

.section-surface {
  background-color: var(--surface-100);
  border-radius: 1rem;
}

.placeholder-bold {
  color: var(--surface-900);
  font-weight: 700;
  ::placeholder {
    color: var(--surface-900);
    font-weight: 700;
  }
}

// Utilities for icon size

.size-2xl {
  height: 2.5rem !important;
  width: 2.5rem !important;
  min-width: 2.5rem !important;
}

.size-xl {
  height: 2rem !important;
  width: 2rem !important;
  min-width: 2rem !important;
}

.size-md {
  height: 1.5rem !important;
  width: 1.5rem !important;
  min-width: 1.5rem !important;
}

.size-sm {
  height: 1rem !important;
  width: 1rem !important;
  min-width: 1rem !important;
}

.size-xs {
  height: 0.875rem !important;
  width: 0.875rem !important;
  min-width: 0.875rem !important;
}

.size-2xs {
  height: 0.75rem !important;
  width: 0.75rem !important;
  min-width: 0.75rem !important;
}

.bg-secondary {
  background-color: var(--app-color-two);
}

.text-secondary {
  color: var(--app-color-two);
}

.bg-tertiary {
  background-color: var(--app-color-five);
}

.bg-tertiary-light {
  background-color: var(--app-color-six);
}

.text-tertiary {
  color: var(--app-color-five);
}

.bg-quaternary-light {
  background-color: var(--app-color-eight);
}

.text-quaternary {
  color: var(--app-color-seven);
}
