.form-field {
  &.ng-invalid.ng-dirty, &.ng-invalid.ng-touched {
    & + *.field-help {
      visibility: visible;
    }
  }
}

.field-help {
  visibility: hidden;
}

.hover-panel {
  & .panel {
    transition: opacity 0.3s;
    opacity: 0;
  }
  &:hover .panel {
    opacity: 0.8;
  }
}