<ng-container *ngIf="!loading">
    <div class="container-home">
        <app-top-nav></app-top-nav>
        <!--<app-breadcrumb-nav></app-breadcrumb-nav>-->
        <div class="router-body overflow-hidden" [ngClass]="{ 'expand-menu' : menuExpanded, 'hide-menu' : !menuExpanded }">

            <app-side-nav></app-side-nav>

            <div class="router-content">
                <p-scrollPanel #mainPanel [style]="{width: '100%', height: '100%'}">
                    <router-outlet></router-outlet>
                </p-scrollPanel>
            </div>
        </div>
    </div>
</ng-container>