<ng-container *ngIf="phase else loadingTemplate">
  <div class="p-4">
    <div class="flex flex-column w-full align-items-stretch justify-content-start border-round-2xl p-3 align-items-center gap-2">
      <div class="flex flex-row align-items-center gap-3">
        <label class="text-xl font-semibold text-color-other text-2xl">Información</label>
        <!-- <ng-container *ngIf="!editEnabled; else saveBtn">
          <div class="button-grey cursor-pointer border-round p-1" pTooltip="Editar">
            <i-tabler name="edit"></i-tabler>
          </div>
        </ng-container>
        <ng-template #saveBtn>
          <p-button icon="pi pi-save" label="Aplicar cambios"></p-button>
          <p-button icon="pi pi-times" styleClass="p-button-outlined" label="Cancelar"></p-button>
        </ng-template> -->
      </div>
      <div class="info-card w-full gap-4 section-surface p-3">
        <ng-container *ngIf="user.allowed(userPermission.phases_batch_edit) else noChangeThubnail">
          <app-avatar-uploader styleClass="w-16rem h-13rem" shape="square" [imageUrl]="returnUrlThumbnail()" (onUpload)="uploadImage($event, phase)" [disableRemove]="true"></app-avatar-uploader>
        </ng-container>
        <ng-template #noChangeThubnail>
          <div class="w-16rem h-13rem relative">
            <img [src]="phase.thumbnail" styleClass="w-full h-full" />
          </div>
        </ng-template>


        <div class="h-13rem flex flex-column gap-1 justify-content-between" style="flex: 1">
          <span class="text-xl font-semibold pt-3">{{phase.name}}</span>
          <div class="flex flex-row gap-3">
            <div class="border-round-2xl flex flex-column py-3 px-4 gap-2 text-white text-sm" [style.background-color]="phase.stageDoc.color">
              <span>Etapa</span>
              <div class="flex flex-row align-items-center gap-3">
                <i-tabler [name]="phase.stageDoc.icon" style="width: 2rem; height: 2rem"></i-tabler>
                <span>{{phase.stageDoc.name | uppercase}}</span>
              </div>
              <div class="flex flex-row align-items-center justify-content-between gap-2 mt-2">
                <span>Creación: </span>
                <div [style.background-color]="'rgba(255, 255, 255, 0.2)'" class="py-1 pr-6 pl-3 flex flex-row align-items-center border-round-2xl gap-2 ">
                  <i-tabler name="calendar"></i-tabler>
                  <span class="text-sm">{{phase.createdAt | date}}</span>
                </div>
              </div>
            </div>
            <ng-container *ngIf="!phase.basePhase">
              <div class="flex flex-column gap-1 border-round-2xl text-white text-sm bg-primary py-3 px-3" style="width: 8rem">
                <i-tabler name="calendar-event" style="width: 2.5rem; height: 2.5rem"></i-tabler>
                <span class="mt-2">Inicia</span>
                <div class="flex flex-row align-content-center gap-2">
                  <span class="text-3xl" style="font-weight: 500;">{{phase.startAt | date:'d'}}</span>
                  <div class="flex flex-column  justify-content-center">
                    <span class="text-xs">{{phase.startAt | date:'LLLL'}}</span>
                    <span class="text-xs">{{phase.startAt | date:'yyyy'}}</span>
                  </div>

                </div>

              </div>
              <div class="flex flex-column gap-1 border-round-2xl text-white text-sm bg-second-color py-3 px-3" style="width: 8rem">
                <i-tabler name="calendar-event" style="width: 2.5rem; height: 2.5rem"></i-tabler>
                <span class="mt-2">Termina</span>
                <div class="flex flex-row align-content-center gap-2">
                  <span class="text-3xl" style="font-weight: 500;">{{phase.calcEndDate | date:'d'}}</span>
                  <div class="flex flex-column  justify-content-center">
                    <span class="text-xs">{{phase.calcEndDate | date:'LLLL'}}</span>
                    <span class="text-xs">{{phase.calcEndDate | date:'yyyy'}}</span>
                  </div>
                </div>


              </div>
            </ng-container>
          </div>

          <!-- <ng-container *ngIf="phase.basePhase; else normalPhase">
            <span class="font-semibold">Creado el {{phase.createdAt | date}}</span>
            <span class="font-semibold">Actualizado el {{phase.updatedAt | date}}</span>
          </ng-container>
          <ng-template #normalPhase>
            <span class="font-semibold">Inicia el {{phase.startAt | date}}</span>
            <span class="font-semibold">Finaliza el {{phase.calcEndDate | date}}</span>
          </ng-template> -->
        </div>
        <div>
          <!-- <p-button styleClass="button-yellow-second button-border-mid w-full align-items-center justify-content-between mt-2 gap-4" (onClick)="closeBatch()" *ngIf="!phase.basePhase && !phase.finished && user.allowed(userPermission.phases_batch_close)">
            <span class="mx-2 font-semibold	">Cerrar batch</span>
            <i-tabler class="sidenav-link-icon" name="minimize"></i-tabler>
          </p-button> -->
        </div>
      </div>

      <p-divider [style.width]="'100%'"></p-divider>
      <div class="w-full">
        <ng-container *ngIf="clonedEdit['description'] !== undefined; else showDescription">
          <div class="w-full flex flex-column align-items-baseline w-full inline-flex gap-2 p-2">
            <div class="w-full flex flex-row justify-content-between gap-2">
              <span class="text-xl font-semibold">Descripción - {{clonedEdit['description'].length}}/120</span>
            </div>
            <textarea pInputTextarea [(ngModel)]="clonedEdit['description']" [rows]="5" style="width: 100% !important;" [maxlength]="120"></textarea>
          </div>
          <p-button [icon]="'pi pi-save'" class="mx-2" label="Guardar" [pTooltip]="'Guardar cambios'" (onClick)="saveEdit('description')"></p-button>
          <p-button [icon]="'pi pi-times'" class="mx-2" label="Cancelar" [pTooltip]="'Cancelar cambios'" (onClick)="cancelEdit('description')"></p-button>
        </ng-container>
        <ng-template #showDescription>
          <div class="flex flex-column align-items-baseline w-full inline-flex gap-2">

            <div class="flex flex-row align-items-center gap-4">
              <span class="font-semibold text-color-other text-2xl">Descripción </span>
              <div class="button-grey cursor-pointer border-round p-1" pTooltip="Editar" (click)="openEdit('description')" *ngIf="user.allowed(userPermission.phases_batch_edit)">
                <i-tabler name="edit"></i-tabler>
              </div>
            </div>
            <div class="section-surface p-5 w-full">
              <p class="px-5">{{phase.description}}</p>
            </div>
          </div>
        </ng-template>
        <ng-container *ngIf="!phase.basePhase && user.allowed(userPermission.phases_batch_edit)">
          <div class="flex flex-column w-full inline-flex gap-2 pt-4">
            <div class="flex flex-column align-items-start justify-content-center gap-1">
              <span class="font-semibold text-color-other text-2xl">Logo institucional</span>
              <span class="text-sm">En caso de desear cambiar el logo que figura en la esquina superior izquierda para esta cohorte, carga la nueva imagen en esta sección. En caso contrario, puede omitir este paso.</span>
            </div>
            <div class="section-surface p-5 w-full">
              <ng-container>
                <app-avatar-uploader styleClass=" w-7rem h-7rem" shape="circle" [imageUrl]="phase.sidebarImage" (onUpload)="uploadImageSideBar($event, phase)" (onRemove)="removeImageSideBar(phase)" class="border-circle"></app-avatar-uploader>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>

      <p-divider styleClass="w-full"></p-divider>
      <ng-container *ngIf="clonedEdit['landing'] !== undefined; else showLanding">
        <div class="w-full flex flex-column align-items-baseline w-full inline-flex gap-2 p-2">
          <div class="w-full flex flex-row justify-content-between">
            <span class="text-xl font-semibold">Landing</span>
          </div>
          <tinymce [(ngModel)]="clonedEdit['landing']" [config]="configTiny" class="w-full"></tinymce>
        </div>
        <div class="w-full flex flex-row align-items-center justify-content-start">
          <p-button [icon]="'pi pi-save'" class="mx-2" label="Guardar" [pTooltip]="'Guardar cambios'" (onClick)="saveEdit('landing')"></p-button>
          <p-button [icon]="'pi pi-times'" class="mx-2" label="Cancelar" [pTooltip]="'Cancelar cambios'" (onClick)="cancelEdit('landing')"></p-button>
        </div>
      </ng-container>
      <ng-template #showLanding>
        <div class="flex flex-column align-items-baseline w-full inline-flex gap-2">
          <div class="flex flex-row align-items-center gap-4">
            <span class="font-semibold text-color-other text-2xl">Landing </span>
            <div class="button-grey cursor-pointer border-round p-1" pTooltip="Editar" (click)="openEdit('landing')" *ngIf="user.allowed(userPermission.phases_batch_edit)">
              <i-tabler name="edit"></i-tabler>
            </div>
          </div>
          <div class="section-surface p-5 w-full">
            <div *ngIf="phase.landing" class="w-full px-5" [innerHtml]="(phase.landing | safe:'html')"></div>
          </div>
        </div>
      </ng-template>
    </div>

  </div>
</ng-container>


<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>

<p-dialog appendTo="body" header="" [(visible)]="showClosedBatch" [style]="{ width: '70vw', height: '80vh' }" [draggable]="false" [resizable]="true" [modal]="true" maskStyleClass="dialog-app" [breakpoints]="{'960px': '85vw', '640px': '100vw'}">
  <div class="w-full flex flex-row align-items-center gap-3">
    <i-tabler name="heart-handshake" class="icon-dialog"></i-tabler>
    <div class="content-resource w-full flex flex-column justify-content-between pb-2 pr-4 gap-3">
      <h2 class="overflow-hidden white-space-nowrap text-overflow-ellipsis" [style.color]="'black'">Cerrar batch</h2>
      <span>Para concluir el batch, seleccione las startups que ha aprobado. Aquellas que han completado satisfactoriamente todo el contenido y las tareas requeridas se marcarán automáticamente. Sin embargo, usted tiene la opción de editar manualmente la aprobación de cada startup según sea necesario</span>
      <span>Al finalizar este proceso, todas las startups recibirán una solicitud para evaluar a sus respectivos team coach y expertos asignados, lo que permitirá obtener valiosos comentarios sobre la experiencia colaborativa."</span>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="flex flex-column justify-content-between w-full p-3">
    <div style="height: 1rem;"></div>
    <div class="actions flex flex-column gap-1 mb-4">
      <p-button type="submit" label="Crear ticket" styleClass="p-button-lg w-full border-round-2xl my-2 p-3"></p-button>
    </div>
    <div class="flex md:hidden" style="height: 30rem;">
      <span class="text-white">aaaa</span>
    </div>
  </div>
  <div class="panel-hide fixed bottom-0 left-0"></div>
</p-dialog>