<ng-container *ngIf="phase else loadingTemplate">
  <div class="p-4">
    <div class="bg-white flex flex-column align-items-stretch justify-content-start border-round-2xl p-3 align-items-center gap-2">
      <div class="flex flex-row w-full gap-4">
        <div class="w-12rem h-12rem border-circle relative shadow-border hover-panel">
          <p-avatar shape="circle" [image]="phase.thumbnail" styleClass="w-full h-full"></p-avatar>
          <div class="panel absolute z-2 flex flex-column gap-2 align-items-center justify-content-center border-circle surface-300 top-0 left-0 right-0 bottom-0">
            <p-button [label]="phase.thumbnail ? 'Cambiar' : 'Cargar' " icon="pi pi-upload" (onClick)="fileInput.click()" styleClass="p-button-outlined"></p-button>
            <p-button *ngIf="phase.thumbnail" label="Remover" icon="pi pi-trash" (onClick)="removeImage(phase)" styleClass="p-button-outlined"></p-button>
            <input #fileInput type="file" class="hidden" accept="image/*" (change)="selectFile(fileInput, phase)">
          </div>
        </div>
        <div class="flex flex-column gap-1 justify-content-center">
          <span class="text-xl font-semibold">{{phase.name}}</span>
          <span class="font-semibold">Inicia el {{phase.startAt | date}}</span>
          <span class="font-semibold">Finaliza el {{phase.endAt | date}}</span>
        </div>
      </div>

      <p-divider styleClass="w-full"></p-divider>
      <div class="w-full">
        <ng-container *ngIf="clonedEdit['description'] !== undefined; else showDescription">
          <div class="w-full flex flex-column align-items-baseline w-full inline-flex gap-2 p-2">
            <div class="w-full flex flex-row justify-content-between gap-2">
              <span class="text-xl font-semibold">Descripción</span>
            </div>
            <textarea pInputTextarea [(ngModel)]="clonedEdit['description']" [maxlength]="120" [rows]="5" style="width: 100% !important;"></textarea>
          </div>
          <p-button [icon]="'pi pi-save'" class="mx-2" label="Guardar" [pTooltip]="'Guardar cambios'" (onClick)="saveEdit('description')"></p-button>
          <p-button [icon]="'pi pi-times'" class="mx-2" label="Cancelar" [pTooltip]="'Cancelar cambios'" (onClick)="cancelEdit('description')"></p-button>
        </ng-container>
        <ng-template #showDescription>
          <div class="flex flex-column align-items-baseline w-full inline-flex gap-2">
            <span class="text-xl font-semibold">Descripción <i class="pi pi-pencil pl-2 cursor-pointer" pTooltip="Editar" style="color: 'var(--primary-color)'" (click)="openEdit('description')"></i></span>
            <span>{{phase.description}}</span>
          </div>
        </ng-template>
      </div>


      <p-divider styleClass="w-full"></p-divider>
      <ng-container *ngIf="clonedEdit['landing'] !== undefined; else showLanding">
        <div class="w-full flex flex-column align-items-baseline w-full inline-flex gap-2 p-2">
          <div class="w-full flex flex-row justify-content-between">
            <span class="text-xl font-semibold">Landing</span>
          </div>
          <tinymce [(ngModel)]="clonedEdit['landing']" [config]="configTiny" class="w-full"></tinymce>
        </div>
        <div class="w-full flex flex-row align-items-center justify-content-start">
          <p-button [icon]="'pi pi-save'" class="mx-2" label="Guardar" [pTooltip]="'Guardar cambios'" (onClick)="saveEdit('landing')"></p-button>
          <p-button [icon]="'pi pi-times'" class="mx-2" label="Cancelar" [pTooltip]="'Cancelar cambios'" (onClick)="cancelEdit('landing')"></p-button>
        </div>
      </ng-container>
      <ng-template #showLanding>
        <div class="flex flex-column align-items-baseline w-full inline-flex gap-2">
          <span class="text-xl font-semibold">Landing <i class="pi pi-pencil pl-2 cursor-pointer" pTooltip="Editar" style="color: 'var(--primary-color)'" (click)="openEdit('landing')"></i></span>
          <div *ngIf="phase.landing" class="w-full" [innerHtml]="(phase.landing | safe:'html')"></div>

        </div>
      </ng-template>
    </div>

  </div>
</ng-container>


<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>