<ng-container *ngIf="phase else loadingTemplate">
  <div class="w-full p-4">
    <div class="bg-white flex flex-row w-full border-round-2xl p-3 align-items-center gap-4">
      <div class="w-12rem h-12rem border-circle relative shadow-border hover-panel">
        <p-avatar shape="circle" [image]="phase.thumbnail" styleClass="w-full h-full"></p-avatar>
        <div class="panel absolute z-2 flex flex-column gap-2 align-items-center justify-content-center border-circle surface-300 top-0 left-0 right-0 bottom-0">
          <p-button [label]="phase.thumbnail ? 'Cambiar' : 'Cargar' " icon="pi pi-upload" (onClick)="fileInput.click()" styleClass="p-button-outlined"></p-button>
          <p-button *ngIf="phase.thumbnail" label="Remover" icon="pi pi-trash" (onClick)="removeImage(phase)" styleClass="p-button-outlined"></p-button>
          <input #fileInput type="file" class="hidden" accept="image/*" (change)="selectFile(fileInput, phase)">
        </div>
      </div>
      <div class="flex flex-column gap-1 justify-content-center">
        <span class="text-xl font-semibold">{{phase.name}}</span>

        <span class="font-semibold">{{phase.description}}</span>
        <span class="font-semibold">Inicia el {{phase.startAt | date}}</span>
        <span class="font-semibold">Finaliza el {{phase.endAt | date}}</span>
      </div>
    </div>
  </div>
</ng-container>


<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>