<ng-container *ngIf="!loaded; else formTemplate">
    <app-loading></app-loading>
</ng-container>
<ng-template #formTemplate>
    <form [formGroup]="event">
        <div class="flex gap-2">
            <div class="field">
                <label for="assistantType">Tipo de asistencia</label>
                <p-selectButton inputId="assistantType" [options]="stateOptionsAssistant" formControlName="attendanceType" class="inputfield mt-2"></p-selectButton>
            </div>
            <div class="field pt-4 pl-2" *ngIf="event.value.stateOptionsAssistant === attendanceTypes.virtual">
                <div class="flex">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-link"></i>
                    </span>
                    <span class="p-float-label" style="width: 100%">
                        <input pInputText type="text" [(ngModel)]="extra_options['url']" placeholder="Url" [readOnly]="editingEvent" required>
                        <label for="url">Url</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="formgrid grid pt-2">
            <div style="height: 1rem;"></div>
            <div class="field col-12 md:col-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-id-card"></i>
                    </span>
                    <span class="p-float-label">
                        <input pInputText type="text" formControlName="name" placeholder="Nombre" required>
                        <label for="name">Nombre</label>
                    </span>
                </div>
            </div>

            <div class="field col-12 md:col-6">
                <div class="flex">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-list"></i>
                    </span>
                    <span class="p-float-label" style="width: 100%">
                        <p-dropdown inputId="typeEvent" [autoDisplayFirst]="true" [options]="typeEvents" optionLabel="name" appendTo="body" optionValue="_id" [style]="{ width: '100%' }" formControlName="type" (onChange)="selectionType($event.value)">
                        </p-dropdown>
                        <label for="typeEvent">Tipo Evento</label>
                    </span>
                </div>
            </div>

            <div class="field col-6 pt-3 md:col-6">
                <div class="flex">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-calendar-times"></i>
                    </span>
                    <span class="p-float-label" style="width: 100%">
                        <p-calendar inputId="calendar-first" [readonlyInput]="true" appendTo="body" [style]="{ width: '100%' }" formControlName="startAt" [showTime]="true"></p-calendar>
                        <label for="calendar-first">Inicia</label>
                    </span>
                </div>
            </div>

            <div class="field col-6 pt-3 md:col-6">
                <div class="flex">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-calendar-times"></i>
                    </span>
                    <span class="p-float-label" style="width: 100%">
                        <p-calendar inputId="calendar-first" [readonlyInput]="true" appendTo="body" [style]="{ width: '100%' }" formControlName="endAt" [showTime]="true"></p-calendar>
                        <label for="calendar-first">Termina</label>
                    </span>
                </div>
            </div>

            <div class="field col-12 pt-3 md:col-12 ">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-align-left"></i>
                    </span>
                    <span class="p-float-label">
                        <textarea id="descEvent" rows="3" style="width: 100%;" formControlName="description" pInputTextarea></textarea>
                        <label for="descEvent">Descripción</label>
                    </span>
                </div>
            </div>
            <div style="height: 1rem;"></div>
        </div>
    </form>
    <div class="flex w-full flex-row p-2 gap-2">
        <!-- Team Coaches -->
        <p-card class="w-">
            <div class="flex flex-row align-items-center justify-content-center">
                <h3 class="my-2">
                    <fa-icon [icon]="faUserTie"></fa-icon> Team Coach
                </h3>
            </div>
            <div class="flex flex-row align-items-center justify-content-center mb-2 cursor-pointer" (click)="opTeamCoach.toggle($event)">
                <span>
                    <fa-icon [icon]="faPlus"></fa-icon> Añadir team coach
                </span>
            </div>
            <div class="flex flex-column align-items-center justify-content-start px-1" style="max-height: 240px; overflow-y: auto;">
                <div *ngFor="let teamCoach of teamCoaches; let i=index" class="mb-1 flex flex-row align-items-center justify-content-start w-full">
                    <span pTooltip="{{(i+1) + ' - ' + teamCoach.name}}">
                        <p-avatar icon="pi pi-user" styleClass="mx-2" shape="circle"></p-avatar>
                        {{teamCoach.name.length>15 ? (teamCoach.name | slice:0:15) : teamCoach.name}}
                    </span>
                    <div class="flex-grow-1"></div>
                    <fa-icon [icon]="faTimes" class="ml-1 cursor-pointer" pTooltip="Quitar team Coach" (click)="
                                    removeTeamCoach(teamCoach._id)"></fa-icon>
                </div>
            </div>
        </p-card>

        <!-- Expertos -->
        <p-card class="w-">
            <div class="flex flex-row align-items-center justify-content-center">
                <h3 class="my-2">
                    <fa-icon [icon]="faUserTie"></fa-icon> Expertos
                </h3>
            </div>
            <div class="flex flex-row align-items-center justify-content-center mb-2 cursor-pointer" (click)="opExperts.toggle($event)">
                <span>
                    <fa-icon [icon]="faPlus"></fa-icon> Añadir experto
                </span>
            </div>
            <div class="flex flex-column align-items-center justify-content-start px-1" style="max-height: 240px; overflow-y: auto;">
                <div *ngFor="let expert of experts; let i=index" class="mb-1 flex flex-row align-items-center justify-content-start w-full">
                    <span pTooltip="{{(i+1) + ' - ' + expert.name}}">
                        <p-avatar icon="pi pi-user" styleClass="mx-2" shape="circle"></p-avatar>
                        {{expert.name.length>15 ? (expert.name | slice:0:15) : expert.name}}
                    </span>
                    <div class="flex-grow-1"></div>
                    <fa-icon [icon]="faTimes" class="ml-1 cursor-pointer" pTooltip="Quitar experto" (click)="
                            removeExpert(expert._id)"></fa-icon>
                </div>
            </div>
        </p-card>

        <!-- Participantes -->
        <p-card>
            <div class="flex flex-row align-items-center justify-content-center">
                <h3 class="my-2">
                    <fa-icon [icon]="faUsers"></fa-icon> Participantes
                </h3>
            </div>
            <div class="flex flex-column align-items-center justify-content-center mb-2 cursor-pointer gap-2">
                <span (click)="opParticipants.toggle($event)">
                    <fa-icon [icon]="faPlus"></fa-icon> Añadir Participante(s)
                </span>
                <span (click)="opStartUps.toggle($event)">
                    <fa-icon [icon]="faPlus"></fa-icon> Añadir StartUp(s)
                </span>
            </div>
            <div class="flex flex-column align-items-center justify-content-start px-1" style="max-height: 240px; overflow-y: auto;">
                <div *ngFor="let part of participants; let i=index" class="mb-1 flex flex-row align-items-center justify-content-start w-full">
                    <span pTooltip="{{(i+1) + ' - ' + part.name}}">
                        <p-avatar icon="pi pi-user" styleClass="mr-2" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
                        {{part.name.length>15 ? (part.name | slice:0:15) : part.name}}
                    </span>
                    <div class="flex-grow-1"></div>
                    <!-- "space_management_add_acta" "tittle_delete_participants" : "Quitar participantes", -->
                    <fa-icon [icon]="faTimes" class="ml-1 cursor-pointer" pTooltip="Quitar participantes" (click)="removeParticipant(part._id)"></fa-icon>
                </div>
            </div>
        </p-card>
    </div>

    <ng-container class="w-full" *ngIf="allowFiles">
        <!-- <div class="flex flex-row align-items-center justify-content-center">
            <h3 class="mt-0 mb-1">Archivos</h3>
        </div> -->
        <p-fileUpload #fileuploader [auto]="true" [customUpload]="true" chooseLabel="Añadir archivos" [multiple]="true" [maxFileSize]="fileSizeLimit" accept="" name="myfile[]" (uploadHandler)="onUpload($event, fileuploader)">
            <ng-template let-file pTemplate="file">
                <div></div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="flex flex-row align-items-center justify-content-start m-2 cursor-pointer" *ngFor="let file of selectedFiles">
                    <fa-icon [icon]="faPaperclip" class="mr-1"></fa-icon>
                    <a pTooltip="Descargar" tooltipPosition="top" *ngIf="file.url" (click)="downloadUrl(file.url)">{{file.name}}</a>
                    <span pTooltip="Descargar" tooltipPosition="top" *ngIf="!file.url" (click)="downloadFile(file)">{{file.name}}</span>
                    <fa-icon [icon]="faTimes" class="ml-1" (click)="removeFile(file.name)"></fa-icon>
                </div>
            </ng-template>
        </p-fileUpload>
    </ng-container>
    <ng-container *ngIf="!editingEvent; else editButton">
        <p-button type="submit" label="Crear" (onClick)="createEvent()" [disabled]="event.invalid" styleClass=" field col-12  p-button-lg w-full border-round-2xl my-2 p-3 bg-primary"></p-button>
    </ng-container>
    <ng-template #editButton>
        <p-button type="submit" label="Guardar cambios" (onClick)="eventEdit()" [disabled]="event.invalid" styleClass=" field col-12  p-button-lg w-full border-round-2xl my-2 p-3 bg-primary"></p-button>
    </ng-template>
</ng-template>

<p-overlayPanel #opTeamCoach [dismissable]="false" [style]="{'width':'500px'}">
    <ng-template pTemplate>
        <div class="flex flex-row grid align-content-center align-items-center justify-content-center">
            <div class="formgrid grid col-10">
                <div class="field col-12 md:col-12 pt-3" style="max-width: 400px;">
                    <div class="flex">
                        <span class="p-float-label" style="width: 100%">
                            <p-multiSelect inputId="dropdownTeamCoach" [options]="teamCoachList" optionLabel="name" selectedItemsLabel="{0} Experto(s)" [style]="{ width: '100%' }" appendTo="body" display="chip" [(ngModel)]="selectedTeamCoach"></p-multiSelect>
                            <label for="dropdownTeamCoach">Team Coach(s)</label>
                        </span>
                    </div>
                </div>
            </div>
            <p-button class="h-2rem ml-2 p-button-raised field col-2" type="button" icon="pi pi-check" label="" pTooltip="Aceptar" (onClick)="addTeamCoach(); opTeamCoach.hide()">
            </p-button>
        </div>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #opExperts [dismissable]="false" [style]="{'width':'500px'}">
    <ng-template pTemplate>
        <div class="flex flex-row grid align-content-center align-items-center justify-content-center">
            <div class="formgrid grid col-10">
                <div class="field col-12 md:col-12 pt-3" style="max-width: 400px;">
                    <div class="flex">
                        <span class="p-float-label" style="width: 100%">
                            <p-multiSelect inputId="dropdownExperts" [options]="expertsList" optionLabel="name" selectedItemsLabel="{0} Experto(s)" [style]="{ width: '100%' }" appendTo="body" display="chip" [(ngModel)]="selectedExperts"></p-multiSelect>
                            <label for="dropdownExperts">Experto(s)</label>
                        </span>
                    </div>
                </div>
            </div>
            <p-button class="h-2rem ml-2 p-button-raised field col-2" type="button" icon="pi pi-check" label="" pTooltip="Aceptar" (onClick)="addExperts(); opExperts.hide()">
            </p-button>
        </div>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #opParticipants [dismissable]="false" [style]="{'width':'500px'}">
    <ng-template pTemplate>
        <div class="flex flex-row grid align-content-center align-items-center justify-content-center">
            <div class="formgrid grid col-10">
                <div class="field col-12 md:col-12 pt-3" style="max-width: 400px;">
                    <div class="flex">
                        <span class="p-float-label" style="width: 100%">
                            <p-multiSelect inputId="dropdownParticipants" [options]="entrepreneurList" optionLabel="name" selectedItemsLabel="{0} Participante(s)" [style]="{ width: '100%' }" appendTo="body" display="chip" [(ngModel)]="selectedParticipants"></p-multiSelect>
                            <label for="dropdownParticipants">Participante(s)</label>
                        </span>
                    </div>
                </div>
            </div>
            <p-button class="h-2rem ml-2 p-button-raised field col-2" type="button" icon="pi pi-check" label="" pTooltip="Aceptar" (onClick)="addParticipant(); opParticipants.hide()">
            </p-button>
        </div>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #opStartUps [dismissable]="false" [style]="{'width':'500px'}">
    <ng-template pTemplate>
        <div class="flex flex-row grid align-content-center align-items-center justify-content-center">
            <div class="formgrid grid col-10">
                <div class="field col-12 md:col-12 pt-3" style="max-width: 400px;">
                    <div class="flex">
                        <span class="p-float-label" style="width: 100%">
                            <p-multiSelect inputId="dropdownStartups" [options]="startupsList" optionLabel="name" selectedItemsLabel="{0} Startups" [style]="{ width: '100%' }" appendTo="body" display="chip" [(ngModel)]="selectedStartups"></p-multiSelect>
                            <label for="dropdownStartups">StartUp(s)</label>
                        </span>
                    </div>
                </div>
            </div>
            <p-button class="h-2rem ml-2 p-button-raised field col-2" type="button" icon="pi pi-check" label="" pTooltip="Aceptar" (onClick)="addStartup(); opStartUps.hide()">
            </p-button>
        </div>
    </ng-template>
</p-overlayPanel>