<ng-container *ngIf="!loaded; else formTemplate">
    <app-loading></app-loading>
</ng-container>
<ng-template #formTemplate>
    <div class="w-full flex flex-row gap-3">
        <i-tabler name="bulb" class="icon-dialog"></i-tabler>
        <div class="content-resource w-10 flex flex-column justify-content-center pb-2 pr-4">
            <h2 class="overflow-hidden white-space-nowrap text-overflow-ellipsis" [style.color]="'black'">Evento</h2>
            <div class="w-full flex flex-row gap-1">
                <span class="text-sm text-color-other"></span>
            </div>
        </div>
    </div>
    <p-divider></p-divider>
    <form [formGroup]="event" class="px-6">
        <div class="flex flex-row gap-2 align-items-center">
            <div class="field">
                <label for="assistantType">{{phaseEventsConstant.typesAssistant}}</label>
                <p-selectButton inputId="assistantType" [options]="stateOptionsAssistant" formControlName="attendanceType" class="inputfield mt-2"></p-selectButton>
            </div>
            <div class="field" *ngIf="event.value.attendanceType === attendanceTypes.virtual" style="flex: 1">
                <span class="app-input-field" style="width: 100%">
                    <label for="url">{{generalConstant.url}}</label>
                    <input pInputText type="text" [(ngModel)]="extra_options['url']" placeholder="Url" [readOnly]="editingEvent" required>
                </span>
            </div>
        </div>
        <div class="formgrid grid pt-2">
            <div style="height: 1rem;"></div>
            <div class="field col-12 md:col-6">
                <span class="app-input-field">
                    <label for="name">{{generalConstant.name}}</label>
                    <input pInputText type="text" formControlName="name" placeholder="Nombre" required>
                </span>
            </div>
            <div class="field col-12 md:col-6">
                <span class="app-input-field" style="width: 100%">
                    <label for="typeEvent">{{phaseEventsConstant.typeEvent}}</label>
                    <p-dropdown inputId="typeEvent" [autoDisplayFirst]="true" [options]="typeEvents" optionLabel="name" appendTo="body" optionValue="_id" [style]="{ width: '100%' }" formControlName="type" (onChange)="selectionType($event.value)">
                    </p-dropdown>
                </span>
            </div>
            <div class="field col-6 pt-3 md:col-6">
                <span class="app-input-field" style="width: 100%">
                    <label for="calendar-first">{{generalConstant.begin}}</label>
                    <p-calendar inputId="calendar-first" [readonlyInput]="true" appendTo="body" [style]="{ width: '100%' }" formControlName="startAt" [showTime]="true"></p-calendar>
                </span>
            </div>
            <div class="field col-6 pt-3 md:col-6">
                <span class="app-input-field" style="width: 100%">
                    <label for="calendar-first">{{generalConstant.end}}</label>
                    <p-calendar inputId="calendar-first" [readonlyInput]="true" appendTo="body" [style]="{ width: '100%' }" formControlName="endAt" [showTime]="true"></p-calendar>
                </span>
            </div>
            <div class="field col-12 pt-3 md:col-12 ">
                <span class="app-input-field">
                    <label for="descEvent">{{generalConstant.description}}</label>
                    <textarea id="descEvent" rows="3" style="width: 100%;" formControlName="description" pInputTextarea></textarea>
                </span>

            </div>
            <div style="height: 1rem;"></div>
        </div>
    </form>
    <p-divider></p-divider>
    <div class="flex flex-row w-full align-items-center px-6">
        <h3>Participantes</h3>
        <div class="flex flex-row gap-3 pl-3 justify-content-end" style="flex: 1">
            <span (click)="opParticipants.toggle($event)" class="button-blue cursor-pointer p-3 border-round">
                <fa-icon [icon]="faPlus"></fa-icon> Añadir Participante(s)
            </span>
            <span (click)="opStartUps.toggle($event)" class="button-blue cursor-pointer p-3 border-round">
                <fa-icon [icon]="faPlus"></fa-icon> Añadir StartUp(s)
            </span>
        </div>
    </div>
    <div class="flex w-full justify-content-center align-items-center">
        <p-table class="table-container border-round-2xl table-dialog w-11" [value]="participants" dataKey="_id" editMode="row" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5, 10, 15]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:90%">Nombre</th>
                    <th style="width:10%" class="text-center">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-participant let-ri="rowIndex">
                <tr>
                    <td [pTooltip]="(ri+1) + ' - ' + participant.name">
                        {{participant.name.length>15 ? (participant.name | slice:0:15) : participant.name}}
                    </td>
                    <td>
                        <div class="flex align-items-center justify-content-center">
                            <i-tabler name="trash" class="ml-1 cursor-pointer" pTooltip="Quitar participante" (click)="removeParticipant(participant._id)" *ngIf="allowEdit"></i-tabler>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-divider></p-divider>
    <div class="flex flex-row w-full align-items-center px-6">
        <h3>Experts y team coaches</h3>
        <div class="flex flex-row gap-3 pl-3 justify-content-end" style="flex: 1">
            <span (click)="opTeamCoach.toggle($event)" class="button-blue cursor-pointer p-3 border-round">
                <fa-icon [icon]="faPlus"></fa-icon> Añadir team coach(s)
            </span>
            <span (click)="opExperts.toggle($event)" class="button-blue cursor-pointer p-3 border-round">
                <fa-icon [icon]="faPlus"></fa-icon> Añadir experts
            </span>
        </div>
    </div>
    <div class="flex w-full flex-row px6 justify-content-between gap-4 px-6">
        <!-- Team Coaches -->
        <p-table class="table-container border-round-2xl table-dialog w-5" [value]="teamCoaches" dataKey="_id" editMode="row" [rows]="3" [paginator]="true" [rowsPerPageOptions]="[3, 10, 15]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:90%">Team coach</th>
                    <th style="width:10%" class="text-center">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-teamCoach let-ri="rowIndex">
                <tr>
                    <td [pTooltip]="(ri+1) + ' - ' + teamCoach.name">
                        {{teamCoach.name.length>15 ? (teamCoach.name | slice:0:15) : teamCoach.name}}
                    </td>
                    <td>
                        <div class="flex align-items-center justify-content-center">
                            <i-tabler name="trash" class="ml-1 cursor-pointer" pTooltip="Quitar team Coach" (click)="
                                    removeTeamCoach(teamCoach._id)" *ngIf="allowEdit"></i-tabler>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <!-- Expertos -->
        <p-table class="table-container border-round-2xl table-dialog w-5" [value]="experts" dataKey="_id" editMode="row" [rows]="3" [paginator]="true" [rowsPerPageOptions]="[3, 10, 15]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:90%">Expert</th>
                    <th style="width:10%" class="text-center">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-expert let-ri="rowIndex">
                <tr>
                    <td [pTooltip]="(ri+1) + ' - ' + expert.name">
                        {{expert.name.length>15 ? (expert.name | slice:0:15) : expert.name}}
                    </td>
                    <td>
                        <div class="flex align-items-center justify-content-center">
                            <i-tabler name="trash" class="ml-1 cursor-pointer" pTooltip="Quitar experto" (click)="
                            removeExpert(expert._id)" *ngIf="allowEdit"></i-tabler>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-divider></p-divider>
    <div class="w-full px-6" *ngIf="allowFiles">
        <!-- <div class="flex flex-row align-items-center justify-content-center">
            <h3 class="mt-0 mb-1">Archivos</h3>
        </div> -->
        <p-fileUpload #fileuploader [auto]="true" [customUpload]="true" chooseLabel="Añadir archivos" [multiple]="true" [maxFileSize]="fileSizeLimit" accept="" name="myfile[]" (uploadHandler)="onUpload($event, fileuploader)" [disabled]="!allowEdit">
            <ng-template pTemplate="toolbar">
                <p-checkbox [binary]="true" [label]="'Se habilitará la opción para que los participantes puedan visualizar los archivos.'" [(ngModel)]="extra_options.allow_viewFiles" inputId="allowViewFiles" [disabled]="!allowEdit"></p-checkbox>
            </ng-template>
            <ng-template let-file pTemplate="file">
                <div></div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="flex flex-row align-items-center justify-content-start m-2 cursor-pointer" *ngFor="let file of selectedFiles">
                    <fa-icon [icon]="faPaperclip" class="mr-1"></fa-icon>
                    <a pTooltip="Descargar" tooltipPosition="top" *ngIf="file.url" (click)="downloadUrl(file.url)">{{file.name}}</a>
                    <span pTooltip="Descargar" tooltipPosition="top" *ngIf="!file.url" (click)="downloadFile(file)">{{file.name}}</span>
                    <fa-icon [icon]="faTimes" class="ml-1" (click)="removeFile(file.name)" *ngIf="allowEdit"></fa-icon>
                </div>
            </ng-template>
        </p-fileUpload>
    </div>
    <div class="flex align-items-center justify-content-center">
        <ng-container *ngIf="!editingEvent; else editButton">
            <p-button type="submit" label="Crear" (onClick)="createEvent()" [disabled]="event.invalid || !allowEdit" styleClass="  border-round-2xl my-2 p-3 bg-primary"></p-button>
        </ng-container>
        <ng-template #editButton>
            <p-button type="submit" label="Guardar cambios" (onClick)="eventEdit()" [disabled]="event.invalid || !allowEdit" styleClass="  border-round-2xl my-2 p-3 bg-primary"></p-button>
        </ng-template>
    </div>

</ng-template>

<p-overlayPanel #opTeamCoach [dismissable]="false" [showCloseIcon]="true" [style]="{'width':'500px'}">
    <ng-template pTemplate>
        <div class="flex flex-row grid align-content-center align-items-center justify-content-center">
            <div class="formgrid grid col-10">
                <div class="field col-12 md:col-12 pt-3" style="max-width: 400px;">
                    <div class="flex">
                        <span class="p-float-label" style="width: 100%">
                            <p-multiSelect inputId="dropdownTeamCoach" [options]="teamCoachList" optionLabel="name" selectedItemsLabel="{0} Experto(s)" [style]="{ width: '100%' }" appendTo="body" display="chip" [(ngModel)]="selectedTeamCoach"></p-multiSelect>
                            <label for="dropdownTeamCoach">Team Coach(s)</label>
                        </span>
                    </div>
                </div>
            </div>
            <p-button class="h-2rem ml-2 p-button-raised field col-2" type="button" icon="pi pi-check" label="" pTooltip="Aceptar" (onClick)="addTeamCoach(); opTeamCoach.hide()">
            </p-button>
        </div>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #opExperts [dismissable]="false" [showCloseIcon]="true" [style]="{'width':'500px'}">
    <ng-template pTemplate>
        <div class="flex flex-row grid align-content-center align-items-center justify-content-center">
            <div class="formgrid grid col-10">
                <div class="field col-12 md:col-12 pt-3" style="max-width: 400px;">
                    <div class="flex">
                        <span class="p-float-label" style="width: 100%">
                            <p-multiSelect inputId="dropdownExperts" [options]="expertsList" optionLabel="name" selectedItemsLabel="{0} Experto(s)" [style]="{ width: '100%' }" appendTo="body" display="chip" [(ngModel)]="selectedExperts"></p-multiSelect>
                            <label for="dropdownExperts">Experto(s)</label>
                        </span>
                    </div>
                </div>
            </div>
            <p-button class="h-2rem ml-2 p-button-raised field col-2" type="button" icon="pi pi-check" label="" pTooltip="Aceptar" (onClick)="addExperts(); opExperts.hide()">
            </p-button>
        </div>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #opParticipants [dismissable]="false" [showCloseIcon]="true" [style]="{'width':'500px'}">
    <ng-template pTemplate>
        <div class="flex flex-row grid align-content-center align-items-center justify-content-center">
            <div class="formgrid grid col-10">
                <div class="field col-12 md:col-12 pt-3" style="max-width: 400px;">
                    <div class="flex">
                        <span class="p-float-label" style="width: 100%">
                            <p-multiSelect inputId="dropdownParticipants" [options]="entrepreneurList" optionLabel="name" selectedItemsLabel="{0} Participante(s)" [style]="{ width: '100%' }" appendTo="body" display="chip" [(ngModel)]="selectedParticipants"></p-multiSelect>
                            <label for="dropdownParticipants">Participante(s)</label>
                        </span>
                    </div>
                </div>
            </div>
            <p-button class="h-2rem ml-2 p-button-raised field col-2" type="button" icon="pi pi-check" label="" pTooltip="Aceptar" (onClick)="addParticipant(); opParticipants.hide()">
            </p-button>
        </div>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #opStartUps [dismissable]="false" [showCloseIcon]="true" [style]="{'width':'500px'}">
    <ng-template pTemplate>
        <div class="flex flex-row grid align-content-center align-items-center justify-content-center">
            <div class="formgrid grid col-10">
                <div class="field col-12 md:col-12 pt-3" style="max-width: 400px;">
                    <div class="flex">
                        <span class="p-float-label" style="width: 100%">
                            <p-multiSelect inputId="dropdownStartups" [options]="startupsList" optionLabel="name" selectedItemsLabel="{0} Startups" [style]="{ width: '100%' }" appendTo="body" display="chip" [(ngModel)]="selectedStartups"></p-multiSelect>
                            <label for="dropdownStartups">StartUp(s)</label>
                        </span>
                    </div>
                </div>
            </div>
            <p-button class="h-2rem ml-2 p-button-raised field col-2" type="button" icon="pi pi-check" label="" pTooltip="Aceptar" (onClick)="addStartup(); opStartUps.hide()">
            </p-button>
        </div>
    </ng-template>
</p-overlayPanel>