<ng-container *ngIf="loaded; else loadingTemplate">
    <ng-container *ngIf="validCode; else invalidCode">
        <div class="w-full flex align-items-center justify-content-center">
            <h2>Integración Exitosa, espere un momento por favor</h2>
        </div>

    </ng-container>
    <ng-template #invalidCode>
        <h2>Código invalido, revize la integración con Zoom</h2>
    </ng-template>
</ng-container>
<ng-template #loadingTemplate>
    <div class="flex w-full h-full justify-content-center align-items-center">
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-template>