<ng-container *ngIf="loaded; else loadingTemplate">
    <div class="p-4">
        <div class="w-full flex flex-row w-full gap-4 text-white justify-content-between align-items-center ">
            <h2>Evaluaciones</h2>
            <div class="flex flex-row gap-2">
                <!-- <p-button label="Vista previa" icon="pi pi-eye"></p-button> -->
                <p-button *ngIf="user?.allowed(userPermission.evaluation_create)" label="Crear evaluación"
                    icon="pi pi-plus" (onClick)="openCreator()"></p-button>
            </div>
        </div>
        <p-accordion class="w-full h-full">
            <p-accordionTab *ngFor="let item of configEvaluationList">
                <ng-template pTemplate="header">
                    <div class="w-full flex flex-row align-items-center justify-content-between">
                        <div class="flex align-items-center">
                            <i class="pi pi-calendar mr-2"></i>
                            <span class="vertical-align-middle">{{item.title}}</span>
                        </div>
                        <div class="flex gap-2">
                            <p-button *ngIf="user?.allowed(userPermission.evaluation_edit)" icon="pi pi-pencil"
                                styleClass="p-button-rounded p-button-text p-button-raised"
                                (onClick)="openCreator(item)" pTooltip="Editar evaluación"></p-button>
                            <p-button *ngIf="user?.allowed(userPermission.evaluation_edit)" icon="pi pi-trash"
                                styleClass="p-button-rounded p-button-danger p-button-raised"
                                (onClick)="deleteConfig(item)" pTooltip="Borrar evaluación"></p-button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <app-evaluation-tables *ngIf="item" [config]="item"></app-evaluation-tables>
                </ng-template>
            </p-accordionTab>
        </p-accordion>
    </div>
</ng-container>
<ng-template #loadingTemplate>
    <app-loading></app-loading>
</ng-template>

<p-dialog header="" [(visible)]="showCreatorEvaluation" [style]="{ width: '80vw' }" [draggable]="false"
    [resizable]="false" [modal]="true" (onHide)="resetCreator()" maskStyleClass="dialog-app"
    [breakpoints]="{'960px': '85vw', '640px': '100vw'}" appendTo="body">
    <div class="w-full flex flex-row gap-3">
        <i-tabler name="bulb" class="icon-dialog"></i-tabler>
        <div class="content-resource w-10 flex flex-column justify-content-center pb-2 pr-4">
            <h2 class="overflow-hidden white-space-nowrap text-overflow-ellipsis" [style.color]="'black'">
                {{newConfigEvaluation.get('_id').value ? 'Editar evaluación' : 'Crear evaluación'}}</h2>
            <div class="w-full flex flex-row gap-1">
                <span class="text-sm text-color-other">Crea un evento para este batch</span>
            </div>
        </div>
    </div>
    <p-divider>

    </p-divider>
    <form [formGroup]="newConfigEvaluation" class="justify-content-center w-full formgrid grid gap-4 px-4">
        <div class="field col-12 md:col-5">
            <span class=" app-input-field">
                <label for="name">Nombre</label>
                <input pInputText type="text" formControlName="title" placeholder="Nombre" required>
            </span>
        </div>
        <div class="field col-12 md:col-5">
            <span class=" app-input-field">
                <label for="formSelector">Formulario</label>
                <p-dropdown styleClass="w-full" id="formSelector" [options]="forms" formControlName="form"
                    optionLabel="label" optionValue="id" [style]="{ width: '100%' }" appendTo="body"
                    [autoDisplayFirst]="false" [readonly]="newConfigEvaluation.get('_id').value"></p-dropdown>
            </span>
        </div>
        <div class="field col-12 md:col-5">
            <span class=" app-input-field ">
                <label for="reviewers">Quienes evalúan</label>
                <p-dropdown styleClass="w-full" id="reviewers" [options]="reviewers" formControlName="reviewer"
                    optionLabel="name" optionValue="value" [style]="{ width: '100%' }" appendTo="body"
                    [autoDisplayFirst]="false"
                    [ngClass]="{'ng-invalid ng-dirty': newConfigEvaluation.hasError('avoidMatchValidator')}"
                    [readonly]="newConfigEvaluation.get('_id').value"></p-dropdown>
                <small *ngIf="newConfigEvaluation.hasError('avoidMatchValidator')" class="error-message">Quienes evalúan
                    no pueden ser igual a quienes son evaluados</small>
            </span>
        </div>
        <div class="field col-12 md:col-5">
            <span class=" app-input-field ">
                <label for="evaluated">Quienes son evaluados</label>
                <p-dropdown styleClass="w-full" id="evaluated" [options]="evaluated" formControlName="evaluated"
                    optionLabel="name" optionValue="value" [style]="{ width: '100%' }" appendTo="body"
                    [autoDisplayFirst]="false"
                    [ngClass]="{'ng-invalid ng-dirty': newConfigEvaluation.hasError('avoidMatchValidator')}"
                    [readonly]="newConfigEvaluation.get('_id').value"></p-dropdown>
                <small *ngIf="newConfigEvaluation.hasError('avoidMatchValidator')" class="error-message">Quienes evalúan
                    no pueden ser igual a quienes son evaluados</small>
            </span>
        </div>
        <div class="field col-12">
            <span class=" app-input-field">
                <p-divider></p-divider>
            </span>
        </div>

        <div class="field col-12 md:col-5">
            <span class=" app-input-field">
                <label for="calendar-first">Inicia</label>
                <p-calendar inputId="calendar-first" [readonlyInput]="true" appendTo="body" [style]="{ width: '100%' }"
                    formControlName="startAt" [showTime]="true"></p-calendar>
            </span>
        </div>

        <div class="field col-12 md:col-5">
            <span class=" app-input-field">
                <label for="calendar-first">Termina</label>
                <p-calendar inputId="calendar-first" [readonlyInput]="true" appendTo="body" [style]="{ width: '100%' }"
                    formControlName="endAt" [showTime]="true"
                    [minDate]="newConfigEvaluation.get('startAt').value"></p-calendar>
            </span>
        </div>

        <div class="field col-12">
            <span class=" app-input-field">
                <p-divider></p-divider>
            </span>
        </div>

        <div class="field col-12 px-8">
            <span class="app-input-field">
                <label for="descEvent">Descripción</label>
                <textarea id="descEvent" rows="3" formControlName=" description" pInputTextarea></textarea>
            </span>
        </div>

        <div style="height: 1rem;"></div>
    </form>
    <div class="flex justify-content-center">
        <ng-container *ngIf="!newConfigEvaluation.get('_id').value; else editButton">
            <p-button type="submit" label="Crear" (onClick)="createConfig()" styleClass="mt-3 bg-primary"
                [disabled]="saving || newConfigEvaluation.invalid"></p-button>
        </ng-container>
        <ng-template #editButton>
            <p-button type="submit" label="Guardar cambios" (onClick)="saveEditConfig()" styleClass="mt-3 bg-primary"
                [disabled]="saving || newConfigEvaluation.invalid"></p-button>
        </ng-template>
    </div>

</p-dialog>

<p-confirmDialog key="confirmDialog" [style]="{ width: '50vw' }"></p-confirmDialog>